<div class="step-form step5 px-3 pt-3">
    <div class="row">
        <div class="col-12">
            <span class="fwb">Profile Title</span>
            <div class="card-item border pl-2 df jcb aic mb-3">
                <div class="card-title fwsm mb-0">
                    <svg viewBox="0 0 496 512" height="20" class="mr-2">
                        <path fill="currentColor"
                            class=""></path>
                    </svg>{{(!edit_mode)?title:''}} <input *ngIf="edit_mode" id="title" type="text" [(ngModel)]="title" required>
                </div>
                
                <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" (click)="toggle_edit_mode(edit_mode)" type="button" class="btn border m-1 edit">
                    <svg *ngIf="!edit_mode" height="16" viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                        </path>
                    </svg>
                    <svg *ngIf="edit_mode"  height="16" viewBox="0 0 515.556 515.556" class="mr-2"><path fill="currentColor" d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z"></path></svg>
                </button>
            </div>
            <div class="card mks-card mb-3">
                <div class="card-header df jcb aic">
                    <span class="fwb">Experience</span>
                    <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button" class="btn btn-sm border bg-white" (click)="addNew()">+ Add More</button>
                </div>
                <div class="card-body">

                    <div *ngFor="let lst of experiences" class="card-item p-3 border-bottom df aic">
                        <div class="card-icon border df jcc aic rounded-pill mr-3">icon</div>
                        <div class="card-content">
                            <div class="card-title fwsm">{{lst.role_name}} - {{lst.designation}}</div>
                            <div class="card-subtitle mb-0 text-mutedfwm">{{lst.orgname}}</div>
                            <!-- <small class="card-location text-muted">Location : {{}}</small> -->
                        </div>
                        <small class="duration texr-muted">
                            <b>From</b> - {{lst.startdate | date:'dd MMM yyyy'}} <b>To</b> {{lst.endDate | date:'dd MMM yyyy'}}
                        </small>
                        <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" (click)="addNew(lst)" type="button" class="btn btn-sm border edit">
                            <svg height="16" viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                </path>
                            </svg>
                        </button>
                        <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" (click)="delete(lst.exid)" type="button" style="margin-right: 33px;"
                            class="btn btn-sm btn-danger border edit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="text-right df jcb bg-light mx-n3 p-3">
        <button type="button" (click)="previous()" class="btn btn-secondary">Previous (Address)</button>
        <button type="button" (click)="next()" class="btn btn-primary">Next (Education)</button>
    </div>
</div>