#title {
    outline: 0;
    border-width: 0 0 2px;
    border-color: blue;
    line-height: 30px;
    width: 95%;
  }
  input:focus {
    border-bottom-color: green;
  }

  .card-title{
      width: 100% !important;
  }