<div class="row">
    <div class="col-sm-12">
        <form [formGroup]="competency" (ngSubmit)="submit()">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title" id="competenciescardLabel">Add Competencies <span class="float-right"
                            aria-hidden="true" (click)="close()" style="cursor: pointer;">&times;</span></h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="" class="req text-info">Competency</label>
                        <select formControlName="competencyname" [ngClass]="{'is-invalid':submitted && f.competencyname.errors}" class="form-control">
                            <option value="">--Select--</option>
                            <option *ngFor="let lst of competanceData" [value]="lst.competencyname">
                                {{lst.competencyname}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="req text-info">Year of Exp.</label>
                        <input type="number" formControlName="years_of_exp" [ngClass]="{'is-invalid':submitted && f.years_of_exp.errors}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="" class="req text-info">Scale (1-10)</label>
                        <input  formControlName="competencyscale" [ngClass]="{'is-invalid':submitted && f.competencyscale.errors}" type="number" class="form-control">
                    </div>

                </div>
                <div class="card-footer">
                    <button type="button" (click)="close()" class="btn btn-secondary" data-dismiss="card">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>