<div class="card">
    <form [formGroup]="techQuestion" (ngSubmit)="submitTechSkill()">
        <div class="card-header">
            <h5 class="card-title" id="addFeedbackLabel">Add Technical Skills Question <button (click)="close()"
                    class="float-right" type="button">
                    <span aria-hidden="true">&times;</span>
                </button></h5>

        </div>
        <div class="card-body" style="height: 400px;overflow-y: auto;">
            <div class="container skill-cont">
                <div class="row card-quest form-group">
                    <div class="col-sm-12 mb-3">
                        <div class="form-group">
                            <label for="">Question</label>
                            <textarea rows="2" class="form-control form-control-sm" placeholder="Questions"
                                formControlName="questiontext"
                                [ngClass]="{ 'is-invalid': techskillsubmit && f.questiontext.errors }"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Expected Answer</label>
                            <textarea class="form-control form-control-sm" placeholder="Expected Answer"
                                formControlName="expectedanswer"
                                [ngClass]="{ 'is-invalid': techskillsubmit && f.expectedanswer.errors }"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Actual Answer</label>
                            <textarea class="form-control form-control-sm" placeholder="Actual Answer"
                                formControlName="answergiven"
                                [ngClass]="{ 'is-invalid': techskillsubmit && f.answergiven.errors }"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Select Complexity</label>
                            <select class="form-control form-control-sm" formControlName="questiontype"
                                (change)="change_complexity_of_tech_skill($event.target.value)"
                                [ngClass]="{ 'is-invalid': techskillsubmit && f.questiontype.errors }">
                                <option value="">select Complexity</option>
                                <option value="simple">Simple</option>
                                <option value="average">Average</option>
                                <option value="complex">Complex</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Select Marks</label>
                            <select class="form-control form-control-sm" formControlName="marks"
                                (change)="change_marks_of_tech_skill($event.target.value)"
                                [ngClass]="{ 'is-invalid': techskillsubmit && f.marks.errors }">
                                <option value="">select Marks</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Weight</label>
                            <input class="form-control form-control-sm" type="text" placeholder="Weight"
                                formControlName="weight" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Weightage Score</label>
                            <input class="form-control form-control-sm" type="text" placeholder="Weightage score"
                                formControlName="weightedscore" readonly>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer py-2">
            <button type="submit" class="btn btn-success float-right">Save</button>
        </div>
    </form>
</div>