<div class="row">
    <div class="col-md-9">
        <div class="profile-card bg-white mb-4 shadow rounded">
            <div class="step-bar rounded bg-light p-3">
                <ul class="progressbar pl-0">
                    <li class="active"><span>Basic Info</span></li>
                    <li class="active"><span>Job Summary</span></li>
                    <li><span>Id Details</span></li>
                    <li><span>Address</span></li>
                    <li><span>Education</span></li>
                    <li><span>Work Experience</span></li>
                    <li><span>Key Skills</span></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="step-form step1 px-3 pt-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                            <span>Email: <b>vikram@gmail.com</b></span>
                            <span>Mobile: <b>9988774563</b></span>
                            <span>ID: <b>546855</b></span>
                        </div>
                        <h6 class="fwb mb-4">Basic Information</h6>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 text-right mb-0">Title</label>
                            <div class="col-sm-4">
                                <select name="" id="" class="form-control">
                                    <option value="Mr.">Mr.</option>
                                    <option value="Mrs.">Mrs.</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 text-right mb-0">Gender</label>
                            <div class="col-sm-9">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Female</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">Transgender</label>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 text-right mb-0">First Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 text-right mb-0">Last Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 text-right mb-0">Nationality</label>
                            <div class="col-sm-8">
                                <select name="" id="" class="form-control">
                                    <option value="Indian">Indian</option>
                                    <option value="NRI">NRI</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 text-right mb-0">Date Of Birth</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 text-right mb-0">Current
                                Salary<br><small>Annualy</small></label>
                            <div class="col-sm-8">
                                <div class="form-inline">
                                    <select name="" id="" class="form-control">
                                        <option value="">Lacs</option>
                                    </select>
                                    <select name="" id="" class="form-control">
                                        <option value="">Thousand</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 text-right mb-0">Upload Resume</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                            aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right bg-light mx-n3 p-3">
                    <button class="btn btn-primary">Next (Job Info)</button>
                </div>
            </div>
            <div class="step-form step2 px-3 pt-3">
                <div class="row">
                    <div class="col-sm-12">
                        <h6 class="fwb mb-4">Job Information (Current)</h6>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Industry</label>
                            <div class="col-sm-7">
                                <select name="" id="" class="form-control">
                                    <option value="Indian">Industry1</option>
                                    <option value="NRI">Industry2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Functional Area</label>
                            <div class="col-sm-7">
                                <select name="" id="" class="form-control">
                                    <option value="Indian">Area1</option>
                                    <option value="NRI">Area2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Role</label>
                            <div class="col-sm-7">
                                <select name="" id="" class="form-control">
                                    <option value="Indian">Role1</option>
                                    <option value="NRI">Role2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Location</label>
                            <div class="col-sm-7">
                                <select name="" id="" class="form-control">
                                    <option value="Indian">Location1</option>
                                    <option value="NRI">Location 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Prefered Location</label>
                            <div class="col-sm-7">
                                <select name="" id="" class="form-control">
                                    <option value="Indian">Location1</option>
                                    <option value="NRI">Location 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Notice Period</label>
                            <div class="col-sm-7">
                                <select name="" id="" class="form-control">
                                    <option value="Indian">1 Month</option>
                                    <option value="NRI">2 Month</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Upload Resume</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                            aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right df jcb bg-light mx-n3 p-3">
                    <button class="btn btn-secondary">Previous (Basic Info)</button>
                    <button class="btn btn-primary">Next (Id Details)</button>
                </div>
            </div>
            <div class="step-form step3 px-3 pt-3">
                <div class="row">
                    <div class="col-sm-12">
                        <h6 class="fwb mb-4">Your ID</h6>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">ID Type</label>
                            <div class="col-sm-7">
                                <select name="" id="" class="form-control">
                                    <option value="Indian">ID Type1</option>
                                    <option value="NRI">ID Type2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">ID No.</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="ID Number">
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Attach ID</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                            aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Pan No.</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Pan Number">
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Attach PAN</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                            aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right df jcb bg-light mx-n3 p-3">
                    <button class="btn btn-secondary">Previous (Job Info)</button>
                    <button class="btn btn-primary">Next (Adress)</button>
                </div>
            </div>
            <div class="step-form step4 px-3 pt-3">
                <div class="row">
                    <div class="col-sm-12">
                        <h6 class="fwb mb-4">Address Details</h6>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Address Line1</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Line1">
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Address Line2</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Line2">
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Country</label>
                            <div class="col-sm-5">
                                <select name="" id="" class="form-control">
                                    <option value="">India</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">State</label>
                            <div class="col-sm-5">
                                <select name="" id="" class="form-control">
                                    <option value="">Delhi</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">City</label>
                            <div class="col-sm-5">
                                <select name="" id="" class="form-control">
                                    <option value="">New Delhi</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Pin code</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="Pin code">
                            </div>
                        </div>
                        <div class="row form-group align-items-center">
                            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Address Proof</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                            aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right df jcb bg-light mx-n3 p-3">
                    <button class="btn btn-secondary">Previous (Id Details)</button>
                    <button class="btn btn-primary">Next (Experience)</button>
                </div>
            </div>
            <div class="step-form step5 px-3 pt-3">
                <div class="row">
                    <div class="col-12">
                        <small>Profile Title</small>
                        <div class="card-item border pl-2 df jcb aic mb-3">
                            <div class="card-title fwsm mb-0">
                                <svg viewBox="0 0 496 512" height="20" class="mr-2">
                                    <path fill="currentColor"
                                        d="M248 104c-53 0-96 43-96 96s43 96 96 96 96-43 96-96-43-96-96-96zm0 144c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm0-240C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-49.7 0-95.1-18.3-130.1-48.4 14.9-23 40.4-38.6 69.6-39.5 20.8 6.4 40.6 9.6 60.5 9.6s39.7-3.1 60.5-9.6c29.2 1 54.7 16.5 69.6 39.5-35 30.1-80.4 48.4-130.1 48.4zm162.7-84.1c-24.4-31.4-62.1-51.9-105.1-51.9-10.2 0-26 9.6-57.6 9.6-31.5 0-47.4-9.6-57.6-9.6-42.9 0-80.6 20.5-105.1 51.9C61.9 339.2 48 299.2 48 256c0-110.3 89.7-200 200-200s200 89.7 200 200c0 43.2-13.9 83.2-37.3 115.9z"
                                        class=""></path>
                                </svg> Senior Architect Looking for a Leadership Role
                            </div>
                            <button type="button" class="btn border m-1 edit">
                                <svg height="16" viewBox="0 0 512 512">
                                    <path fill="currentColor"
                                        d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                        <div class="card mks-card mb-3">
                            <div class="card-header df jcb aic">
                                <span class="fwb">Experience</span>
                                <button class="btn btn-sm border bg-white" data-toggle="modal"
                                    data-target="#experienceModal">+ Add More</button>
                            </div>
                            <div class="card-body">
                                <div class="card-item border-bottom df aic">
                                    <div class="card-icon border df jcc aic rounded-pill mr-3">
                                        <img src="images/banner2.jpg" class="card-icon rounded-pill" alt="">
                                    </div>
                                    <div class="card-content">
                                        <div class="card-title fwsm">Consulting Member - Technical Staff</div>
                                        <div class="card-subtitle mb-0 text-mutedfwm">Oracle</div>
                                        <small class="card-location text-muted">Location : Noida</small>
                                    </div>
                                    <small class="duration texr-muted">
                                        <i class="fwm">Currently Working -</i>
                                        2 yrs 5 months
                                    </small>
                                    <button type="button" class="btn border edit">
                                        <svg height="16" viewBox="0 0 512 512">
                                            <path fill="currentColor"
                                                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                                <div class="card-item df aic">
                                    <div class="card-icon border df jcc aic rounded-pill mr-3">icon</div>
                                    <div class="card-content">
                                        <div class="card-title fwsm">Consulting Member - Technical Staff</div>
                                        <div class="card-subtitle mb-0 text-mutedfwm">Oracle</div>
                                        <small class="card-location text-muted">Location : Noida</small>
                                    </div>
                                    <small class="duration texr-muted">
                                        2 yrs 5 months
                                    </small>
                                    <button type="button" class="btn border edit">
                                        <svg height="16" viewBox="0 0 512 512">
                                            <path fill="currentColor"
                                                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card mks-card mb-3">
                            <div class="card-header df jcb aic">
                                <span class="fwb">Education</span>
                                <button class="btn btn-sm border bg-white" data-toggle="modal"
                                    data-target="#educationModal">+ Add More</button>
                            </div>
                            <div class="card-body">
                                <div class="card-item border-bottom df aic">
                                    <div class="card-icon border df jcc aic rounded-pill mr-3">
                                        <img src="images/banner2.jpg" class="card-icon rounded-pill" alt="">
                                    </div>
                                    <div class="card-content">
                                        <div class="card-title fwsm">Master / Post Graduation</div>
                                        <div class="card-subtitle mb-0 text-mutedfwm">Indian Institute of Technology
                                            Delhi</div>
                                        <small class="card-location text-muted">Full Time : 1999 - 2000</small>
                                    </div>
                                    <button type="button" class="btn border edit">
                                        <svg height="16" viewBox="0 0 512 512">
                                            <path fill="currentColor"
                                                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                                <div class="card-item df aic">
                                    <div class="card-icon border df jcc aic rounded-pill mr-3">icon</div>
                                    <div class="card-content">
                                        <div class="card-title fwsm">Graduation Diploma / (BE/B-tech)</div>
                                        <div class="card-subtitle mb-0 text-mutedfwm">Punjab</div>
                                        <small class="card-location text-muted">Full Time : 1992-1996</small>
                                    </div>
                                    <button type="button" class="btn border edit">
                                        <svg height="16" viewBox="0 0 512 512">
                                            <path fill="currentColor"
                                                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card mks-card mb-3">
                            <div class="card-header df jcb aic">
                                <span class="fwb">Key Competencies</span>
                                <button class="btn btn-sm border bg-white" data-toggle="modal"
                                    data-target="#competenciesModal">+ Add More</button>
                            </div>
                            <div class="card-body">
                                <div class="card-item border-bottom df aic">
                                    <div class="card-icon sm-icn border df jcc aic rounded-pill mr-3">
                                        <img src="images/banner2.jpg" class="card-icon sm-icn rounded-pill" alt="">
                                    </div>
                                    <div class="card-content">
                                        <div class="card-title mb-0 fwsm">Enterprise Achitecture</div>
                                        <small class="card-location text-muted">5 yrs 2 months</small>
                                    </div>
                                    <button type="button" class="btn border edit">
                                        <svg height="16" viewBox="0 0 512 512">
                                            <path fill="currentColor"
                                                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                                <div class="card-item border-bottom df aic">
                                    <div class="card-icon sm-icn border df jcc aic rounded-pill mr-3">
                                        <img src="images/banner2.jpg" class="card-icon sm-icn rounded-pill" alt="">
                                    </div>
                                    <div class="card-content">
                                        <div class="card-title mb-0 fwsm">Enterprise Achitecture</div>
                                        <small class="card-location text-muted">5 yrs 2 months</small>
                                    </div>
                                    <button type="button" class="btn border edit">
                                        <svg height="16" viewBox="0 0 512 512">
                                            <path fill="currentColor"
                                                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card mks-card mb-3">
                            <div class="card-header df jcb aic">
                                <span class="fwb">Desired Career Details</span>
                                <button type="button" class="btn border edit">
                                    <svg height="16" viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                            d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="card-item df aic">
                                            <div class="card-content">
                                                <small class="card-location text-muted">Desired Industry</small>
                                                <div class="card-title text-primary mb-0 fwsm">IT Hardware & Networking
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card-item df aic">
                                            <div class="card-content">
                                                <small class="card-location text-muted">Desired Profile</small>
                                                <div class="card-title text-primary mb-0 fwsm">Senior Architect, CIO,
                                                    CTO</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card-item df aic">
                                            <div class="card-content">
                                                <small class="card-location text-muted">Desired Location</small>
                                                <div class="card-title text-primary mb-0 fwsm">NCR</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card-item df aic">
                                            <div class="card-content">
                                                <small class="card-location text-muted">Job Type</small>
                                                <div class="card-title text-primary mb-0 fwsm">Full Time</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right df jcb bg-light mx-n3 p-3">
                    <button class="btn btn-secondary">Previous (Id Details)</button>
                    <button class="btn btn-primary">Next (Video Resume)</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 pl-0">
        <div class="rounded sticky-top px-3  py-4 bg-light border">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">25%</div>
            </div>
            <ul class="step-chart pl-4 mt-3">
                <li class="active"><span>Basic Info</span></li>
                <li class="active"><span>Job Summary</span></li>
                <li><span>Id Details</span></li>
                <li><span>Address</span></li>
                <li><span>Education</span></li>
                <li><span>Work Experience</span></li>
                <li><span>Key Skills</span></li>
                <li><span>Video Resumes</span></li>
                <li><span>Desired Career Aspirations</span></li>
                <li><span>Review</span></li>
            </ul>
        </div>
    </div>
</div>