<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h4 class="dashboard-title mb-0">Job Interviews</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Interview ID</th>
                                <th>Jobseeer ID</th>
                                <th>Start time</th>
                                <th>End Time</th>
                                <th>Corporate name</th>
                                <th>Round</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sched of jobInterviews;">
                                <td><a
                                        [routerLink]="['/jobseeker/interview-schedule-details',sched.interviewid]">{{sched.interviewid}}</a>
                                </td>
                                <td>{{sched.jobseekerid}}</td>
                                <td>{{sched.starttime |date:'MMM dd,yyyy hh:mm a'}}</td>
                                <td>{{sched.endtime |date:'MMM dd,yyyy hh:mm a'}}</td>
                                <td>{{sched.corporatename}}</td>
                                <td>{{sched.round}}</td>
                                <td><a [routerLink]="['/jobseeker/join-meeting',sched.interviewid]">JOIN</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>