﻿<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="js/webrtc_adaptor.js"></script>
    <style>
        video {
            width: 260px;
            max-width: 640px;
        }
        /* Space out content a bit */
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        /* Everything but the jumbotron gets side spacing for mobile first views */
        .header, .marketing, .footer {
            padding-right: 15px;
            padding-left: 15px;
        }

        /* Custom page header */
        .header {
            padding-bottom: 20px;
            border-bottom: 1px solid #e5e5e5;
        }
            /* Make the masthead heading the same height as the navigation */
            .header h3 {
                margin-top: 0;
                margin-bottom: 0;
                line-height: 40px;
            }

        /* Custom page footer */
        .footer {
            padding-top: 19px;
            color: #777;
            border-top: 1px solid #e5e5e5;
        }

        /* Customize container */
        @media ( min-width : 768px) {
            .container {
                max-width: 730px;
            }
        }

        .container-narrow > hr {
            margin: 30px 0;
        }

        /* Main marketing message and sign up button */
        .jumbotron {
            text-align: center;
            border-bottom: 1px solid #e5e5e5;
        }

        /* Responsive: Portrait tablets and up */
        @media screen and (min-width: 768px) {
            /* Remove the padding we set earlier */
            .header, .marketing, .footer {
                padding-right: 0;
                padding-left: 0;
            }
            /* Space out the masthead */
            .header {
                margin-bottom: 30px;
            }
            /* Remove the bottom border on the jumbotron for visual effect */
            .jumbotron {
                border-bottom: 0;
            }
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="header clearfix">

            <h3 class="text-muted">SORT FL</h3>
        </div>




        <div class="jumbotron">

            <p>
                <video id="remoteVideo" autoplay controls playsinline></video>
            </p>
            <p>
                <input type="text" class="form-control" value="183638566009850003536541sdfsf"
                    id="streamName" placeholder="Type stream name">
            </p>
            <p>
                <button onclick="startPlaying()" class="btn btn-info"
                    id="start_play_button">
                    Start Playing</button>
                <button onclick="stopPlaying()" class="btn btn-info"
                    id="stop_play_button">
                    Stop Playing</button>

            </p>
            <div>
                <p id="message"></p>
                <input type="text" id="txtMessage" />
                <button onclick="send();">Send</button>
            </div>
        </div>

    </div>

</body>
<script>

    var token = 'sdfdsfsf';//"<%= request.getParameter("token") %>";
    var start_play_button = document.getElementById("start_play_button");
    var stop_play_button = document.getElementById("stop_play_button");

    var streamNameBox = document.getElementById("streamName");

    var streamId;

    function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
	        sURLVariables = sPageURL.split('&'),
	        sParameterName,
	        i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

    var name = getUrlParameter("name");
    if (name !== "undefined") {
        streamNameBox.value = name;
    }

    streamId = streamNameBox.value;
    function startPlaying() {
        debugger
        streamId = streamNameBox.value;
        webRTCAdaptor.play(streamNameBox.value, token);
    }

    function stopPlaying() {
        playing = false;
        webRTCAdaptor.stop(streamId);
    }
    function addIceCandidate() {
        webRTCAdaptor.addIceCandidate(streamId);
    }
    var pc_config = null;

    var sdpConstraints = {
        OfferToReceiveAudio: true,
        OfferToReceiveVideo: true

    };
    var mediaConstraints = {
        video: false,
        audio: false
    };

     var baseUrl = '139.59.243.230';
    //var loc = 'webstream1.westus.cloudapp.azure.com:5080/WebRTCAppEE';
    var websocketURL = "ws://" + baseUrl + ":5080/WebRTCAppEE/websocket";

    if (location.protocol.startsWith("https")) {
        websocketURL = "wss://" + baseUrl + ":5443/WebRTCAppEE/websocket";
    }
    var playing = false;
    var webRTCAdaptor = new WebRTCAdaptor({
        websocket_url: websocketURL,
        mediaConstraints: mediaConstraints,
        peerconnection_config: pc_config,
        sdp_constraints: sdpConstraints,
        remoteVideoId: "remoteVideo",
        isPlayMode: true,
        debug: true,
        callback: function (info, description) {
            console.log(info + ':' + JSON.stringify(description));
            if (info == "initialized") {
                console.log("initialized");
                start_play_button.disabled = false;
                stop_play_button.disabled = true;
            } else if (info == "play_started") {
                //joined the stream
                console.log("play started");
                start_play_button.disabled = true;
                stop_play_button.disabled = false;
                playing = true;
                

            }
            else if (info == "streamInformation") {
                if (!playing) {
                    playing = true;
                    startPlaying();
                   
                }
                console.log(JSON.stringify(description));
            }
            else if (info == "play_finished") {
                //leaved the stream
                console.log("play finished");
                start_play_button.disabled = false;
                stop_play_button.disabled = true;
                playing = false;
            } else if (info == "closed") {
                playing = false;
                //console.log("Connection closed");
                if (typeof description != "undefined") {
                    console.log("Connecton closed: "
							+ JSON.stringify(description));
                }
            }
           else if (info == "data_channel_opened") {

                console.log("data channel is open");

            }
            else if (info == "data_received") {

                console.log("Message received ", description.data);

                handleData(description);
            }

            else if (info == "data_channel_error") {

                handleError(description);

            } else if (info == "data_channel_closed") {

                console.log("Data channel closed ");
            }
        },

        callbackError: function (error) {
            //some of the possible errors, NotFoundError, SecurityError,PermissionDeniedError

            console.log("error callback: " + JSON.stringify(error));
           // alert(JSON.stringify(error));
        }  
    });
     

    window.setInterval(function () {
      //  if (!playing) {
           // var stream = webRTCAdaptor.getStreamInfo(streamId);
           // console.log(stream);
         
      //  }
    }, 3000);
    function send() {
        webRTCAdaptor.postData(streamId,'hi');
    }
</script>
</html>
