<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form [formGroup]="quickRegistrationForm" (ngSubmit)="submit()">
                <div class="card-header">
                    <div class="card-title">
                        Quick Registration
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Title</label>
                                <select formControlName="title" style="padding: 12px 5px 12px 5px;" class="form-control form-control-lg">
                                    <option value="Mr">Mr.</option>
                                    <option value="Mrs">Mrs.</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>First Name</label>
                                <input formControlName="fname" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input formControlName="lname" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Gender</label>
                                <select formControlName="gender" style="padding: 12px 5px 12px 5px;" class="form-control">
                                    <option class="Male">Male</option>
                                    <option class="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Mobile no.</label>
                                <input readonly formControlName="mobile" type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input readonly formControlName="username" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label for="attachedResume">Attached Resume</label>
                                <input type="file" class="form-control" style="display:none"
                                    (change)="uploadResumeFile($event)" #attachedResume>
                                <input type="text" disabled id="txtattachedResume"
                                    formControlName="attachedResume" class="form-control"  />
                                <button type="button" (click)="attachedResume.click()"
                                    style="float: right; margin-top: -37px; line-height: 25px">Browse
                                    File</button>
                                <!-- <div *ngIf="jpfsubmitted && jpf.attachedResume.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="jpf.attachedResume.errors.required">
                                        Required
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button [disabled]="quickRegistrationForm.invalid" class="btn btn-success float-right">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>