//@import "../../../assets/css/bootstrap.min.css";

.search-result .cards, .search-result .card-header {
    border-radius: 4px;
    padding-left: 15px;
}

.border-0{
    outline: 0px !important;
}

.navbar{
    box-shadow: none !important;
}

.navbar select.form-control{
    margin-left: 3px;
}

.square-box-loader{
    top: 270px !important;
}

.home {
    position: fixed;
    z-index: 1020;
    width: 50px;
    height: auto;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
  cursor: pointer;
    }