<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header">
                <div class="card-title">My Calendar</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ejs-schedule #scheduleObj  height="550px" width="100%" startHour='06:00' endHour='21:00' [eventSettings]="eventData" [readonly]="true" [workDays]="workDay" [workHours]="scheduleHours" [currentView]="newViewMode" [views]="scheduleViews"  (actionBegin)="onActionBegin($event)" (navigating)="onNavigating($event)"> </ejs-schedule>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>