<div class="row">
    <div class="col-md-12 col-xl-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h4 class="dashboard-title mb-0">My Payments</h4>
                </div>
            </div>
            <div class="card-body">
                <ngb-tabset>
                    <ngb-tab title="Pending">
                        <ng-template ngbTabContent class="tab-pane fade" id="pending-1" aria-labelledby="pending-tab">
                            <div class="media">
                                <div class="media-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Interview Scheduleid</th>
                                                <th>Status</th>
                                                <th>Expected Amount</th>
                                                <th>Currency</th>
                                                <th>InterviewId</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let payment of myPendingPayments;">
                                                <td>{{payment.interviewscheduleid}}</td>
                                                <td>{{payment.paymentstatus}}</td>
                                                <td>{{payment.amountexpected}}</td>
                                                <td>{{payment.currency}}</td>
                                                <td>{{payment.interviewid}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Historical">
                        <ng-template ngbTabContent class="tab-pane fade" id="historical-1"
                            aria-labelledby="historical-tab">
                            <div class="media">

                                <div class="media-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Interview Scheduleid</th>
                                                <th>Status</th>
                                                <th>Payment Processed on</th>
                                                <th>Processed Amount</th>
                                                <th>Currency</th>
                                                <th>InterviewId</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let payment of myApprovedPayments;">
                                                <td>{{payment.interviewscheduleid}}</td>
                                                <td>{{payment.paymentstatus}}</td>
                                                <td>{{payment.approvaldate}}</td>
                                                <td>{{payment.amountexpected}}</td>
                                                <td>{{payment.currency}}</td>
                                                <td>{{payment.interviewid}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>