<div class="accordion counter" id="summary-category">
    <div class="card">
        <div class="card-header" id="tech">
            <div class="row" data-toggle="collapse" data-target="#t1" aria-expanded="true" aria-controls="t1">
                <div class="col-sm-10 mr-0">
                    <h5 class="mb-0">Teck Skills</h5>
                </div>
                <div class="col-sm-2 text-right">
                    Total : <span>{{get_category_wise_length("Tech")}}</span>
                </div>
            </div>
        </div>
        <div id="t1" class="collapse p-2" aria-labelledby="tech" data-parent="#summary-category">
            <div class="accordion counter" id="tech-summary-list">
                <div class="card" *ngFor="let teckSkill of filter_skill_details_by_category('Tech');let i = index;">
                    <div class="card-header" id="tsl{{i}}">
                        <div class="row" data-toggle="collapse" [attr.data-target]="'#ts'+i" aria-expanded="true"
                            [attr.aria-controls]="'ts'+i">
                            <div class="col-sm-4">
                                <h5 class="mb-0"><small>Competency : </small> <span
                                        class="badge badge-primary fwm">{{teckSkill.competencyname}}</span></h5>
                            </div>
                            <div class="col-sm-4">
                                <h5 class="mb-0"><small>Skill Name : </small> <span
                                        class="badge badge-secondary fwm">{{teckSkill.skillname}}</span></h5>
                            </div>
                            <div class="col-sm-3 fwb">
                                Weighted Score: <span>{{teckSkill.weightedscore}}</span>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i (click)="update(teckSkill)" class="fa fa-edit"></i>
                            </div>
                        </div>
                    </div>
                    <div id="ts{{i}}" class="collapse" [attr.aria-labelledby]="'tsl'+i"
                        data-parent="#tech-summary-list">
                        <div class="card-body">
                            <div *ngIf="teckSkill.strengthweakness" class="answer expected-one mb-3">
                                <p class="text-success mb-2 fwb">Strength & Weekness</p>
                                <div>
                                    {{teckSkill.strengthweakness}}
                                </div>
                            </div>
                            <div *ngIf="teckSkill.improvementguidance" class="answer given-one mb-3">
                                <p class="text-info mb-2 fwb">Improvement & Guidance</p>
                                {{teckSkill.improvementguidance}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="domain">
            <div class="row" data-toggle="collapse" data-target="#d1" aria-expanded="true" aria-controls="d1">
                <div class="col-sm-10">
                    <h5 class="mb-0">Domain Skills</h5>
                </div>
                <div class="col-sm-2 text-right">
                    Total : <span>{{get_category_wise_length("Domain")}}</span>
                </div>
            </div>
        </div>
        <div id="d1" class="collapse p-2" aria-labelledby="domain" data-parent="#summary-category">
            <div class="accordion counter" id="domain-summary-list">
                <div class="card" *ngFor="let domainSkill of filter_skill_details_by_category('Domain');let i = index;">
                    <div class="card-header" id="dsl{{i}}">
                        <div class="row" data-toggle="collapse" [attr.data-target]="'#ds'+i" aria-expanded="true"
                            [attr.aria-controls]="'ds'+i">
                            <div class="col-sm-4">
                                <h5 class="mb-0"><small>Competency : </small> <span
                                        class="badge badge-primary fwm">{{domainSkill.competencyname}}</span></h5>
                            </div>
                            <div class="col-sm-4">
                                <h5 class="mb-0"><small>Skill Name : </small> <span
                                        class="badge badge-secondary fwm">{{domainSkill.skillname}}</span></h5>
                            </div>
                            <div class="col-sm-3 fwb">
                                Weighted Score: <span>{{domainSkill.weightedscore}}</span>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i (click)="update(domainSkill)" class="fa fa-edit"></i>
                            </div>
                        </div>
                    </div>
                    <div id="ds{{i}}" class="collapse" [attr.aria-labelledby]="'dsl'+i"
                        data-parent="#domain-summary-list">
                        <div class="card-body">
                            <div *ngIf="domainSkill.strengthweakness" class="answer expected-one mb-3">
                                <p class="text-success mb-2 fwb">Strength & Weekness</p>
                                <div>
                                    {{domainSkill.strengthweakness}}
                                </div>
                            </div>
                            <div *ngIf="domainSkill.improvementguidance" class="answer given-one mb-3">
                                <p class="text-info mb-2 fwb">Improvement & Guidance</p>
                                {{domainSkill.improvementguidance}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header" id="ga">
            <div class="row" data-toggle="collapse" data-target="#g1" aria-expanded="true" aria-controls="g1">
                <div class="col-sm-10">
                    <h5 class="mb-0">General Apptitude / MR Skills</h5>
                </div>

                <div class="col-sm-2 text-right">
                    Total : <span>{{get_category_wise_length("Ga")}}</span>
                </div>

            </div>

        </div>
        <div id="g1" class="collapse p-2" aria-labelledby="ga" data-parent="#summary-category">
            <div class="accordion counter" id="general-summary-list">
                <div class="card" *ngFor="let gaSkill of filter_skill_details_by_category('Ga');let i = index;">
                    <div class="card-header" id="gsl{{i}}">
                        <div class="row" data-toggle="collapse" [attr.data-target]="'#gs'+i" aria-expanded="true"
                            [attr.aria-controls]="'gs'+i">
                            <div class="col-sm-4">
                                <h5 class="mb-0"><small>Competency : </small> <span
                                        class="badge badge-primary fwm">{{gaSkill.competencyname}}</span></h5>
                            </div>
                            <div class="col-sm-4">
                                <h5 class="mb-0"><small>Skill Name : </small> <span
                                        class="badge badge-secondary fwm">{{gaSkill.skillname}}</span></h5>
                            </div>
                            <div class="col-sm-3 fwb">
                                Weighted Score: <span>{{gaSkill.weightedscore}}</span>
                            </div>
                            <div class="col-sm-1 text-right">
                                <i (click)="update(gaSkill)" class="fa fa-edit"></i>
                            </div>
                        </div>
                    </div>
                    <div id="gs{{i}}" class="collapse" [attr.aria-labelledby]="'gsl'+i"
                        data-parent="#general-summary-list">
                        <div class="card-body">
                            <div *ngIf="gaSkill.strengthweakness" class="answer expected-one mb-3">
                                <p class="text-success mb-2 fwb">Strength & Weekness</p>
                                <div>
                                    {{gaSkill.strengthweakness}}
                                </div>
                            </div>
                            <div *ngIf="gaSkill.improvementguidance" class="answer given-one mb-3">
                                <p class="text-info mb-2 fwb">Improvement & Guidance</p>
                                {{gaSkill.improvementguidance}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>