<div class="col-md-12">
  <div class="profile-card bg-white mt-3 mb-4 shadow rounded">
    <div class="px-3 pt-3">
      <!-- <h5>Review Your Details</h5>
      <hr />
      <div class="d-flex justify-content-between pb-3">
        <span>Email: <b>vikram@gmail.com</b></span>
        <span>Mobile: <b>9988774563</b></span>
        <span>ID: <b>546855</b></span>
      </div> -->
      <div class="card mks-card mb-3">
        <div class="card-header df jcb aic">
          <span class="fwb">Basic Information</span>
          <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button"
            routerLink="/freelancer/add-profile/basicinfo" class="btn border edit">
            <svg height="16" viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
              </path>
            </svg>
          </button>
        </div>
        <div class="card-body p-3">
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Title :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.title}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Gender :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.gender}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">First Name :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.fname}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Last Name :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.lname}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Nationality :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.nationality}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Date of Birth :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.dob | date:'dd MMM yyyy'}}</div>
            </div>
          </div>

          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Resume :</div>
              <div class="col-sm-8 fwsm">
                <img (click)="downloadFile(basicProfile?.resumeurl)" class=""
                  style="width: 65px;height: 45px;cursor: pointer;" src="assets/image/download.png" width="100"
                  height="100" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mks-card mb-3">
        <div class="card-header df jcb aic">
          <span class="fwb">Job Information (Current)</span>
          <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button"
            routerLink="/freelancer/add-profile/jobinfo" class="btn border edit">
            <svg height="16" viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
              </path>
            </svg>
          </button>
        </div>
        <div class="card-body p-3">
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Industry :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.currindustry}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Functional Area :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.functionalarea}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Role :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.currrole}}</div>
            </div>
          </div>

        </div>
      </div>
      <div class="card mks-card mb-3">
        <div class="card-header df jcb aic">
          <span class="fwb">Your ID</span>
          <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button"
            routerLink="/freelancer/add-profile/idproof" class="btn border edit">
            <svg height="16" viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
              </path>
            </svg>
          </button>
        </div>
        <div class="card-body p-3">
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">ID Type :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.identityprooftype}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">ID No. :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.identityNumber}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">ID (Attachment) :</div>
              <div class="col-sm-8 fwsm">
                <img (click)="downloadFile(basicProfile?.idproofurl)" class=""
                  style="width: 65px;height: 45px;cursor: pointer;" src="assets/image/download.png" width="100"
                  height="100" alt="">
              </div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Pan No. :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.taxidnumber}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right"> PAN (Attachment):</div>
              <div class="col-sm-8 fwsm">
                <img (click)="downloadFile(basicProfile?.taxproofurl)" class=""
                  style="width: 65px;height: 45px;cursor: pointer;" src="assets/image/download.png" width="100"
                  height="100" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mks-card mb-3">
        <div class="card-header df jcb aic">
          <span class="fwb">Address Details</span>
          <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button"
            routerLink="/freelancer/add-profile/address" class="btn border edit">
            <svg height="16" viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
              </path>
            </svg>
          </button>
        </div>
        <div class="card-body p-3">
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Address Line1 :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.address1}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Address Line2 :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.address2}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Country :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.country}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">State :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.state}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">City :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.city}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Pin Code :</div>
              <div class="col-sm-8 fwsm">{{basicProfile?.zip}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Address Proof :</div>
              <div class="col-sm-8 fwsm">
                <img (click)="downloadFile(basicProfile?.addressurl)" class=""
                  style="width: 65px;height: 45px;cursor: pointer;" src="assets/image/download.png" width="100"
                  height="100" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mks-card mb-3">
        <div class="card-header df jcb aic">
          <span class="fwb">Profile Title</span>
          <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button"
            routerLink="/freelancer/add-profile/experience" class="btn border edit">
            <svg height="16" viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
              </path>
            </svg>
          </button>
        </div>
        <div class="card-body p-3">
          <div class="card-item border pl-2 df jcb aic">
            <div class="card-title fwsm mb-0">
              <svg viewBox="0 0 496 512" height="20" class="mr-2">
                <path fill="currentColor" class=""></path>
              </svg>{{(otherDetails)?otherDetails.profiletitle:''}}
            </div>
          </div>
        </div>
      </div>
      <div class="card mks-card mb-3">
        <div class="card-header df jcb aic">
          <span class="fwb">Experience</span>
          <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button"
            routerLink="/freelancer/add-profile/experience" class="btn border edit">
            <svg height="16" viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
              </path>
            </svg>
          </button>
        </div>
        <div class="card-body">
          <div *ngFor="let lst of experiences" class="card-item p-3 border-bottom df aic">
            <div class="card-icon border df jcc aic rounded-pill mr-3">icon</div>
            <div class="card-content">
              <div class="card-title fwsm">{{lst.role_name}} - {{lst.designation}}</div>
              <div class="card-subtitle mb-0 text-mutedfwm">{{lst.orgname}}</div>
              <!-- <small class="card-location text-muted">Location : {{}}</small> -->
            </div>
            <small class="duration texr-muted">
              <b>From</b> - {{lst.startdate | date:'dd MMM yyyy'}} <b>To</b> {{lst.endDate | date:'dd MMM
              yyyy'}}
            </small>

          </div>

        </div>
      </div>
      <div class="card mks-card mb-3">
        <div class="card-header df jcb aic">
          <span class="fwb">Education</span>
          <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button"
            routerLink="/freelancer/add-profile/education" class="btn border edit">
            <svg height="16" viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
              </path>
            </svg>
          </button>
        </div>
        <div class="card-body">
          <div *ngFor="let lst of educations;" class="card-item border-bottom df aic">
            <div class="card-icon border df jcc aic rounded-pill mr-3">icon</div>
            <div class="card-content">
              <div class="card-title fwsm">{{lst.education_type}}</div>
              <div class="card-subtitle mb-0 text-mutedfwm">{{lst.institute_name}} - {{lst.institute_address}}</div>
              <small class="card-location text-muted">{{lst.university}} : {{lst.yearofpassing}}</small>
            </div>

          </div>
        </div>
      </div>
      <div class="card mks-card mb-3">
        <div class="card-header df jcb aic">
          <span class="fwb">Bank Details</span>
          <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button"
            routerLink="/freelancer/add-profile/bank" class="btn border edit">
            <svg height="16" viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
              </path>
            </svg>
          </button>
        </div>
        <div class="card-body p-3">
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Bank :</div>
              <div class="col-sm-8 fwsm">{{bankDetails?.bankname}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Account No :</div>
              <div class="col-sm-8 fwsm">{{bankDetails?.accountnumber}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">IFSC Code :</div>
              <div class="col-sm-8 fwsm">{{bankDetails?.ifsccode}}</div>
            </div>
          </div>

        </div>
      </div>

      <div class="card mks-card mb-3">
        <div class="card-header df jcb aic">
          <span class="fwb">Job Roles</span>
          <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button"
            routerLink="/freelancer/add-profile/roles" class="btn border edit">
            <svg height="16" viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
              </path>
            </svg>
          </button>
        </div>

        <div class="card-body">
          <div *ngFor="let lst of competencies;" class="card-item df aic">
            <div class="card-icon border df jcc aic rounded-pill mr-3">icon</div>
            <div class="card-content">
              <div class="card-title fwsm">{{lst.jobcategory}}</div>
              <div class="card-subtitle mb-0 text-mutedfwm">Total Candidates Interviewed/Mentored:
                <b>{{lst.totalmentored}}</b>
              </div>
              <small class="card-location text-muted">Total Experience : {{lst.years_of_exp}} Years</small>
            </div>
          </div>
        </div>
      </div>

      <div class="card mks-card mb-3">
        <div class="card-header df jcb aic">
          <span class="fwb">Other Details</span>
          <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button"
            routerLink="/freelancer/add-profile/otherinfo" class="btn border edit">
            <svg height="16" viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
              </path>
            </svg>
          </button>
        </div>
        <div class="card-body p-3">
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Rate/Hour</div>
              <div class="col-sm-8 fwsm">{{otherDetails?.perhourrate}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Currency</div>
              <div class="col-sm-8 fwsm">{{otherDetails?.currency}}</div>
            </div>
          </div>
          <div class="card-item">
            <div class="row">
              <div class="col-sm-4 pr-0 text-sm-right">Keywords</div>
              <div class="col-sm-8 fwsm">{{otherDetails?.keywords}}</div>
            </div>
          </div>

        </div>
      </div>
      <div class="text-right df jcb bg-light mx-n3 p-3">
        <button type="button" (click)="previous()" class="btn btn-secondary">Previous(Other Details)</button>
        <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button"
          (click)="submit()" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>