<footer class="ba-footer py-3">
  <div class="container">
      <div class="bf-copyr text-lg-right">
          <a href="" class="text-nowrap">Privacy</a>
          <a href="" class="text-nowrap">©2020 Vikoona</a>
          <a href="" class="text-nowrap">Refund Policy</a>
          <a href="" class="text-nowrap">Terms &amp; conditions</a>
      </div>
  </div>
</footer>