<div class="row">
    <div class="col-sm-12">
        <form [formGroup]="scheduleRequestForm">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Send Interview Request <button class="btn btn-sm btn-dark float-right"
                            (click)="back()">Back</button></div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">

                            <p class="card-description">Start Date / Time of Interview</p>
                            <angular2-date-picker formControlName="start_date_time" [settings]="datePickersettings"></angular2-date-picker>

                        </div>
                        <div class="col-sm-4">
                            <p class="card-description">End Date / Time of Interview</p>
                            <div class="form-group">
                                <input type="text" class="form-control" readonly formControlName="end_date_time">
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="button" (click)="submit()" class="btn btn-primary">Send Request</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>