<div class="row">
    <div class="col-md-12 col-xl-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Complete Feedback</h4>
            </div>
            <div class="card-body">
                <ngb-tabset #pTabs="ngbTabset" [justify]="currentJustify" (tabChange)="preventChanges($event)">
                    <ngb-tab title="Tech Skills" id="techSkill">
                        <ng-template ngbTabContent class="tab-pane fade" id="techskill-1"
                            aria-labelledby="techskill-tab">
                            <div class="media">
                                <div class="media-body">
                                    <form [formGroup]="techskillForm">
                                        <div class="row">
                                            <div class="col-sm-2"><label>Interviewer ID :</label></div>
                                            <div class="col-sm-3">{{interViewDetails.freelancerid}}</div>
                                            <div class="col-sm-2"><label>Jobseeker ID :</label></div>
                                            <div class="col-sm-1">{{interViewDetails.jobseekerid}}</div>
                                            <div class="col-sm-2 text-right"><label>Video Interview Link :</label></div>
                                            <div class="col-sm-2 text-right">
                                                <a href="#"> Interview Link</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <select class="form-control" formControlName="industrytype"
                                                        (change)="onchange_currentindustry($event.target.value)"
                                                        [ngClass]="{ 'is-invalid': techskillsubmit && t.industrytype.errors }">
                                                        <option value="">Select Industry Type</option>
                                                        <option *ngFor="let inds of currentIndustry;"
                                                            [value]="inds.industryname">{{inds.industryname}}</option>
                                                    </select>
                                                    <!-- <div *ngIf="techskillsubmit && t.currentindustry.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="t.currentindustry.errors.required">Required</div>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <select class="form-control" formControlName="target_job"
                                                        [ngClass]="{ 'is-invalid': techskillsubmit && t.target_job.errors }">
                                                        <option value="">Select Target Job</option>
                                                        <option *ngFor="let job of targetJobList"
                                                            [value]="job.jobrolename">{{job.jobrolename}}</option>
                                                    </select>
                                                    <!-- <div *ngIf="techskillsubmit && t.target_job.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="t.target_job.errors.required">Required</div>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div style="width: 100%;" formArrayName="techskill">
                                            <div style="width: 100%;"
                                                *ngFor="let skill of techSkill.controls; let techSkillIndex=index">
                                                <div style="width: 100%;" [formGroupName]="techSkillIndex">
                                                    <div class="row" style="padding-top: 10px;">
                                                        <div class="col-sm-1">{{techSkillIndex+1}}.</div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <select class="form-control"
                                                                    formControlName="competency_name"
                                                                    (change)="getAllSkillListByCompetency(techSkillIndex,'tech',$event.target.value);onchagecompetance($event,techSkillIndex,'tech')"
                                                                    [ngClass]="{ 'is-invalid': techskillsubmit && skill.get('competency_name').errors }">
                                                                    <option value="">Select Competency name</option>
                                                                    <option *ngFor="let compt of allCompetacyList;"
                                                                        [value]="compt.competencyid">
                                                                        {{compt.competencyname}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <select class="form-control"
                                                                    formControlName="skill_name"
                                                                    [ngClass]="{ 'is-invalid': techskillsubmit && skill.get('skill_name').errors }"
                                                                    (change)="changeskill($event,techSkillIndex,'tech')">
                                                                    <option value="">Select Skill Name</option>
                                                                    <option
                                                                        *ngFor="let skl of skillList[techSkillIndex];"
                                                                        [value]="skl.id">{{skl.skillname}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 text-right">

                                                            <button (click)="addTechSkillAskedQuestion(techSkillIndex)"
                                                                class="btn btn-primary btn-sm">Add Question</button>
                                                            <button (click)="removeTechSkill(techSkillIndex)"
                                                                class="btn btn-danger btn-sm">Delete</button>
                                                        </div>
                                                    </div>
                                                    <div class="row" formArrayName="asked_question">
                                                        <div class="col-sm-12"
                                                            *ngFor="let qst of getTechSkillAskedQuestion(techSkillIndex).controls; let questionIndex=index">
                                                            <div class="row"
                                                                style="background-color:lightgrey;padding-top:10px;margin-bottom: 5px;"
                                                                [formGroupName]="questionIndex">
                                                                <div class="col-sm-9">
                                                                    <div class="form-group">
                                                                        <textarea rows="2" class="form-control"
                                                                            placeholder="Questions"
                                                                            formControlName="question"
                                                                            [ngClass]="{ 'is-invalid': techskillsubmit && qst.get('question').errors }"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3 text-right">
                                                                    <button
                                                                        (click)="removeTechSkillQuestion(techSkillIndex,questionIndex)"
                                                                        class="btn btn-danger btn-sm">
                                                                        Delete Question</button>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <textarea class="form-control"
                                                                            placeholder="Expected Answer"
                                                                            formControlName="expected_answer"
                                                                            [ngClass]="{ 'is-invalid': techskillsubmit && qst.get('expected_answer').errors }"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <textarea class="form-control"
                                                                            placeholder="Actual Answer"
                                                                            formControlName="actual_answer"
                                                                            [ngClass]="{ 'is-invalid': techskillsubmit && qst.get('actual_answer').errors }"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class="form-group">
                                                                        <select class="form-control"
                                                                            formControlName="question_complexity"
                                                                            (change)="change_complexity_of_tech_skill(techSkillIndex,questionIndex,$event.target.value)"
                                                                            [ngClass]="{ 'is-invalid': techskillsubmit && qst.get('question_complexity').errors }">
                                                                            <option value="">select Complexity</option>
                                                                            <option value="simple">Simple</option>
                                                                            <option value="average">Average</option>
                                                                            <option value="complex">Complex</option>
                                                                        </select>

                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class="form-group">
                                                                        <select class="form-control"
                                                                            formControlName="marks"
                                                                            (change)="change_marks_of_tech_skill(techSkillIndex,questionIndex,$event.target.value)"
                                                                            [ngClass]="{ 'is-invalid': techskillsubmit && qst.get('marks').errors }">
                                                                            <option value="">select Marks</option>
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                            <option value="3">3</option>
                                                                            <option value="4">4</option>
                                                                            <option value="5">5</option>
                                                                            <option value="6">6</option>
                                                                            <option value="7">7</option>
                                                                            <option value="8">8</option>
                                                                            <option value="9">9</option>
                                                                            <option value="10">10</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class="form-group">
                                                                        <input class="form-control" type="text"
                                                                            placeholder="Weightage"
                                                                            formControlName="weightage" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class="form-group">
                                                                        <input class="form-control" type="text"
                                                                            placeholder="Weightage score"
                                                                            formControlName="weightage_score" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button (click)="addTechSkill()" type="button" class="btn btn-primary">Add Tech
                                        Skill</button>
                                </div>
                                <div class="col-sm-6">
                                    <button (click)="submitTechSkill()" type="button"
                                        class="btn btn-success float-right">Save &
                                        Next</button>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Domain Skills" id="domainSkill">
                        <ng-template ngbTabContent class="tab-pane fade" id="domain-skill-1"
                            aria-labelledby="domain-skill-tab">
                            <div class="media">
                                <div class="media-body">
                                    <form [formGroup]="domainskillForm">
                                        <div class="row">
                                            <div class="col-sm-2"><label>Interviewer ID :</label></div>
                                            <div class="col-sm-3">{{interViewDetails.freelancerid}}</div>
                                            <div class="col-sm-2"><label>Jobseeker ID :</label></div>
                                            <div class="col-sm-1">{{interViewDetails.jobseekerid}}</div>
                                            <div class="col-sm-2 text-right"><label>Video Interview Link :</label></div>
                                            <div class="col-sm-2 text-right">
                                                <a href="#"> Interview Link</a>
                                            </div>
                                        </div>
                                        <hr>
                                        <div style="width: 100%;" formArrayName="domainskills">
                                            <div style="width: 100%;"
                                                *ngFor="let skill of domainSkill.controls; let domainSkillIndex=index">
                                                <div style="width: 100%;" [formGroupName]="domainSkillIndex">
                                                    <div class="row" style="padding-top: 10px;">
                                                        <div class="col-sm-1">{{domainSkillIndex+1}}.</div>
                                                        <div class="col-sm-4">

                                                            <div class="form-group">
                                                                <select class="form-control"
                                                                    formControlName="competency_name"
                                                                    (change)="getAllSkillListByCompetency(domainSkillIndex,'domain',$event.target.value);onchagecompetance($event,domainSkillIndex,'domain')"
                                                                    [ngClass]="{ 'is-invalid': domainskillsubmit && skill.get('competency_name').errors}">
                                                                    <option value="">Select Competency name</option>
                                                                    <option *ngFor="let dmnskill of allCompetacyList"
                                                                        [value]="dmnskill.competencyid">
                                                                        {{dmnskill.competencyname}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <select class="form-control"
                                                                    formControlName="skill_name"
                                                                    [ngClass]="{ 'is-invalid': domainskillsubmit && skill.get('skill_name').errors }" (change)="changeskill($event,domainSkillIndex,'domain')">
                                                                    <option value="">Select Skill Name</option>
                                                                    <option
                                                                        *ngFor="let skl of domainskillList[domainSkillIndex];"
                                                                        [value]="skl.id">{{skl.skillname}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 text-right">

                                                            <button
                                                                (click)="addDomainSkillAskedQuestion(domainSkillIndex)"
                                                                class="btn btn-primary btn-sm">Add Question</button>
                                                            <button (click)="removeDomainSkill(domainSkillIndex)"
                                                                class="btn btn-danger btn-sm">Delete</button>
                                                        </div>
                                                    </div>
                                                    <div class="row" formArrayName="asked_question">
                                                        <div class="col-sm-12"
                                                            *ngFor="let qst of getDomainSkillAskedQuestion(domainSkillIndex).controls; let questionIndex=index">
                                                            <div class="row"
                                                                style="background-color:lightgrey;padding-top:10px;margin-bottom: 5px;"
                                                                [formGroupName]="questionIndex">
                                                                <div class="col-sm-9">
                                                                    <div class="form-group">
                                                                        <textarea class="form-control" type="text"
                                                                            placeholder="Questions"
                                                                            formControlName="question"
                                                                            [ngClass]="{ 'is-invalid': domainskillsubmit && qst.get('question').errors }">
                                                                        </textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3 text-right">
                                                                    <button
                                                                        (click)="removeDomainSkillQuestion(domainSkillIndex,questionIndex)"
                                                                        class="btn btn-danger btn-sm">
                                                                        Delete Question</button>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <textarea class="form-control" type="text"
                                                                            placeholder="Expected Answer"
                                                                            formControlName="expected_answer"
                                                                            [ngClass]="{ 'is-invalid': domainskillsubmit && qst.get('expected_answer').errors }">
                                                                        </textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <textarea class="form-control" type="text"
                                                                            placeholder="Actual Answer"
                                                                            formControlName="actual_answer"
                                                                            [ngClass]="{ 'is-invalid': domainskillsubmit && qst.get('actual_answer').errors }">
                                                                            </textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class="form-group">
                                                                        <select class="form-control"
                                                                            formControlName="question_complexity"
                                                                            (change)="change_complexity_of_domain_skill(domainSkillIndex,questionIndex,$event.target.value)"
                                                                            [ngClass]="{ 'is-invalid': domainskillsubmit && qst.get('question_complexity').errors }">
                                                                            <option value="">select Complexity</option>
                                                                            <option value="simple">Simple</option>
                                                                            <option value="average">Average</option>
                                                                            <option value="complex">Complex</option>
                                                                        </select>

                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class="form-group">
                                                                        <select class="form-control"
                                                                            formControlName="marks"
                                                                            (change)="change_marks_of_domain_skill(domainSkillIndex,questionIndex,$event.target.value)"
                                                                            [ngClass]="{ 'is-invalid': domainskillsubmit && qst.get('marks').errors }">
                                                                            <option value="">select Marks</option>
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                            <option value="3">3</option>
                                                                            <option value="4">4</option>
                                                                            <option value="5">5</option>
                                                                            <option value="6">6</option>
                                                                            <option value="7">7</option>
                                                                            <option value="8">8</option>
                                                                            <option value="9">9</option>
                                                                            <option value="10">10</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class="form-group">
                                                                        <input class="form-control" type="text"
                                                                            placeholder="Weightage"
                                                                            formControlName="weightage" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class="form-group">
                                                                        <input class="form-control" type="text"
                                                                            placeholder="Weightage score"
                                                                            formControlName="weightage_score" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button type="button" (click)="loadTechSkills()"
                                        class="btn btn-dark">Previous</button>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <button type="button" (click)="addDomainSkill()" class="btn btn-primary">Add Domain
                                        Skill</button>

                                </div>
                                <div class="col-sm-4 text-right">
                                    <button (click)="submitDomainSkill()" type="button" class="btn btn-success">Save &
                                        Next</button>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="General Aptitude/MR Skills" id="generalAptitude">
                        <ng-template ngbTabContent class="tab-pane fade" id="general-aptitude-1"
                            aria-labelledby="general-aptitude-tab">
                            <div class="media">
                                <div class="media-body">
                                    <form [formGroup]="generalAptitudeForm">
                                        <div class="row">
                                            <div class="col-sm-2"><label>Interviewer ID :</label></div>
                                            <div class="col-sm-3">{{interViewDetails.freelancerid}}</div>
                                            <div class="col-sm-2"><label>Jobseeker ID :</label></div>
                                            <div class="col-sm-1">{{interViewDetails.jobseekerid}}</div>
                                            <div class="col-sm-2 text-right"><label>Video Interview Link :</label></div>
                                            <div class="col-sm-2 text-right">
                                                <a href="#"> Interview Link</a>
                                            </div>
                                        </div>
                                        <hr>
                                        <div style="width: 100%;" formArrayName="general_aptitude">
                                            <div style="width: 100%;"
                                                *ngFor="let skill of generalAptitude.controls; let generalAptitudeIndex=index">
                                                <div style="width: 100%;" [formGroupName]="generalAptitudeIndex">
                                                    <div class="row" style="padding-top: 10px;">
                                                        <div class="col-sm-1">{{generalAptitudeIndex+1}}.</div>



                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <select class="form-control"
                                                                    formControlName="competency_name"
                                                                    (change)="getAllSkillListByCompetency(generalAptitudeIndex,'ga',$event.target.value);onchagecompetance($event,generalAptitudeIndex,'ga')"
                                                                    [ngClass]="{ 'is-invalid': gasubmit && skill.get('competency_name')?.errors}">
                                                                    <option value="">Select Competency name</option>
                                                                    <option *ngFor="let gaskill of allCompetacyList"
                                                                        [value]="gaskill.competencyid">
                                                                        {{gaskill.competencyname}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <select class="form-control"
                                                                    formControlName="skill_name"
                                                                    [ngClass]="{ 'is-invalid': gasubmit && skill.get('skill_name')?.errors }" (change)="changeskill($event,generalAptitudeIndex,'ga')">
                                                                    <option value="">Select Skill Name</option>
                                                                    <option
                                                                        *ngFor="let skl of gaList[generalAptitudeIndex];"
                                                                        [value]="skl.id">{{skl.skillname}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 text-right">
                                                            <button
                                                                (click)="addGeneralAptitudeAskedQuestion(generalAptitudeIndex)"
                                                                class="btn btn-primary btn-sm">Add Question</button>
                                                            <button
                                                                (click)="removeGeneralAptitude(generalAptitudeIndex)"
                                                                class="btn btn-danger btn-sm">Delete</button>
                                                        </div>
                                                    </div>
                                                    <div class="row" formArrayName="asked_question">
                                                        <div class="col-sm-12"
                                                            *ngFor="let qst of getGeneralAptitudeAskedQuestion(generalAptitudeIndex).controls; let questionIndex=index">
                                                            <div class="row"
                                                                style="background-color:lightgrey;padding-top:10px;margin-bottom: 5px;"
                                                                [formGroupName]="questionIndex">
                                                                <div class="col-sm-9">
                                                                    <div class="form-group">
                                                                        <textarea class="form-control" type="text"
                                                                            placeholder="Questions"
                                                                            formControlName="question"
                                                                            [ngClass]="{ 'is-invalid': gasubmit && skill.get('question')?.errors }">
                                                                            </textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3 text-right">
                                                                    <button
                                                                        (click)="removeGeneralAptitudeAskedQuestion(generalAptitudeIndex,questionIndex)"
                                                                        class="btn btn-danger btn-sm">
                                                                        Delete Question</button>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <textarea class="form-control" type="text"
                                                                            placeholder="Expected Answer"
                                                                            formControlName="expected_answer"
                                                                            [ngClass]="{ 'is-invalid': gasubmit && skill.get('expected_answer')?.errors }">
                                                                            </textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <textarea class="form-control" type="text"
                                                                            placeholder="Actual Answer"
                                                                            formControlName="actual_answer"
                                                                            [ngClass]="{ 'is-invalid': gasubmit && skill.get('actual_answer')?.errors }">
                                                                            </textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class="form-group">
                                                                        <select class="form-control"
                                                                            formControlName="question_complexity"
                                                                            (change)="change_complexity_of_ga(generalAptitudeIndex,questionIndex,$event.target.value)"
                                                                            [ngClass]="{ 'is-invalid': gasubmit && qst.get('question_complexity')?.errors }">
                                                                            <option value="">select Complexity</option>
                                                                            <option value="simple">Simple</option>
                                                                            <option value="average">Average</option>
                                                                            <option value="complex">Complex</option>
                                                                        </select>

                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class="form-group">
                                                                        <select class="form-control"
                                                                            formControlName="marks"
                                                                            (change)="change_marks_of_ga(generalAptitudeIndex,questionIndex,$event.target.value)"
                                                                            [ngClass]="{ 'is-invalid': gasubmit && qst.get('marks')?.errors }">
                                                                            <option value="">select Marks</option>
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                            <option value="3">3</option>
                                                                            <option value="4">4</option>
                                                                            <option value="5">5</option>
                                                                            <option value="6">6</option>
                                                                            <option value="7">7</option>
                                                                            <option value="8">8</option>
                                                                            <option value="9">9</option>
                                                                            <option value="10">10</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class="form-group">
                                                                        <input class="form-control" type="text"
                                                                            placeholder="Weightage"
                                                                            formControlName="weightage" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div class="form-group">
                                                                        <input class="form-control" type="text"
                                                                            placeholder="Weightage score"
                                                                            formControlName="weightage_score" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button type="button" (click)="loadDomainSkills()"
                                        class="btn btn-dark">Previous</button>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <button type="button" (click)="addGeneralAptitude()" class="btn btn-primary">Add
                                        General
                                        Aptitude</button>

                                </div>
                                <div class="col-sm-4 text-right">
                                    <button (click)="submitGeneralAptitude()" type="button" class="btn btn-success">Save
                                        &
                                        Next</button>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Summary" id="summary">
                        <ng-template ngbTabContent class="tab-pane fade" id="summary-1" aria-labelledby="summary-tab">
                            <form [formGroup]="summaryForm">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Competency</th>
                                            <th>Skill</th>
                                            <th>Weighted Score</th>
                                            <th>Strength & Weaknesses</th>
                                            <th>Improvement Guidance</th>
                                            <!-- <th style="width:10%">
                                                <button (click)="addSummary()" class="btn btn-sm btn-primary">Add
                                                    summary</button>
                                            </th> -->
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="summary">
                                        <tr *ngFor="let sm of get_summary.controls; let summaryIndex=index;"
                                            [formGroupName]="summaryIndex">
                                            <td>
                                                <div class="form-group">
                                                    <select disabled class="form-control selectPadding"
                                                        formControlName="competency">
                                                        <option value="">Select Competency name</option>
                                                        <option *ngFor="let summary of allCompetacyList"
                                                            [value]="summary.competencyid">
                                                            {{summary.competencyname}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <select disabled class="form-control selectPadding"
                                                        formControlName="skill">
                                                        <option value="">Select Skill Name</option>
                                                        <option *ngFor="let skl of SummaryList[summaryIndex];"
                                                            [value]="skl.id">{{skl.skillname}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input readonly class="form-control" type="text" placeholder=""
                                                        formControlName="weighted_score">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder=""
                                                        formControlName="strength_weaknesses"
                                                        [ngClass]="{ 'is-invalid': summarysubmit && sm.get('strength_weaknesses')?.errors }">
                                                </div>

                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder=""
                                                        formControlName="improvement_guidance"
                                                        [ngClass]="{ 'is-invalid': summarysubmit && sm.get('improvement_guidance')?.errors }">
                                                </div>
                                            </td>
                                            <!-- <td style="width: 10%;">
                                                <div class="form-group text-center">
                                                    <button (click)="removeSummary(summaryIndex)"
                                                        class="btn btn-sm btn-danger">Delete</button>
                                                </div>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-6 text-left">
                                    <button type="button" (click)="loadGeneralAptitude()"
                                        class="btn btn-dark">Previous</button>
                                </div>

                                <div class="col-sm-6 text-right">
                                    <button (click)="submitSummary()" type="button"
                                        class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>
<span *ngIf="techskill_isLoading" class="spinner"></span>
<span *ngIf="domainskill_isLoading" class="spinner"></span>
<span *ngIf="ga_isLoading" class="spinner"></span>
<span *ngIf="summary_isLoading" class="spinner"></span>