
/* feedbback page */

.search-item {
    height: calc(100% - 35px);
}

#quest-list .card-header,
#summary-list .card-header {
    cursor: pointer;
    padding-left: 3rem;
}

#quest-list .card-header .edit-btn,
#summary-list .card-header .edit-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
}

.counter {
    counter-reset: mkscounter;
}

#quest-list .card-header::before,
#summary-list .card-header::before {
    counter-increment: mkscounter;
    content: counter(mkscounter) ".";
    position: absolute;
    left: 1.5rem;
    font-weight: bold;
}

.profile.int-feedback .sticky-top {
    top: 66px;
}

.modal-quest {
    padding: 1rem 0;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.modal-quest .delete-btn {
    position: absolute;
    right: 15px;
    top: -10px;
}

.delete-btn {
    color: red;
}

#addFeedback .skill-compt::before,
#addSummary .summary-compt::before {
    counter-increment: mkscounter;
    content: counter(mkscounter) ".";
    position: absolute;
    left: 15px;
    font-weight: bold;
}

#addSummary .card-header {
    padding-left: 2.5rem;
}

#addFeedback .skill-cont {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc;
}

#addFeedback .skill-cont:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
h5 small{
    font-size: 16px;
}
h6 span{
    font-size: 14px;
}