<div class="profile int-feedback bgclr">
    <div class="container">
        <div class="row">
            <div class="col-md-12 px-0">
                <div class="search-item mt-0 bg-white mb-5 rounded border px-3">
                    <div class="row justify-content-between align-items-center border-left border-right border-bottom">
                        <div class="col-sm-12 h6 mb-0 bg-light py-3">Add Feedback for <span
                                class="text-primary">Interview ID :
                                <span>{{interViewDetails.interviewid}}</span></span>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="mks-tabs style1">
                            <ul class="nav nav-tabs sticky-top bg-white" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active py-3" id="techview-tab" data-toggle="tab" href="#techview"
                                        role="tab" aria-controls="techview" aria-selected="true">Tech Skills</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link py-3" id="domainskills-tab" data-toggle="tab"
                                        href="#domainskills" role="tab" aria-controls="domainskills"
                                        aria-selected="false">Domain Skills</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link py-3" id="apptitude-tab" data-toggle="tab" href="#apptitude"
                                        role="tab" aria-controls="apptitude" aria-selected="true">General Apptitude
                                        / MR Skills</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link py-3" id="summary-tab" data-toggle="tab" href="#summary"
                                        role="tab" aria-controls="summary" aria-selected="false">Summary</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">

                                <div class="tab-pane fade show active" id="techview" role="tabpanel"
                                    aria-labelledby="techview-tab">
                                    <app-teck-skill [interResultSummary]="interResultSummary" [interViewDetails]="interViewDetails"></app-teck-skill>
                                </div>
                                <div class="tab-pane fade" id="domainskills" role="tabpanel"
                                    aria-labelledby="domainskills-tab">
                                    <app-domain-skill [interResultSummary]="interResultSummary" [interViewDetails]="interViewDetails"></app-domain-skill>
                                </div>
                                <div class="tab-pane fade" id="apptitude" role="tabpanel"
                                    aria-labelledby="apptitude-tab">
                                    <app-general-aptitude [interResultSummary]="interResultSummary" [interViewDetails]="interViewDetails"></app-general-aptitude>
                                </div>
                                <div class="tab-pane fade" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                                    <div class="py-3">
                                        <app-feedback-summary [interResultSummary]="interResultSummary" [interViewDetails]="interViewDetails"></app-feedback-summary>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>

        </div>
    </div>
</div>