<div class="search-result bgclr">
    <div class="container">
        <div class="row" style="margin-top: 5px;">
            <div class="col-md-3 pr-0 position-relative">
                <div class="filter border-danger" style="height: 535px;">
                    <div class="py-3 df aic jcb">
                        <span>
                            <svg width="18px" height="13px">
                                <path fill-rule="evenodd" stroke="rgb(0, 0, 0)" stroke-width="1px"
                                    d="M0.500,2.500 L0.500,0.500 L17.500,0.500 L17.500,2.500 L0.500,2.500 ZM14.500,7.500 L3.500,7.500 L3.500,5.500 L14.500,5.500 L14.500,7.500 ZM10.500,12.500 L7.500,12.500 L7.500,10.500 L10.500,10.500 L10.500,12.500 Z" />
                            </svg>
                            <span (click)="clearAllFilter()" style="cursor:pointer" class="fwsm ml-3">Clear All</span>
                        </span>
                        <a href="javascript:;">Applied({{applied}})</a>
                    </div>
                    <div class="scroll cscroll pr-2 position-relative">
                        <div class="filter-cards mb-2" id="filterAccordion">
                            <div class="cards bg-white">
                                <div class="card-header bg-white border-0 p-0">
                                    <a href="javascript:;" class="fwsm p-3 df jcb" data-toggle="collapse"
                                        data-target="#col1">
                                        <span>Current Industry</span>
                                        <i class="fas fa-angle-down ml-auto"></i>
                                    </a>

                                </div>
                                <div class="card-body collapse show pt-1" id="col1" data-parent="#filterAccordion">
                                    <div class="form-check mb-2" *ngFor="let lst of currentIndustryData | slice:0:5">
                                        <input class="form-check-input" name="{{lst.industryname}}"
                                            [checked]="lst.checked" type="radio" [value]="lst.industryname"
                                            (change)="onIndustrySelectSelect($event)">
                                        <label class="form-check-label ml-3" for="defaultCheck1">
                                            {{lst.industryname}}
                                        </label>
                                    </div>

                                    <div *ngIf="currentIndustryData.length > 5" class="text-right">
                                        <button class="btn btn-link text-warning fwb"
                                            (click)="showPan('#filter-pop','Current Industry')">+{{(currentIndustryData.length)-5}}
                                            More</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="filter-cards mb-2">
                            <div class="cards bg-white">
                                <div class="card-header bg-white border-0 p-0">
                                    <a href="javascript:;" class="fwsm p-3 df jcb" data-toggle="collapse"
                                        data-target="#col2">
                                        <span>Job Role</span>
                                        <i class="fas fa-angle-down ml-auto"></i>
                                    </a>
                                </div>
                                <div class="card-body pt-1" id="col2" data-parent="#filterAccordion">

                                    <div class="form-check mb-2" *ngFor="let lst of jobRoleData | slice:0:5;">
                                        <input name="{{lst.jobrolename}}" [checked]="lst.checked"
                                            class="form-check-input" type="radio" [value]="lst.jobrolename"
                                            (change)="onJobRoleSelect($event)">
                                        <label class="form-check-label ml-3" for="defaultCheck5">
                                            {{lst.jobrolename}}
                                        </label>
                                    </div>

                                    <div *ngIf="jobRoleData.length > 5" class="text-right">
                                        <button class="btn btn-link text-warning fwb"
                                            (click)="showPan('#filter-pop','Job Role')">+{{(jobRoleData.length)-5}}
                                            More</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                     

                    </div>
                </div>
            </div>
            <div class="col-md-9 h-100">
                <!-- <div class="square-box-loader" *ngIf="searchRecords.length <= 0">
                    <div class="square-box-loader-container">
                        <div class="square-box-loader-corner-top"></div>
                        <div class="square-box-loader-corner-bottom"></div>
                    </div>
                    <div class="square-box-loader-square"></div>
                </div> -->
                <div class="row  align-items-center">
                    <div class="col-md-4">
                        <div class="head fwb py-3 ptc">{{org_type}}</div>
                    </div>
                    <div class="col-md-4 text-center">
                        <span>{{(total_page == 0)?offset:(offset*limit + 1)}} - {{(total_page > 0?((offset ==
                            0)?limit:limit*(offset+1)+1):0)}} of {{total_page}}</span>
                        <button [disabled]="backwardDisable()" class="btn" type="button" (click)="priviousPage()">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <button [disabled]="forwardDisable()" class="btn" type="button" (click)="nextPage()">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                    <div class="col-md-4 text-right">
                        <div class="dropdown">
                            <i class="fas fa-sort-amount-up-alt"></i>
                            <a href="javascript:;" class="ml-3" data-toggle="dropdown">
                                Sort By : Relevance
                                <i class="fas fa-chevron-down"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scroll">
                    <div class="search-item" *ngFor="let record of searchRecords">
                        <div class="si-header border-bottom py-3 df aic jcb">
                            <span class="fwsm">{{record.currrole}} &nbsp; in &nbsp;{{record.currindustry}}</span>
                            <button class="btn px-2 py-0"><i class="far fa-star"></i> Save</button>
                        </div>
                        <div class="si-body row jcb py-3">
                            <div class="col-auto si-left df ais">
                                <a href="#" class="pro-pic rounded-pill mr-4">
                                    <img src="./assets/image/banner1.jpg" width="50" height="50" class="rounded-pill"
                                        alt="">
                                </a>
                                <div class="pro-info">
                                    <p class="fwb mb-0">{{record.fname}} &nbsp; {{record.lname}}</p>
                                    <p class="text-muted mb-0">Interviewer ID : {{record.fsid}}</p>
                                    <p>
                                        <span class="mr-3">
                                            <i class="fas fa-star mr-1"></i>
                                            <i class="fas fa-star mr-1"></i>
                                            <i class="fas fa-star mr-1"></i>

                                        </span>
                                        <span class="fwm">3.0</span>
                                    </p>
                                    <a style="cursor: pointer;" (click)="search_detail(record.fsid)" class="pro-link">See Profile</a>
                                </div>
                            </div>
                            <div class="col-auto si-right df aic jcb">

                                <span class="pr-3">
                                    <p class="mb-0 fwsm">{{record.interviewssofar}}</p>
                                    <p class="mb-0 text-muted">Interview Taken</p>
                                </span>
                                <span class="border-left border-right px-3">
                                    <p class="mb-0 fwsm">{{record.totalexperience}} Years</p>
                                    <p class="mb-0 text-muted">
                                        Experience
                                    </p>
                                </span>
                                <span class="pl-3">
                                    <p class="mb-0 fwsm">{{getEducation(record.educations)}}</p>
                                    <p class="mb-0 text-muted">Qualification</p>
                                </span>
                            </div>
                        </div>
                        <div style="margin:0px" class="row pt-3 border-top">
                            <div class="col-sm-3 text-right">
                                <p>Title : </p>
                            </div>
                            <div class="col-sm-9">
                                <p>{{record.title}}</p>
                            </div>
                            <div class="col-sm-3 text-right">
                                <p>Keywords : </p>
                            </div>
                            <div class="col-sm-9">
                                <p>{{record.keywords}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="filter-pop hide-p p-3 border" id="filter-pop">
    <div class="df jcb mb-3">
        <div class="head fwb">{{title}}</div>
        <button type="button" class="btn close px-2" onclick="hidePanel('#filter-pop')">&times;</button>
    </div>
    <div class="df jcb mb-3">
        <div class="form-group">
            <input [(ngModel)]="search" class="form-control form-control-sm" placeholder="Search heare">
        </div>
    </div>
    <div class="form-check ml-3 mb-2" *ngFor="let lst of popuprecords | slice:5 | aFilter:search:title">
        <div *ngIf="title == 'Country'">
            <input [checked]="lst.checked" name="{{lst.id}}" class="form-check-input" type="radio" [value]="lst.id"
                (change)="onCountrySelect($event,lst.countryname)">
            <label class="form-check-label ml-3" for="defaultCheckA">
                {{lst.countryname}}
            </label>
        </div>
        <div *ngIf="title == 'State'">
            <input name="{{lst.statecode}}" [checked]="lst.checked" class="form-check-input" type="radio"
                [value]="lst.statecode" (change)="onStateSelect($event,lst.statename)">
            <label class="form-check-label ml-3" for="defaultCheckA">
                {{lst.statename}}
            </label>
        </div>

        <div *ngIf="title == 'City'">
            <input name="{{lst.citycode}}" [checked]="lst.checked" class="form-check-input" type="radio"
                [value]="lst.citycode" (change)="onCitySelect($event,lst.cityname)">
            <label class="form-check-label ml-3" for="defaultCheckA">
                {{lst.cityname}}
            </label>
        </div>

        <div *ngIf="title == 'Current Industry'">
            <input class="form-check-input" name="{{lst.industryname}}" [checked]="lst.checked" type="radio"
                [value]="lst.industryname" (change)="onIndustrySelectSelect($event)">
            <label class="form-check-label ml-3" for="defaultCheckA">
                {{lst.industryname}}
            </label>
        </div>

        <div *ngIf="title == 'Job Role'">
            <input name="{{lst.jobrolename}}" [checked]="lst.checked" class="form-check-input" type="radio"
                [value]="lst.jobrolename" (change)="onJobRoleSelect($event)">
            <label class="form-check-label ml-3" for="defaultCheckA">
                {{lst.jobrolename}}
            </label>
        </div>

        <div *ngIf="title == 'Competency'">
            <input name="{{lst.competencyname}}" class="form-check-input" type="checkbox" [value]="lst.competencyname"
                (change)="onSelectCompetance($event)">
            <label class="form-check-label ml-3" for="defaultCheckA">
                {{lst.competencyname}}
            </label>
        </div>

    </div>
</div>