<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-3">
    <div class="container">
        <a class="navbar-brand" href="#">
            <svg width="116px" height="22px">
                <text kerning="auto" font-family="Myriad Pro" fill="rgb(0, 0, 0)" font-size="30px" x="0px" y="22px">
                    <tspan font-size="30px" font-family="CNN" fill="#F77049">Vikoona</tspan>
                </text>
            </svg>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form [formGroup]="navSearch" class="form-inline my-2 my-lg-0">
                <select [ngClass]="{ 'is-invalid': submitted && s.org_type.errors }" formControlName="org_type" name=""
                    id="" class="form-control border-0">
                    <option value="Jobs">Jobs</option>
                    <!-- <option value="Jobseeker">Jobseeker</option> -->
                    <option value="Freelancer">Freelancer</option>
                    <!-- <option value="Employer">Employer</option> -->
                </select>
                <input [ngClass]="{ 'is-invalid': submitted && s.search_keyword.errors }"
                    formControlName="search_keyword" (keyup.enter)="search_by_keyword()" class="form-control"
                    type="search" placeholder="Search" aria-label="Search">
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/account/login/jobseeker">Jobseeker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/account/login/freelancer">Interviewer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/account/login/employer">Employer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
            </ul>

        </div>
    </div>
</nav>