// .opt::-webkit-scrollbar {
//     width: 4px;
// }

// .opt::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(3, 61, 219, 0.3); 
//     border-radius: 0px;
// }

.clear{
    clear: both;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    width: 100% !important;
}

.listing{
    border-left: 1px lightgrey solid;
}

.searchList{
    font-size: 14px !important;
    margin-left: -8px !important;
    padding-top: 10px !important;
    margin-bottom:20px !important;
    padding-bottom: 10px !important;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}