<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <svg width="116px" height="22px">
                <text kerning="auto" font-family="Myriad Pro" fill="rgb(0, 0, 0)" font-size="30px" x="0px" y="22px">
                    <tspan font-size="30px" font-family="CNN" fill="#F77049">Vikoona</tspan>
                </text>
            </svg>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <select name="" id="" class="form-control border-0">
                    <option value="Jobseeker">Jobseeker</option>
                    <option value="Freelancer">Freelancer</option>
                    <option value="Employer">Employer</option>
                </select>
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="jobseeker.html">Jobseeker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="freelancer.html">Interviewer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="employer.html">Employer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="profile bgclr">
    <div class="container">
        <div class="row">
            <div class="col-md-3 pr-0 position-relative">
                <div class="sticky-top border-danger mb-4 ">
                    <div class="profile-card bg-white border p-3 mt-3 rounded">
                        <div class="text-center">
                            <img src="assets/image/banner3.jpg" class="rounded-pill" style="width: 80px; height: 80px;"
                                alt="">
                            <div class="up-title mt-2 fwsb">Vikram Sharma</div>
                            <hr>
                        </div>
                        <div class="">
                            <ul class="nav withicon flex-column">
                                <li class="nav-item">
                                    <a href="" class="nav-link rounded">
                                        <span class="icn">
                                            <svg viewBox="0 0 576 512" height="16">
                                                <path fill="currentColor"
                                                    d="M288 288c-22.35 0-41.96 11.49-53.41 28.84l-101.87-20.38c-13.06-2.77-25.66 5.83-28.25 18.83s5.81 25.64 18.81 28.23L225.69 364c1.45 7.1 3.64 13.91 7.18 19.99h110.25c5.5-9.45 8.88-20.28 8.88-32 0-35.34-28.65-63.99-64-63.99zm-112-48c17.67 0 32-14.33 32-32s-14.33-32-32-32-32 14.33-32 32 14.33 32 32 32zm240 80c0 17.67 14.33 32 32 32s32-14.33 32-32-14.33-32-32-32-32 14.33-32 32zM288 192c17.67 0 32-14.33 32-32s-14.33-32-32-32-32 14.33-32 32 14.33 32 32 32zm144 16c0-17.67-14.33-32-32-32s-32 14.33-32 32 14.33 32 32 32 32-14.33 32-32zM288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm212.27 400H75.73C57.56 397.63 48 359.12 48 320 48 187.66 155.66 80 288 80s240 107.66 240 240c0 39.12-9.56 77.63-27.73 112z"
                                                    class=""></path>
                                            </svg>
                                        </span>
                                        <span class="ml-3">Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link rounded">
                                        <span class="icn">
                                            <svg viewBox="0 0 640 512" height="16">
                                                <path fill="currentColor"
                                                    d="M224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96zm89.6 256c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zm224-248h-72v-72c0-8.8-7.2-16-16-16h-16c-8.8 0-16 7.2-16 16v72h-72c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h72v72c0 8.8 7.2 16 16 16h16c8.8 0 16-7.2 16-16v-72h72c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16z"
                                                    class=""></path>
                                            </svg>
                                        </span>
                                        <span class="ml-3">Profile</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link rounded">
                                        <span class="icn">
                                            <svg viewBox="0 0 384 512" height="16">
                                                <path fill="currentColor"
                                                    d="M369.9,97.9,286,14A48,48,0,0,0,252.1-.1H48A48.16,48.16,0,0,0,0,48V464a48,48,0,0,0,48,48H336a48,48,0,0,0,48-48V131.9A48.23,48.23,0,0,0,369.9,97.9ZM256,51.9,332.1,128H256ZM336,464H48V48H208V152a23.94,23.94,0,0,0,24,24H336ZM215,223.75a16,16,0,0,0-16-16H183a16,16,0,0,0-16,16v56.5h-55.5a16,16,0,0,0-16,16v16a16,16,0,0,0,16,16H167v56a16,16,0,0,0,16,16h16a16,16,0,0,0,16-16v-56h56.5a16,16,0,0,0,16-16v-16a16,16,0,0,0-16-16H215Z"
                                                    class=""></path>
                                            </svg>
                                        </span>
                                        <span class="ml-3">Add My Resume</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link rounded">
                                        <span class="icn">
                                            <svg viewBox="0 0 640 512" height="16">
                                                <path fill="currentColor"
                                                    d="M480 256c53 0 96-43 96-96s-43-96-96-96-96 43-96 96 43 96 96 96zm0-144c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48 21.5-48 48-48zM272.1 276c-11.9 0-23.9 1.7-35.5 5.3-14.2 4.3-29.1 6.7-44.7 6.7s-30.5-2.4-44.7-6.7c-11.6-3.5-23.6-5.3-35.5-5.3-36.3 0-71.6 16.2-92.3 46.9C7.2 341.3 0 363.4 0 387.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-44.8c0-23.8-7.2-45.9-19.6-64.3-20.7-30.7-56-46.9-92.3-46.9zM336 432H48v-44.8c0-28.9 18.4-53.6 44.1-63.1 10.3-3.8 21.6-3.7 31.9 0 22.1 7.9 45 11.9 68 11.9s45.8-4 68.1-11.9c10.3-3.7 21.6-3.8 31.9 0 25.7 9.4 44.1 34.2 44.1 63.1V432zM192 256c61.9 0 112-50.1 112-112S253.9 32 192 32 80 82.1 80 144s50.1 112 112 112zm0-176c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm431.7 237.1C606.4 291.5 577 278 546.8 278c-27.8 0-34.8 10-66.8 10s-39-10-66.8-10c-13.3 0-26.2 3-38.2 8.1 5.8 5.9 11.3 12 16 18.9 4.7 7 8.6 14.4 12 22 3.3-.7 6.7-1.1 10.2-1.1 17.2 0 29.6 10 66.8 10 37.4 0 49.5-10 66.8-10 15.7 0 29.5 6.7 37.1 17.9 5.3 7.9 8.1 17.1 8.1 26.7V400H416v32c0 5.5-.6 10.8-1.6 16H600c22.1 0 40-17.9 40-40v-37.3c0-19.9-6-38.3-16.3-53.6z"
                                                    class=""></path>
                                            </svg>
                                        </span>
                                        <span class="ml-3">My Mock Interviews</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link rounded">
                                        <span class="icn">
                                            <svg viewBox="0 0 640 512" height="16">
                                                <path fill="currentColor"
                                                    d="M480 256c53 0 96-43 96-96s-43-96-96-96-96 43-96 96 43 96 96 96zm0-144c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48 21.5-48 48-48zM272.1 276c-11.9 0-23.9 1.7-35.5 5.3-14.2 4.3-29.1 6.7-44.7 6.7s-30.5-2.4-44.7-6.7c-11.6-3.5-23.6-5.3-35.5-5.3-36.3 0-71.6 16.2-92.3 46.9C7.2 341.3 0 363.4 0 387.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-44.8c0-23.8-7.2-45.9-19.6-64.3-20.7-30.7-56-46.9-92.3-46.9zM336 432H48v-44.8c0-28.9 18.4-53.6 44.1-63.1 10.3-3.8 21.6-3.7 31.9 0 22.1 7.9 45 11.9 68 11.9s45.8-4 68.1-11.9c10.3-3.7 21.6-3.8 31.9 0 25.7 9.4 44.1 34.2 44.1 63.1V432zM192 256c61.9 0 112-50.1 112-112S253.9 32 192 32 80 82.1 80 144s50.1 112 112 112zm0-176c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm431.7 237.1C606.4 291.5 577 278 546.8 278c-27.8 0-34.8 10-66.8 10s-39-10-66.8-10c-13.3 0-26.2 3-38.2 8.1 5.8 5.9 11.3 12 16 18.9 4.7 7 8.6 14.4 12 22 3.3-.7 6.7-1.1 10.2-1.1 17.2 0 29.6 10 66.8 10 37.4 0 49.5-10 66.8-10 15.7 0 29.5 6.7 37.1 17.9 5.3 7.9 8.1 17.1 8.1 26.7V400H416v32c0 5.5-.6 10.8-1.6 16H600c22.1 0 40-17.9 40-40v-37.3c0-19.9-6-38.3-16.3-53.6z"
                                                    class=""></path>
                                            </svg>
                                        </span>
                                        <span class="ml-3">My Interviews</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link rounded">
                                        <span class="icn">
                                            <svg viewBox="0 0 384 512" height="16">
                                                <path fill="currentColor"
                                                    d="M369.941 97.941l-83.882-83.882A48 48 0 0 0 252.118 0H48C21.49 0 0 21.49 0 48v416c0 26.51 21.49 48 48 48h288c26.51 0 48-21.49 48-48V131.882a48 48 0 0 0-14.059-33.941zM332.118 128H256V51.882L332.118 128zM48 464V48h160v104c0 13.255 10.745 24 24 24h104v288H48zm261.151-192.661L166.842 412.508c-4.705 4.667-12.303 4.637-16.971-.068l-75.091-75.7c-4.667-4.705-4.637-12.303.068-16.971l22.719-22.536c4.705-4.667 12.303-4.637 16.97.069l44.104 44.461 111.072-110.181c4.705-4.667 12.303-4.637 16.971.068l22.536 22.718c4.667 4.706 4.636 12.303-.069 16.971z"
                                                    class=""></path>
                                            </svg>
                                        </span>

                                        <span class="ml-3">Document Approval</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="profile-card bg-white border p-3 mt-3 rounded">
                        <h6>My Points Earned</h6>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a href="" class="nav-link">My Views</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Points Earned</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 60px;">

                <div class="profile-card bg-white mt-3 mb-4 shadow rounded">
                    <div class="step-bar rounded bg-light p-3">
                        <ul class="progressbar pl-0">
                            <li class="active"><span>Basic Info</span></li>
                            <li class="active"><span>Job Summary</span></li>
                            <li><span>Id Details</span></li>
                            <li><span>Address</span></li>
                            <li><span>Education</span></li>
                            <li><span>Work Experience</span></li>
                            <li><span>Key Skills</span></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="step-form step1 px-3 pt-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                                    <span>Email: <b>vikram@gmail.com</b></span>
                                    <span>Mobile: <b>9988774563</b></span>
                                    <span>ID: <b>546855</b></span>
                                </div>
                                <h6 class="fwb mb-4">Basic Information</h6>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 text-right mb-0">Title</label>
                                    <div class="col-sm-4">
                                        <select name="" id="" class="form-control">
                                            <option value="Mr.">Mr.</option>
                                            <option value="Mrs.">Mrs.</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 text-right mb-0">Gender</label>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio1" value="option1">
                                            <label class="form-check-label" for="inlineRadio1">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">Female</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio3" value="option3">
                                            <label class="form-check-label" for="inlineRadio3">Transgender</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 text-right mb-0">First Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 text-right mb-0">Last Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 text-right mb-0">Nationality</label>
                                    <div class="col-sm-8">
                                        <select name="" id="" class="form-control">
                                            <option value="Indian">Indian</option>
                                            <option value="NRI">NRI</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 text-right mb-0">Date Of Birth</label>
                                    <div class="col-sm-4">
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 text-right mb-0">Current
                                        Salary<br><small>Annualy</small></label>
                                    <div class="col-sm-8">
                                        <div class="form-inline">
                                            <select name="" id="" class="form-control">
                                                <option value="">Lacs</option>
                                            </select>
                                            <select name="" id="" class="form-control">
                                                <option value="">Thousand</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 text-right mb-0">Upload Resume</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                                    aria-describedby="inputGroupFileAddon01">
                                                <label class="custom-file-label" for="inputGroupFile01">Choose
                                                    file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right bg-light mx-n3 p-3">
                            <button class="btn btn-primary">Next (Job Info)</button>
                        </div>
                    </div>
                    <div class="step-form step2 px-3 pt-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="fwb mb-4">Job Information (Current)</h6>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Industry</label>
                                    <div class="col-sm-7">
                                        <select name="" id="" class="form-control">
                                            <option value="Indian">Industry1</option>
                                            <option value="NRI">Industry2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Functional Area</label>
                                    <div class="col-sm-7">
                                        <select name="" id="" class="form-control">
                                            <option value="Indian">Area1</option>
                                            <option value="NRI">Area2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Role</label>
                                    <div class="col-sm-7">
                                        <select name="" id="" class="form-control">
                                            <option value="Indian">Role1</option>
                                            <option value="NRI">Role2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Location</label>
                                    <div class="col-sm-7">
                                        <select name="" id="" class="form-control">
                                            <option value="Indian">Location1</option>
                                            <option value="NRI">Location 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Prefered Location</label>
                                    <div class="col-sm-7">
                                        <select name="" id="" class="form-control">
                                            <option value="Indian">Location1</option>
                                            <option value="NRI">Location 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Notice Period</label>
                                    <div class="col-sm-7">
                                        <select name="" id="" class="form-control">
                                            <option value="Indian">1 Month</option>
                                            <option value="NRI">2 Month</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Upload Resume</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                                    aria-describedby="inputGroupFileAddon01">
                                                <label class="custom-file-label" for="inputGroupFile01">Choose
                                                    file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right df jcb bg-light mx-n3 p-3">
                            <button class="btn btn-secondary">Previous (Basic Info)</button>
                            <button class="btn btn-primary">Next (Id Details)</button>
                        </div>
                    </div>
                    <div class="step-form step3 px-3 pt-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="fwb mb-4">Your ID</h6>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">ID Type</label>
                                    <div class="col-sm-7">
                                        <select name="" id="" class="form-control">
                                            <option value="Indian">ID Type1</option>
                                            <option value="NRI">ID Type2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">ID No.</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" placeholder="ID Number">
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Attach ID</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                                    aria-describedby="inputGroupFileAddon01">
                                                <label class="custom-file-label" for="inputGroupFile01">Choose
                                                    file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Pan No.</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" placeholder="Pan Number">
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Attach PAN</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                                    aria-describedby="inputGroupFileAddon01">
                                                <label class="custom-file-label" for="inputGroupFile01">Choose
                                                    file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right df jcb bg-light mx-n3 p-3">
                            <button class="btn btn-secondary">Previous (Job Info)</button>
                            <button class="btn btn-primary">Next (Adress)</button>
                        </div>
                    </div>
                    <div class="step-form step4 px-3 pt-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="fwb mb-4">Address Details</h6>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Address Line1</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" placeholder="Line1">
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Address Line2</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" placeholder="Line2">
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Country</label>
                                    <div class="col-sm-5">
                                        <select name="" id="" class="form-control">
                                            <option value="">India</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">State</label>
                                    <div class="col-sm-5">
                                        <select name="" id="" class="form-control">
                                            <option value="">Delhi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">City</label>
                                    <div class="col-sm-5">
                                        <select name="" id="" class="form-control">
                                            <option value="">New Delhi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Pin code</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" placeholder="Pin code">
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Address Proof</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                                    aria-describedby="inputGroupFileAddon01">
                                                <label class="custom-file-label" for="inputGroupFile01">Choose
                                                    file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right df jcb bg-light mx-n3 p-3">
                            <button class="btn btn-secondary">Previous (Id Details)</button>
                            <button class="btn btn-primary">Next (Experience)</button>
                        </div>
                    </div>
                    <div class="step-form step5 px-3 pt-3">
                        <div class="row">
                            <div class="col-12">
                                <small>Profile Title</small>
                                <div class="card-item border pl-2 df jcb aic mb-3">
                                    <div class="card-title fwsm mb-0">
                                        <svg viewBox="0 0 496 512" height="20" class="mr-2">
                                            <path fill="currentColor"
                                                d="M248 104c-53 0-96 43-96 96s43 96 96 96 96-43 96-96-43-96-96-96zm0 144c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm0-240C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-49.7 0-95.1-18.3-130.1-48.4 14.9-23 40.4-38.6 69.6-39.5 20.8 6.4 40.6 9.6 60.5 9.6s39.7-3.1 60.5-9.6c29.2 1 54.7 16.5 69.6 39.5-35 30.1-80.4 48.4-130.1 48.4zm162.7-84.1c-24.4-31.4-62.1-51.9-105.1-51.9-10.2 0-26 9.6-57.6 9.6-31.5 0-47.4-9.6-57.6-9.6-42.9 0-80.6 20.5-105.1 51.9C61.9 339.2 48 299.2 48 256c0-110.3 89.7-200 200-200s200 89.7 200 200c0 43.2-13.9 83.2-37.3 115.9z"
                                                class=""></path>
                                        </svg> Senior Architect Looking for a Leadership Role
                                    </div>
                                    <button type="button" class="btn border m-1 edit">
                                        <svg height="16" viewBox="0 0 512 512">
                                            <path fill="currentColor"
                                                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                                <div class="card mks-card mb-3">
                                    <div class="card-header df jcb aic">
                                        <span class="fwb">Experience</span>
                                        <button class="btn btn-sm border bg-white">+ Add More</button>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-item border-bottom df aic">
                                            <div class="card-icon border df jcc aic rounded-pill mr-3">
                                                <img src="assets/image/banner2.jpg" class="card-icon rounded-pill"
                                                    alt="">
                                            </div>
                                            <div class="card-content">
                                                <div class="card-title fwsm">Consulting Member - Technical Staff</div>
                                                <div class="card-subtitle mb-0 text-mutedfwm">Oracle</div>
                                                <small class="card-location text-muted">Location : Noida</small>
                                            </div>
                                            <small class="duration texr-muted">
                                                <i class="fwm">Currently Working -</i>
                                                2 yrs 5 months
                                            </small>
                                            <button type="button" class="btn border edit">
                                                <svg height="16" viewBox="0 0 512 512">
                                                    <path fill="currentColor"
                                                        d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="card-item df aic">
                                            <div class="card-icon border df jcc aic rounded-pill mr-3">icon</div>
                                            <div class="card-content">
                                                <div class="card-title fwsm">Consulting Member - Technical Staff</div>
                                                <div class="card-subtitle mb-0 text-mutedfwm">Oracle</div>
                                                <small class="card-location text-muted">Location : Noida</small>
                                            </div>
                                            <small class="duration texr-muted">
                                                2 yrs 5 months
                                            </small>
                                            <button type="button" class="btn border edit">
                                                <svg height="16" viewBox="0 0 512 512">
                                                    <path fill="currentColor"
                                                        d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mks-card mb-3">
                                    <div class="card-header df jcb aic">
                                        <span class="fwb">Education</span>
                                        <button class="btn btn-sm border bg-white">+ Add More</button>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-item border-bottom df aic">
                                            <div class="card-icon border df jcc aic rounded-pill mr-3">
                                                <img src="assets/image/banner2.jpg" class="card-icon rounded-pill"
                                                    alt="">
                                            </div>
                                            <div class="card-content">
                                                <div class="card-title fwsm">Master / Post Graduation</div>
                                                <div class="card-subtitle mb-0 text-mutedfwm">Indian Institute of
                                                    Technology Delhi</div>
                                                <small class="card-location text-muted">Full Time : 1999 - 2000</small>
                                            </div>
                                            <button type="button" class="btn border edit">
                                                <svg height="16" viewBox="0 0 512 512">
                                                    <path fill="currentColor"
                                                        d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="card-item df aic">
                                            <div class="card-icon border df jcc aic rounded-pill mr-3">icon</div>
                                            <div class="card-content">
                                                <div class="card-title fwsm">Graduation Diploma / (BE/B-tech)</div>
                                                <div class="card-subtitle mb-0 text-mutedfwm">Punjab</div>
                                                <small class="card-location text-muted">Full Time : 1992-1996</small>
                                            </div>
                                            <button type="button" class="btn border edit">
                                                <svg height="16" viewBox="0 0 512 512">
                                                    <path fill="currentColor"
                                                        d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mks-card mb-3">
                                    <div class="card-header df jcb aic">
                                        <span class="fwb">Key Competencies</span>
                                        <button class="btn btn-sm border bg-white">+ Add More</button>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-item border-bottom df aic">
                                            <div class="card-icon sm-icn border df jcc aic rounded-pill mr-3">
                                                <img src="assets/image/banner2.jpg"
                                                    class="card-icon sm-icn rounded-pill" alt="">
                                            </div>
                                            <div class="card-content">
                                                <div class="card-title mb-0 fwsm">Enterprise Achitecture</div>
                                                <small class="card-location text-muted">5 yrs 2 months</small>
                                            </div>
                                            <button type="button" class="btn border edit">
                                                <svg height="16" viewBox="0 0 512 512">
                                                    <path fill="currentColor"
                                                        d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="card-item border-bottom df aic">
                                            <div class="card-icon sm-icn border df jcc aic rounded-pill mr-3">
                                                <img src="assets/image/banner2.jpg"
                                                    class="card-icon sm-icn rounded-pill" alt="">
                                            </div>
                                            <div class="card-content">
                                                <div class="card-title mb-0 fwsm">Enterprise Achitecture</div>
                                                <small class="card-location text-muted">5 yrs 2 months</small>
                                            </div>
                                            <button type="button" class="btn border edit">
                                                <svg height="16" viewBox="0 0 512 512">
                                                    <path fill="currentColor"
                                                        d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mks-card mb-3">
                                    <div class="card-header df jcb aic">
                                        <span class="fwb">Desired Career Details</span>
                                        <button type="button" class="btn border edit">
                                            <svg height="16" viewBox="0 0 512 512">
                                                <path fill="currentColor"
                                                    d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                                                </path>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="card-item df aic">
                                                    <div class="card-content">
                                                        <small class="card-location text-muted">Desired Industry</small>
                                                        <div class="card-title text-primary mb-0 fwsm">IT Hardware &
                                                            Networking</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="card-item df aic">
                                                    <div class="card-content">
                                                        <small class="card-location text-muted">Desired Profile</small>
                                                        <div class="card-title text-primary mb-0 fwsm">Senior Architect,
                                                            CIO, CTO</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="card-item df aic">
                                                    <div class="card-content">
                                                        <small class="card-location text-muted">Desired Location</small>
                                                        <div class="card-title text-primary mb-0 fwsm">NCR</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="card-item df aic">
                                                    <div class="card-content">
                                                        <small class="card-location text-muted">Job Type</small>
                                                        <div class="card-title text-primary mb-0 fwsm">Full Time</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right df jcb bg-light mx-n3 p-3">
                            <button class="btn btn-secondary">Previous (Id Details)</button>
                            <button class="btn btn-primary">Next (Video Resume)</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 pl-0">
                <div class="rounded sticky-top px-3 mt-3 py-4 bg-light border">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                    <ul class="step-chart pl-4 mt-3">
                        <li class="active"><span>Basic Info</span></li>
                        <li class="active"><span>Job Summary</span></li>
                        <li><span>Id Details</span></li>
                        <li><span>Address</span></li>
                        <li><span>Education</span></li>
                        <li><span>Work Experience</span></li>
                        <li><span>Key Skills</span></li>
                        <li><span>Video Resumes</span></li>
                        <li><span>Desired Career Aspirations</span></li>
                        <li><span>Review</span></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-md-3 pl-0">
                <div class="profile-card bg-white p-3 mt-3 rounded">
                    fg
                </div>
            </div> -->
        </div>
    </div>
</div>
<footer class="ba-footer py-3">
    <div class="container">

        <div class="bf-copyr text-lg-right">
            <a href="" class="text-nowrap">Privacy</a>
            <a href="" class="text-nowrap">©2020 Vikoona</a>
            <a href="" class="text-nowrap">Refund Policy</a>
            <a href="" class="text-nowrap">Terms &amp; conditions</a>
        </div>
    </div>
</footer>