<div class="step-form step3 px-3 pt-3">
  <form [formGroup]="idProof" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-sm-12">
        <h6 class="fwb mb-4">Your ID</h6>
        <div class="row form-group align-items-center">
          <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0"
            >ID Type</label
          >
          <div class="col-sm-7">
            <select
              formControlName="identityprooftype" 
              id=""
              [ngClass]="{'is-invalid':submitted && f.identityprooftype.errors}"
              class="form-control" >
              <option value="">--select--</option>
              <option value="passport">Passport</option>
              <option value="adhar card">Aadhar Card</option>
              <option value="voter id card">Voter Id Card</option>
            </select>
          </div>
        </div>
        <div class="row form-group align-items-center">
          <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0" >ID No.</label
          >
          <div class="col-sm-7">
            <input
              formControlName="identityNumber"
              [ngClass]="{'is-invalid':submitted && f.identityNumber.errors}"
              type="text"
              formControlName="identityNumber"
              class="form-control"
              placeholder="ID Number"
            />
          </div>
        </div>
        <div class="row form-group align-items-center">
          <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Attach ID</label>
          <div class="col-sm-7">
            <div class="input-group">
              <div class="custom-file">
                <input readonly placeholder="upload idproof" formControlName="idproofurl"
                [ngClass]="{'is-invalid':submitted && f.idproofurl?.errors}" type="text"
                            type="text"
                            class="form-control">
                 <input #resumeRef  (change)="uploadIdProofFile($event)" type="file" style="display: none;">
                 <button type="button" (click)="resumeRef.click()" style="border-radius: 1px !important;" class="btn btn-md  btn-info">Browse</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group align-items-center">
          <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Pan No.</label>
          <div class="col-sm-7">
            <input
              type="text"
              formControlName="taxidnumber"
              [ngClass]="{'is-invalid':submitted && f.taxidnumber.errors}"
              
              class="form-control"
              placeholder="Pan Number"
            />
          </div>
        </div>
        <div class="row form-group align-items-center">
          <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Attach PAN</label>
          <div class="col-sm-7">
            <div class="input-group">
              <div class="custom-file">
                <input readonly placeholder="upload taxidnumber" formControlName="taxproofurl"
                [ngClass]="{'is-invalid':submitted && f.taxproofurl?.errors}" type="text"
                            type="text"
                            class="form-control">
                 <input #taxidRef  (change)="uploadTaxProofFile($event)" type="file" style="display: none;">
                 <button type="button" (click)="taxidRef.click()" style="border-radius: 1px !important;" class="btn btn-md btn-info">Browse</button>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right df jcb bg-light mx-n3 p-3">
      <button type="button" (click)="previous()" class="btn btn-secondary">
        Previous (Job Info)
      </button>
      <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="submit" class="btn btn-primary">Next (Address)</button>
    </div>
  </form>
</div>
