<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="dashboard-title mb-4">Add District</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <form class="pt-3" [formGroup]="districtForm" (ngSubmit)="createDistrict()">
                            <div class="form-group">
                                <label for="countrycode">Country</label>
                                <select id="countrycode" class="form-control" formControlName="countrycode" (change)="onCountryChange($event.target.value)"
                                [ngClass]="{ 'is-invalid': dfsubmitted && df.countrycode.errors }">
                                <option value="">--Select Country--</option>
                                <option *ngFor="let country of countries" [value]="country.country_code">{{country.countryname}}</option>
                                </select>
                                <div *ngIf="dfsubmitted && df.countrycode.errors" class="invalid-feedback">
                                    <div *ngIf="df.countrycode.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="statecode">State</label>
                                <select id="statecode" class="form-control" formControlName="statecode"
                                [ngClass]="{ 'is-invalid': dfsubmitted && df.statecode.errors }">
                                <option value="">--Select State--</option>
                                <option *ngFor="let state of states" [value]="state.statecode">{{state.statename}}</option>
                                </select>
                                <div *ngIf="dfsubmitted && df.statecode.errors" class="invalid-feedback">
                                    <div *ngIf="df.statecode.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="districtcode">District Code</label>
                                <input id="districtcode" formControlName="districtcode" class="form-control" type="text" placeholder="District Code"
                                [ngClass]="{ 'is-invalid': dfsubmitted && df.districtcode.errors }" />
                                <div *ngIf="dfsubmitted && df.districtcode.errors" class="invalid-feedback">
                                    <div *ngIf="df.districtcode.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="districtname">District Name</label>
                                <input id="districtname" formControlName="districtname" class="form-control" type="text" placeholder="District Name"
                                    [ngClass]="{ 'is-invalid': dfsubmitted && df.districtname.errors }" />
                                <div *ngIf="dfsubmitted && df.districtname.errors" class="invalid-feedback">
                                    <div *ngIf="df.districtname.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>