<div class="col-md-12">
    <div class="search-item bg-white mt-3 mb-4 border rounded">
        <h5 class="modal-title m-3" id="viewJobApplicationModalLabel">Schedule Face 2 Face Interview
            <a class="float-right" routerLink="/employer/myjobposting"> < Back</a>
        </h5>
        <hr>
        <div class="container">
            <div class="row mb-3">
                <div class="col-sm-6">
                    <div class="row" *ngIf="applicationData.jobseekername">
                        <div class="col-sm-4">Name</div>
                        <div class="col-sm-8">: {{applicationData.jobseekername}}</div>
                    </div>
                    <div class="row" *ngIf="applicationData.applicationid">
                        <div class="col-sm-4">App. ID</div>
                        <div class="col-sm-8">: {{applicationData.applicationid}}</div>
                    </div>
                    <div class="row" *ngIf="applicationData.jobseekerusername">
                        <div class="col-sm-4">Email</div>
                        <div class="col-sm-8">: {{applicationData.jobseekerusername}}</div>
                    </div>
                    <div class="row" *ngIf="applicationData.jobseekermobile">
                        <div class="col-sm-4">Mobile No.</div>
                        <div class="col-sm-8">: {{applicationData.jobseekermobile}}</div>
                    </div>
                    <div class="row" *ngIf="applicationData.statuscode">
                        <div class="col-sm-4">Status</div>
                        <div class="col-sm-8">: {{applicationData.statuscode}}</div>
                    </div>
                    <div class="row" *ngIf="applicationData.resumeurl">
                        <div class="col-sm-4">Resume</div>
                        <div class="col-sm-8">
                            <a _ngcontent-qnr-c7="" class="btn bg-light border" download="applicationData.resumeurl" type="button" (click)="openLink(applicationData.resumeurl)">
                                <i _ngcontent-qnr-c7="" class="fas fa-cloud-download-alt"></i>
                           </a>
                        </div>
                    </div>
                    <div class="row" *ngIf="applicationData.decisioncode">
                        <div class="col-sm-4">Final Decision</div>
                        <div class="col-sm-8">
                            <select name="" class="form-control form-control-sm">
                                <option value="">No Hire</option>
                                <option value="">Never Hire</option>
                                <option value="">Offer in Deaft</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 border-left">
                    <div class="row" *ngIf="applicationData.hrowner">
                        <div class="col-sm-4">HR Owner</div>
                        <div class="col-sm-8">: {{applicationData.hrowner}}</div>
                    </div>
                    <div class="row" *ngIf="applicationData.jobrole">
                        <div class="col-sm-4">Job Role</div>
                        <div class="col-sm-8">: {{applicationData.jobrole}}</div>
                    </div>
                    <div class="row" *ngIf="applicationData.hiringmanager">
                        <div class="col-sm-4">Hiring Manager</div>
                        <div class="col-sm-8">: {{applicationData.hiringmanager}}</div>
                    </div>
                    <div class="row" *ngIf="applicationData.rounds">
                        <div class="col-sm-4">No. of F2F Interview Loops</div>
                        <div class="col-sm-8"><input type="text" class="form-control form-control-sm"
                                [(ngModel)]="applicationData.rounds" disabled></div>
                    </div>
                    <div class="row" *ngIf="applicationData.round">
                        <div class="col-sm-4">No. of F2F Interview Loops</div>
                        <div class="col-sm-8"><input type="text" class="form-control form-control-sm"
                                [(ngModel)]="applicationData.round" disabled></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table thead-mid mks-tbl valign-center pt-0"  *ngIf="dataAppsLen">
                <thead class="thead-light">
                    <tr>
                        <th>Round</th>
                        <th>Interviewer</th>
                        <th>Scheduled Date & Time</th>
                        <th>Status</th>
                        <th>
                           <!-- <a href="javascript:void(0)" class="btn bg-white btn-sm text-nowrap" (click)="addRow()">+ Add</a> -->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let applicationData of dataApps;">
                        <td>
                            {{applicationData.round}}
                        </td>
                        <td>
                            {{applicationData.intervieweremail}}
                        </td>
                      <td>
                          {{applicationData.idatetime}}
                      </td>
                      <td>
                          {{applicationData.status}}
                      </td>
                    </tr>
                </tbody>
            </table>
            <table class="table thead-mid mks-tbl valign-center pt-0">
                <thead class="thead-light">
                    <tr>
                        <th>Round</th>
                        <th>Interviewer</th>
                        <th>Scheduled Date & Time</th>
                        <th>Status</th>
                        <th>
                            Action
                            <!-- <a href="javascript:void(0)" class="btn bg-white btn-sm text-nowrap" (click)="addRow()">+ Add</a> -->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let field of rounds;">
                        <td>
                            {{field}}
                        </td>
                        <td>
                            <div class="ng-autocomplete" style="width:auto">
                                <ng-autocomplete [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                                    (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate"
                                    [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>
                              
                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.username"></a>
                                </ng-template>
                              
                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                              </div>
                        </td>
                        <td class="text-center">
                            <div class="d-flex">
                                <input type="date" placeholder="DD/MM/YYYY" class="form-control" value="yyyy-mm-dd" [(ngModel)]="dateRange" required>
                                <input id="appt-time" type="time" name="appt-time" step="2" class="form-control" [(ngModel)]="timeRange" required>
                            </div>
                        </td>
                        <td>
                            Scheduled
                        </td>
                        <td>
                            <button class="btn btn-outline-primary" (click)="saveinterviewDetails()">Save</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn border bg-white" routerLink="/employer/jobApplication/68">Back</button> -->
            <!-- <button class="btn btn-primary ml-1">Send to Candidate</button> -->
        </div>
    </div>
</div>