<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <i class="fa fa-close" style="font-size: 30px;cursor: pointer;float:right" (click)="close()"></i>
                </div>
            </div>
            <div class="card-body">
                <video id="my-video" style="width: 100%;height: 350px;" class="video-js vjs-default-skin" controls preload="auto" data-setup='{}'>
                    <source [src]="url" type="application/x-mpegURL" />
                </video>
            </div>
        </div>
    </div>
</div>