<div class="container-scroller">
    <app-navbar></app-navbar>
    <div class="container-fluid page-body-wrapper">
        <app-admin-sidebar></app-admin-sidebar>
        <div class="main-panel" >
            <div class="content-wrapper">
            <router-outlet></router-outlet>
            <app-footer ></app-footer>
        </div>

    </div>
</div>
</div>