<div class="step-form step4 px-3 pt-3">
    <form [formGroup]="bankForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-sm-12">
          <h6 class="fwb mb-4">Bank Details</h6>
          <div class="row form-group align-items-center">
            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Bank</label>
            <div class="col-sm-5">
              <select formControlName="bankname" id="" class="form-control"> 
                <option value="">--select--</option>
                <option [value]="bank.name" *ngFor="let bank of bankList">
                  {{bank.name}}
              </option>
              </select>
            </div>
          </div>  

          <div class="row form-group align-items-center">
            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Bank Account No</label>
            <div class="col-sm-7">
              <input type="text" formControlName="accountnumber" class="form-control" placeholder="Account No" />
            </div>
          </div>
          <div class="row form-group align-items-center">
            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Bank Account No</label>
            <div class="col-sm-7">
              <input type="text" formControlName="accountnumber" class="form-control" placeholder="Confirm Account No" />
            </div>
          </div>
          
          <div class="row form-group align-items-center">
            <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">IFSC Code</label>
            <div class="col-sm-5">
              <input type="text" formControlName="ifsccode" class="form-control" placeholder="IFSC CODE" />
            </div>
          </div>
       
        </div>
      </div>
      <div class="text-right df jcb bg-light mx-n3 p-3">
        <button type="button" (click)="previous()" class="btn btn-secondary"> Previous (Education)</button>
        <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="submit" class="btn btn-primary">Next (Roles)</button>
      </div>
    </form>
  </div>
  