<div class="detail-page bg-white">
    <div class="dp-header py-4">
        <div class="container">
            <div class="row">
                <div class="col-auto text-center">
                    <div class="dp-pic">
                        <img src="assets/image/banner2.jpg" class="rounded-pill" alt="">
                    </div>
                    <!-- <span class="status verified rounded mx-auto my-3">
                        <img src="assets/image/svg/check-white.svg" class="mr-2" width="16" alt="">
                        <span>Verified</span>
                    </span> -->
                </div>
                <div class="col">
                    <div class="dp-details">
                        <div class="row">
                            <div class="col">
                                <h2 class="fwsm dp-name mb-0">{{freelancerData?.fname}} {{freelancerData?.lname}}</h2>
                                <small class="dp-text">{{freelancerData?.title}}</small>
                            </div>
                            <div class="col-auto">
                                <button class="btn bg-light ml-3" data-toggle="tooltip" data-placement="top"
                                    title="Add to Favorite">
                                    <span class="sr-only">Add to Favorite</span>
                                    <i class="fas fa-star"></i>
                                </button>
                                <button type="button" (click)="viewCalendar(freelancerData?.username)"
                                    class="btn bg-light ml-3" data-toggle="tooltip" data-placement="top"
                                    title="Check My Calender">
                                    <span class="sr-only">Check My Calender</span>
                                    <i class="fas fa-calendar-alt"></i>
                                </button>
                                <button type="button" (click)="bookInterview(freelancerData)"
                                    class="btn btn-primary ml-3">
                                    <span>Send Interview Request</span>
                                    <i class="fas fa-envelope ml-1"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row align-items-center mt-3">
                            <div class="col-sm-3">
                                <div class="rating">
                                    <span class="rating-value fwb rounded mr-2">{{freelancerData?.rating}}</span>
                                    <span class="mr-3">
                                        <i *ngFor="let in of counter(freelancerData?.rating)"
                                            class="fas fa-star mr-1"></i>

                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">(0 Feedback)</div>
                        </div>
                        <hr>
                        <div class="row align-items-start mt-3">
                            <div class="col-sm-3 mb-3 ">
                                <p class="mb-0">Hourly Rate</p>
                                <p class="fwb mb-0"><i
                                        [ngClass]="(freelancerData && freelancerData.currency == 'INR')?'fa fa-inr':'fa fa-usd'"></i>
                                    {{freelancerData?.per_hour_rate}}</p>
                            </div>
                            <div class="col-sm-3 mb-3">
                                <p class="mb-0">Country</p>
                                <p class="fwb mb-0">{{freelancerData?.country}}</p>
                            </div>
                            <div class="col-sm-2 mb-3">
                                <p class="mb-0">Member since</p>
                                <p class="fwb mb-0">--</p>
                            </div>
                            <div class="col-sm-2 mb-3">
                                <p class="mb-0">Interview Taken</p>
                                <p class="fwb mb-0">
                                    {{freelancerData?.interviewssofar}}
                                </p>
                            </div>

                            <div class="col-sm-2 mb-3">
                                <p class="mb-0">Total Exp.</p>
                                <p class="fwb mb-0">
                                    {{freelancerData?.totalexperience}}
                                </p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dp-body py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="dp-about mb-5">
                        <h2>Keywords</h2>
                        <p class="text-justify">{{freelancerData?.keywords}}</p>
                    </div>
                    <div class="card mks-card mb-4">
                        <div class="card-header df jcb aic">
                            <span class="fwb">Experience</span>
                            <!-- <button class="btn btn-sm border bg-white">+ Add More</button> -->
                        </div>
                        <div class="card-body">
                            <div *ngFor="let lst of freelancerData?.experiences"
                                class="card-item p-3 border-bottom df aic">
                                <div class="card-icon border df jcc aic rounded-pill mr-3">icon</div>
                                <div class="card-content">
                                    <div class="card-title fwsm">{{lst.role_name}} - {{lst.designation}}</div>
                                    <div class="card-subtitle mb-0 text-mutedfwm">{{lst.orgname}}</div>
                                    <!-- <small class="card-location text-muted">Location : {{}}</small> -->
                                </div>
                                <small class="duration texr-muted">
                                    <b>From</b> - {{lst.startdate | date:'dd MMM yyyy'}} <b>To</b>
                                    {{(lst.endDate)?(lst.endDate
                                    |
                                    date:'dd MMM
                                    yyyy'):'Till Date'}}
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="card mks-card mb-3">
                        <div class="card-header df jcb aic">
                            <span class="fwb">Education</span>
                            <!-- <button class="btn btn-sm border bg-white">+ Add More</button> -->
                        </div>
                        <div class="card-body">
                            <div *ngFor="let lst of freelancerData?.educations;" class="card-item border-bottom df aic">
                                <div class="card-icon border df jcc aic rounded-pill mr-3">icon</div>
                                <div class="card-content">
                                    <div class="card-title fwsm">{{lst.education_type}}</div>
                                    <div class="card-subtitle mb-0 text-mutedfwm">{{lst.institute_name}} -
                                        {{lst.institute_address}}</div>
                                    <small class="card-location text-muted">{{lst.university}} :
                                        {{lst.yearofpassing}}</small>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card mks-card mb-3">
                        <div class="card-header df jcb aic">
                            <span class="fwb">Job Role Interviwing for</span>
                        </div>
                        <div class="card-body p-3">
                            <button *ngFor="let lst of freelancerData?.skills" class="btn btn-outline-secondary"
                                type="button">{{lst.jobcategory}}</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-4">
                    <h2>My Skills</h2>
                    <div *ngFor="let lst of freelancerData?.skills" class="progress mb-2">
                        <div class="progress-bar bg-success" role="progressbar" [style.width]="(lst.years_of_exp)"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{lst.jobcategory}}
                            ({{lst.years_of_exp}} Years)
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>