<!-- <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    My Interview Details
                    <a (click)="close()" class="btn  btn-sm btn-outline-dark btn-icon-text float-right" type="button">
                        <i class="fa fa-close"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-borderless">
                            <tr>
                                <th>Ineterview Id</th>
                                <td>{{interViewDetails?.interviewid}}</td>
                            </tr>
                            <tr>
                                <th>Jobseeker Id</th>
                                <td>{{interViewDetails?.jobseekerid}}</td>
                            </tr>
                            <tr>
                                <th>Role To be Interviewed for</th>
                                <td>xxxxxxxxxxx</td>
                            </tr>
                            <tr>
                                <th>Interview Schedule</th>
                                <td>{{interViewDetails?.interviewstarttime | date:'MMM d, y, h:mm a'}} -
                                    {{interViewDetails?.interviewendtime| date:'MMM d, y, h:mm a'}}</td>
                            </tr>
                            <tr>
                                <th>Interview Status</th>
                                <td>{{interViewDetails?.interviewstatus}}</td>
                            </tr>

                        </table>
                    </div>

                </div>
                <br>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <button class="btn btn-block btn-primary" [disabled]="interViewDetails?.interviewstatus != 'New Interview Request'" (click)="sendInterviewResponse('Interview Request Confirmed')">Accept Schedule</button>
                    </div>
                    <div class="col-sm-3">
                        <button [disabled]="interViewDetails?.interviewstatus != 'Interview Request Confirmed'" (click)="start_interview()" class="btn btn-block btn-success">Start Interview</button>
                    </div>
                    <div class="col-sm-3">
                      <button [disabled]="interViewDetails?.interviewstatus == 'Interview Completed'" class="btn btn-block btn-info" (click)="complete_feedback(interViewDetails)">Complete Feedback</button>                           
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-block btn-danger" (click)="sendInterviewResponse('Interview Request Rejected')">Reject Schedule</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->



<!-- card -->

<div class="card">
    <div class="card-header">
        <h5 class="card-title" id="examplecardLabel">My Interview Details <button  type="button" class="float-right" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button></h5>
        
    </div>
    <div class="card-body">
        <div class="border rounded">
            <div class="row mx-0 align-items-center py-3 border-bottom">
                <div class="col-sm-5">
                    <h6 class="mb-0">Interview Title / ID</h6>
                </div>
                <div class="col-sm-7">
                    <div class="si-left df aic">
                        <div class="pro-info">
                            <p class="fwb mb-0">{{interViewDetails?.interviwtitle}}</p>
                            <p class="text-primary mb-0 fwm">{{interViewDetails?.interviewid}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0 py-3 align-items-center border-bottom">
                <div class="col-5">
                    <h6 class="mb-0 text-nowrap">Jobseeker Name/ID</h6>
                </div>
                <div class="col-7">
                    <div class="si-left df aic">
                        <a href="#" class="pro-pic rounded-pill mr-4">
                            <img src="assets/images/avtar/avtar2.jpg" width="50" height="50" class="rounded-pill"
                                alt="">
                        </a>
                        <div class="pro-info">
                            <p class="fwb mb-0">{{interViewDetails?.jobseekername}}</p>
                            <p class="mb-0">{{interViewDetails?.jobseekerid}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0 py-3 align-items-center border-bottom">
                <div class="col-4">
                    <h6 class="mb-0">Interview Date</h6>
                </div>
                <div class="col-8">
                    <div class="si-right df aic jcb">
                        <span class="pr-3">
                            {{interViewDetails?.interviewstarttime | date:'MMM d, y, h:mm a'}} -
                            {{interViewDetails?.interviewendtime| date:'h:mm a'}}
                        </span>
                    </div>
                </div>
            </div>



            <div class="row mx-0 py-3 align-items-center border-bottom">
                <div class="col-12 text-nowrap">
                    <h6 class="mb-0">Interview Status</h6>
                </div>
                <div class="col-12">
                    <div class="si-right df aic jcb">
                        <span class="pr-3">
                            <p class="mb-0 fwsm text-success">{{interViewDetails?.interviewstatus}}</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<span *ngIf="isLoading" class="spinner"></span>