<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Checkout Cart</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <br>
                        <h5>Order No. : {{orderid}}</h5>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sl no.</th>
                                            <th>Item Descreption</th>
                                            <th>#Items/hrs</th>
                                            <th>Rate</th>
                                            <th>Subtotal</th>
                                            <th>IGST</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let orditem of orderItems;">
                                            <td>1.</td>
                                            <td>{{orditem.itemdescreption}}</td>
                                            <td>1</td>
                                            <td>{{orditem.mrp}}</td>
                                            <td>{{(orditem.mrp*1)}}</td>
                                            <td>{{orditem.gstrate}}%</td>
                                            <td>{{orditem.itemtotal}}</td>
                                        </tr>
                                      
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="4">&nbsp;</td>
                                            <td>Grand Total</td>
                                            <td>INR</td>
                                            <td>{{order.grandtotal}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="col-sm-12" style="margin-top: 15px;">
                                <button (click)="payNow()" type="button" class="btn btn-sm btn-primary">Proceed to
                                    Checkout</button>
                                <button type="button" (click)="back()"
                                    class="btn btn-sm btn-danger float-right">Cancel</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>