<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Set Work Days/ work Hours</div>
            </div>
            <div class="card-body">
                <form [formGroup]="workHoursForm" (ngSubmit)="submit()">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="title">Choose Working Day</p>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input formControlName="sun" (change)="checkboxselected()" class="form-check-input" type="checkbox">
                                    Sunday
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input formControlName="mon" (change)="checkboxselected()" class="form-check-input" type="checkbox">
                                    Monday
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input formControlName="tue" (change)="checkboxselected()" class="form-check-input" type="checkbox">
                                    Tuesday
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input formControlName="wed" (change)="checkboxselected()" class="form-check-input" type="checkbox">
                                    Wednesday
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input formControlName="thu" (change)="checkboxselected()" class="form-check-input" type="checkbox">
                                    Thursday
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input formControlName="fri" (change)="checkboxselected()" class="form-check-input" type="checkbox">
                                    Friday
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input formControlName="sat" (change)="checkboxselected()" class="form-check-input" type="checkbox">
                                    Saturday
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Start Time</label>
                                <!-- <input bsDatepicker [bsConfig]="datePickerConfig" class="form-control" type="text"> -->
                                <input formControlName="start_time" class="form-control" type="time" atp-time-picker />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>End Time</label>
                                <!-- <input bsDatepicker [bsConfig]="datePickerConfig" class="form-control" type="text"> -->
                                <!-- <angular2-date-picker style="margin-bottom: 50px !important;" [(ngModel)]="date" [settings]="datePickersettings">
                            </angular2-date-picker> -->
                                <input formControlName="end_time" class="form-control" type="time" atp-time-picker />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button [disabled]="(workHoursForm.invalid || checkbox_selected)" class="btn btn-sm btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<span *ngIf="isLoading" class="spinner"></span>