.ng-autocomplete {
    width:100%;
    max-width: 600px;
    display: table;
    margin: 0 auto;
  }

  .progressbar li {

    width: 11% !important;
  
}

.progressbar li span {
  display: flow-root !important;
  font-size: 10px !important;
}



.navi:focus{
  outline: 0 !important;
}