<div class="row">
    <div class="col-md-9">
        <div class="profile-card bg-white mb-4 shadow rounded">
            <div class="step-bar rounded bg-light p-3">
                <ul class="progressbar pl-0">
                    <li style="cursor: pointer;" [ngClass]="{'active':(complete > 10)?true:false}" routerLink="/jobseeker/profile/basicinfo" class="navi"><span>Basic
                            Info</span></li>
                    <li style="cursor: pointer;" [ngClass]="{'active':(complete > 20)?true:false}"  routerLink="/jobseeker/profile/jobinfo" class="navi"><span>Job
                            Info</span></li>
                    <li style="cursor: pointer;" [ngClass]="{'active':(complete > 30)?true:false}" class="navi" routerLink="/jobseeker/profile/idproof"><span>Id Details</span></li>
                    <li style="cursor: pointer;" [ngClass]="{'active':(complete > 40)?true:false}" class="navi" routerLink="/jobseeker/profile/address"><span>Address</span></li>
                    <li style="cursor: pointer;" [ngClass]="{'active':(complete > 50)?true:false}" class="navi" routerLink="/jobseeker/profile/experience"><span>Work Experience</span>
                    </li>
                    <li style="cursor: pointer;" [ngClass]="{'active':(complete > 60)?true:false}" class="navi" routerLink="/jobseeker/profile/education"><span>Education</span></li>
                    <li style="cursor: pointer;" [ngClass]="{'active':(complete > 70)?true:false}" class="navi"  routerLink="/jobseeker/profile/competency"><span>Key Skills</span></li>
                    <li style="cursor: pointer;" [ngClass]="{'active':(complete > 80)?true:false}" class="navi" routerLink="/jobseeker/profile/career-details"><span>Desired
                            Career</span></li>
                    <li style="cursor: pointer;" [ngClass]="{'active':(complete > 90)?true:false}" class="navi" routerLink="/jobseeker/profile/review"><span>Review</span></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="col-sm-3 pl-0">
        <div class="rounded sticky-top px-3  py-4 bg-light border">
            <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="complete" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100">{{complete}}%</div>
            </div>
            <ul class="step-chart pl-4 mt-3">
                <li [ngClass]="{'active':(complete > 10)?true:false}"><span>Basic Info</span></li>
                <li [ngClass]="{'active':(complete > 20)?true:false}"><span>Job Summary</span></li>
                <li [ngClass]="{'active':(complete > 30)?true:false}"><span>Id Details</span></li>
                <li [ngClass]="{'active':(complete > 40)?true:false}"><span>Address</span></li>
                <li [ngClass]="{'active':(complete > 50)?true:false}"><span>Work Experience</span></li>
                <li [ngClass]="{'active':(complete > 60)?true:false}"><span>Education</span></li>
                <li [ngClass]="{'active':(complete > 70)?true:false}"><span>Key Skills</span></li>
                <li [ngClass]="{'active':(complete > 80)?true:false}"><span>Desired Career</span></li>
                <!-- <li><span>Video Resumes</span></li> -->
                <li [ngClass]="{'active':(complete > 90)?true:false}"><span>Review</span></li>
            </ul>
        </div>
    </div>
</div>