<div class="d-flex align-items-stretch auth auth-img-bg h-100"
    style="background: #fff; margin: -2.68rem -2.5rem; height: 100vh !important;">
    <div class="row flex-grow">
        <div class="col-lg-6 login-half-bg d-flex flex-row"
            style="background: url(../../assets/images/login-bg.jpg); background-size: cover;">

        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
                <div class="brand-logo">
                    <h3>Interviewer</h3>
                    <!-- <img src="assets/images/logo.svg" alt="logo"> -->
                </div>

                <form class="pt-3" [formGroup]="verifyForm" (ngSubmit)="verifyUser()">
                    <div class="form-group">
                        <label for="exampleInputEmail">Username</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username"
                                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" formControlName="username">
                            <div *ngIf="f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">{{'Username required'}}</div>
                                <div *ngIf="f.username.errors.email">{{'Invalid username'}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="my-2 d-flex justify-content-between align-items-center">
                        <!-- <div class="form-check">
                          <label class="form-check-label text-muted">
                            <input type="checkbox" class="form-check-input">
                            <i class="input-helper"></i>
                            Keep me signed in
                          </label>
                        </div> -->
                        <a routerLink="/account/login" class="auth-link text-black">Back to Login</a>
                      </div>
                    <div class="my-3">

                        <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                            [disabled]="loginStart" [ngClass]="{'btn-loading': loginStart}">Send</button>

                    </div>

                </form>
            </div>
        </div>

    </div>
</div>