<div class="d-flex align-items-stretch auth auth-img-bg h-100"
  style="background: #fff; margin: -2.68rem -2.5rem; height: 100vh !important;">
  <div class="row flex-grow">
    <div class="col-lg-6 login-half-bg d-flex flex-row"
      style="background: url(../../assets/images/login-bg.jpg); background-size: cover;">

    </div>
    <div class="col-lg-6 d-flex align-items-center justify-content-center">
      <div class="auth-form-transparent text-left p-3">
        <div class="brand-logo">
          <h3>Interviewer</h3>
          <!-- <img src="assets/images/logo.svg" alt="logo"> -->
        </div>

        <form class="pt-3" [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="exampleInputEmail">Username</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Username"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" formControlName="username">
              <div *ngIf="f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">{{'Username required'}}</div>
                <div *ngIf="f.username.errors.email">{{'Invalid username'}}</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword">Password</label>
            <div class="input-group">
              <input type="password" class="form-control" placeholder="Password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password">
              <div *ngIf="f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">{{'Password required'}}</div>

              </div>
            </div>
          </div>
          <div class="my-2 d-flex justify-content-between align-items-center">
            <div class="form-check">
              <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input">
                <i class="input-helper"></i>
                Keep me signed in
              </label>
            </div>
            <a routerLink="/account/verify-user" class="auth-link text-black">Forgot password?</a>
          </div>
          <div class="my-4">
            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha"
              [ngClass]="{ 'is-invalid': submitted && f.recaptcha.errors }"></ngx-recaptcha2>
            <div *ngIf="f.recaptcha.errors" class="invalid-feedback">
              <div *ngIf="f.recaptcha.errors.required">{{'Invalid captcha'}}</div>
            </div>
          </div>

          <div class="my-3">
            <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" [disabled]="loginStart"
              [ngClass]="{'btn-loading': loginStart}">Login</button>
          </div>

          <div class="text-center mt-4 font-weight-light">
            Don't have an account? <a routerLink="/account/register" class="text-primary">Create</a>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
<!-- <div class="d-flex align-items-center auth px-0" style="display:none !important">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo text-center">
          <h3>Intraviewerr</h3>
          <img src="assets/images/logo.svg" alt="logo">
        </div>
        <p>Login As:</p>
        <div class="my-2 d-flex justify-content-between align-items-center">

          <div class="form-check">
            <label class="form-check-label text-muted">
              <input type="checkbox" class="form-check-input">
              <i class="input-helper"></i>
              Job Seeker
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label text-muted">
              <input type="checkbox" class="form-check-input">
              <i class="input-helper"></i>
              Freelancer
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label text-muted">
              <input type="checkbox" class="form-check-input">
              <i class="input-helper"></i>
              Corportate User
            </label>
          </div>

        </div>
        <form class="pt-3">
          <div class="form-group">
            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control form-control-lg" id="exampleInputPassword1"
              placeholder="Password">
          </div>
          <div class="mt-3">
            <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" routerLink="/dashboard">SIGN
              IN</a>
          </div>
          <div class="my-2 d-flex justify-content-between align-items-center">
            <div class="form-check">
              <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input">
                <i class="input-helper"></i>
                Keep
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input">
                <i class="input-helper"></i>
                Freelancer
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input">
                <i class="input-helper"></i>
                Corportate User
              </label>
            </div>
            <a href="javascript:(void)" class="auth-link text-black">Forgot password?</a>
          </div>
          <div class="mb-2">
            <button type="button" class="btn btn-block btn-facebook auth-form-btn">
              <i class="ti-facebook mr-2"></i>Connect using facebook
            </button>
          </div>
          <div class="text-center mt-4 font-weight-light">
            Don't have an account? <a routerLink="/account/register" class="text-primary">Create</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->