<div class="mks-login jobseeker py-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-7">
                <div class="login-cont p-5 bg-white">
                    <h1 class="lc-head mb-5">Jobseeker</h1>
                    <ul>
                        <li>Take Mock Interviews.</li>
                        <li>Get Feedback.</li>
                        <li>Get Noticed Faster.</li>
                        <li>Speed Track your path to your Dream Job</li>
                    </ul>
                    <button class="cta-btn mt-5 fwsm">
                        Join as Jobseeker
                    </button>
                    <img class="img" src="./assets/image/svg/undraw_File_searching_re_3evy.svg" width="200" alt="">
                </div>
            </div>
            <div class="col-lg-5">
                <!-- Login Tab -->
                <div class="login">
                    <nav class="">
                        <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                            <a class="nav-link active  flex-fill text-center rounded-0 border-0" id="nav-login-tab"
                                data-toggle="tab" href="#nav-login" role="tab" aria-controls="nav-login"
                                aria-selected="true">

                                <svg height="17" viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                        d="M224 412c-15.5 0-28-12.5-28-28v-64c0-15.5 12.5-28 28-28s28 12.5 28 28v64c0 15.5-12.5 28-28 28zm224-172v224c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V240c0-26.5 21.5-48 48-48h32v-48C80 64.5 144.8-.2 224.4 0 304 .2 368 65.8 368 145.4V192h32c26.5 0 48 21.5 48 48zm-320-48h192v-48c0-52.9-43.1-96-96-96s-96 43.1-96 96v48zm272 48H48v224h352V240z"
                                        class=""></path>
                                </svg>
                                <span class="ml-2">Login</span>
                            </a>
                            <a class="nav-link flex-fill text-center rounded-0 border-0" id="nav-register-tab"
                                data-toggle="tab" href="#nav-register" role="tab" aria-controls="nav-register"
                                aria-selected="false">
                                <svg height="17" viewBox="0 0 640 512">
                                    <path fill="currentColor"
                                        d="M358.9 433.3l-6.8 61c-1.1 10.2 7.5 18.8 17.6 17.6l60.9-6.8 137.9-137.9-71.7-71.7-137.9 137.8zM633 268.9L595.1 231c-9.3-9.3-24.5-9.3-33.8 0l-41.8 41.8 71.8 71.7 41.8-41.8c9.2-9.3 9.2-24.4-.1-33.8zM223.9 288c79.6.1 144.2-64.5 144.1-144.1C367.9 65.6 302.4.1 224.1 0 144.5-.1 79.9 64.5 80 144.1c.1 78.3 65.6 143.8 143.9 143.9zm-4.4-239.9c56.5-2.6 103 43.9 100.4 100.4-2.3 49.2-42.1 89.1-91.4 91.4-56.5 2.6-103-43.9-100.4-100.4 2.3-49.3 42.2-89.1 91.4-91.4zM134.4 352c14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 16.7 0 32.2 5 45.5 13.3l34.4-34.4c-22.4-16.7-49.8-26.9-79.9-26.9-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h258.3c-3.8-14.6-2.2-20.3.9-48H48v-25.6c0-47.6 38.8-86.4 86.4-86.4z"
                                        class=""></path>
                                </svg>
                                <span class="ml-2">Register</span>
                            </a>
                        </div>
                    </nav>
                    <div class="tab-content bg-white" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-login" role="tabpanel"
                            aria-labelledby="nav-login-tab">
                            <form class="pt-3" [formGroup]="loginForm" (ngSubmit)="login()">
                                <div class="form-group">
                                    <label for="exampleInputEmail">Username</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Username"
                                            [ngClass]="{ 'is-invalid': submitted1 && l.username.errors }"
                                            formControlName="username">
                                        <div *ngIf="l.username.errors" class="invalid-feedback">
                                            <div *ngIf="l.username.errors.required">{{'Username required'}}</div>
                                            <div *ngIf="l.username.errors.email">{{'Invalid username'}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword">Password</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" placeholder="Password"
                                            [ngClass]="{ 'is-invalid': submitted1 && l.password.errors }"
                                            formControlName="password">
                                        <div *ngIf="l.password.errors" class="invalid-feedback">
                                            <div *ngIf="l.password.errors.required">{{'Password required'}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <div class="">
                                        <div class="form-group form-check">
                                            <div class="input-group">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label ml-2" for="exampleCheck1">Remember
                                                    me</label>
                                            </div>
                                        </div>
                                    </div>
                                    <a style="margin-top: 10px;" href="javascript=void(0);" data-toggle="modal"
                                        data-target="#forgotPass">Forgot Password?</a>
                                </div>

                                <div class="form-group">
                                    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha"
                                        [ngClass]="{ 'is-invalid': submitted1 && l.recaptcha.errors }"></ngx-recaptcha2>
                                    <div *ngIf="l.recaptcha.errors" class="invalid-feedback">
                                        <div *ngIf="l.recaptcha.errors.required">{{'Invalid captcha'}}</div>
                                    </div>
                                </div>

                                <button class=" fwm rounded-0 btn-submit btn-block" [disabled]="loginStart1"
                                    [ngClass]="{'btn-loading': loginStart1}">
                                    <span class="mr-2">LOGIN</span>
                                    <svg height="24" viewBox="0 0 448 512">
                                        <path fill="currentColor"
                                            d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"
                                            class=""></path>
                                    </svg>
                                </button>
                            </form>
                            <!-- <p class="fwm text-center mt-4">Don’t have an account? <a href=""><u>Create Now</u></a></p> -->
                        </div>
                        <div class="tab-pane fade" id="nav-register" role="tabpanel" aria-labelledby="nav-register-tab">

                            <form class="pt-3" [formGroup]="form" (ngSubmit)="register()">

                                <div class="form-group mb-4">
                                    <label>Email ID</label>
                                    <div class="input-group">
                                        <input  type="text" class="form-control" placeholder="Email ID"
                                            formControlName="email">
                                        <div *ngIf="verified" class="input-group-append">
                                            <button type="button" [disabled]="verified"
                                                (click)="validateAndCheckEmail()"
                                                class="input-group-text verified justify-content-center rounded-0 border-0"
                                                for="inputGroupSelect01">
                                                <img src="./assets/image/svg/check-white.svg" alt="">
                                            </button>
                                        </div>
                                        <div *ngIf="!verified" class="input-group-append">
                                            <div class="input-group-append">

                                                <button type="button" [disabled]="emailOTP" (click)="validateAndCheckEmail()"
                                                    class="input-group-text verified justify-content-center rounded-0 border-0"
                                                    for="inputGroupSelect01">
                                                    Verify
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" *ngIf="emailOTP">
                                    <label>Enter OTP Sent on Email <span class="text-danger"> </span></label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="exampleInputPassword"
                                            formControlName="code" placeholder="Enter OTP Sent on Email">
                                        <div class="input-group-append">
                                           <button class=" btn-sm btn-success" type="button"
                                                (click)="verifyEmailOtp()">Verify</button>
                                                <button class=" btn-sm btn-danger" type="button"
                                                (click)="sendemailOtp()">Resend OTP?</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mb-4">
                                    <label for="">Mobile No.</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Mobile"
                                            formControlName="mobile">
                                        <div *ngIf="mobileverified" class="input-group-append">
                                            <button type="button" [disabled]="mobileverified"
                                                (click)="validateAndCheckMobile()"
                                                class="input-group-text verified justify-content-center rounded-0 border-0"
                                                for="inputGroupSelect01">
                                                <img src="./assets/image/svg/check-white.svg" alt="">
                                            </button>
                                        </div>
                                        <div *ngIf="!mobileverified" class="input-group-append">
                                            <button type="button" [disabled]="mobileOTP" (click)="validateAndCheckMobile()"
                                                class="input-group-text verify justify-content-center rounded-0 border-0"
                                                for="inputGroupSelect01">Verify</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" *ngIf="mobileOTP">
                                    <label>Enter OTP on mobile <span class="text-danger"> </span></label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="exampleInputPassword"
                                            formControlName="mobilecode" placeholder="Enter OTP on mobile">
                                        <div class="input-group-append">
                                            <button class=" btn-sm btn-success" type="button"
                                                (click)="verifyMobileOtp()">Verify</button>
                                                <button class=" btn-sm btn-danger" type="button"
                                                (click)="sendMobileOtp()">Resend OTP?</button>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group mb-4">
                                    <div class="input-group">
                                        <input type="checkbox" class="form-check-input" id="agree"
                                            (change)="Chechterm($event)">
                                        <label class="form-check-label ml-2" for="agree">I agree to all term &
                                            condition</label>
                                    </div>
                                </div>
                                <button class=" fwm rounded-0 btn-submit btn-block" [disabled]="validate" type="submit">
                                    <span class="mr-2">CREATE ACCOUNT</span>
                                    <svg height="24" viewBox="0 0 448 512">
                                        <path fill="currentColor"
                                            d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"
                                            class=""></path>
                                    </svg>
                                </button>
                            </form>
                            <!-- <p class="fwm text-center mt-4">Already have an account? <a href=""><u>Login</u></a></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="forgotPass" tabindex="-1" aria-labelledby="forgotPassLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotPassLabel">Forgot Password?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mks-login bg-white">
                <form [formGroup]="verifyForm" (ngSubmit)="verifyUser()" class="px-4">
                    <div class="alert alert-success">
                        <div class="fwb">Please check your Inbox</div> We have e-mailed you password reset link!
                    </div>
                    <div class="form-group my-4">
                        <label for="">Enter Email ID / Username</label>
                        <input type="text" class="form-control" placeholder=""
                            [ngClass]="{ 'is-invalid': submitted2 && v.username.errors }" formControlName="username">
                        <div *ngIf="v.username.errors" class="invalid-feedback">
                            <div *ngIf="v.username.errors.required">{{'Username required'}}</div>
                            <div *ngIf="v.username.errors.email">{{'Invalid username'}}</div>
                        </div>
                    </div>
                    <button type="submit" [disabled]="loginStart2" [ngClass]="{'btn-loading': loginStart2}"
                        class=" btn-submit mx-auto my-4 px-5">Send Password Reset Link</button>
                </form>
            </div>
        </div>
    </div>
</div>