<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form [formGroup]="education" (ngSubmit)="submit()">
                <div class="card-header">
                    <h5 class="card-title" id="educationcardLabel">Add Details of your Educations/Qualifications <span
                            style="cursor: pointer;" (click)="dismiss()" class="float-right"
                            aria-hidden="true">&times;</span></h5>

                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="" class="req text-info">Education Type</label>
                        <select formControlName="education_type"
                            [ngClass]="{'is-invalid':submitted && f.education_type.errors}" class="form-control">
                            <option value="">--select--</option>
                            <option value="High School">High School</option>
                            <option value="Graduation">Graduation</option>
                            <option value="Post Graduation">Post Graduation</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="" class="req text-info">Institute/School Name</label>
                        <input type="text" formControlName="institute_name"
                            [ngClass]="{'is-invalid':submitted && f.institute_name.errors}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="" class="req text-info">Board/University</label>
                        <input type="text" formControlName="university"
                            [ngClass]="{'is-invalid':submitted && f.university.errors}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="" class="req text-info">Address of Institute</label>
                        <textarea formControlName="institute_address"
                            [ngClass]="{'is-invalid':submitted && f.institute_address.errors}"
                            class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="" class="req text-info">Marks % / GPA</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <select formControlName="gpa_ind" [ngClass]="{'is-invalid':submitted && f.gpa_ind.errors}" class="form-control input-group-text">
                                    <option value="">--select--</option>
                                    <option value="N">Percentage</option>
                                    <option value="Y">GPA</option>
                                </select>
                            </div>
                            <input *ngIf="f.gpa_ind.value == 'N'" type="text" formControlName="percent_marks"
                                [ngClass]="{'is-invalid':submitted && f.percent_marks.errors}" class="form-control">
                            <input *ngIf="f.gpa_ind.value == 'Y'" type="text" formControlName="percent_marks"
                                [ngClass]="{'is-invalid':submitted && f.percent_marks.errors}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="req text-info">Year of Completion</label>
                        <select formControlName="yearofpassing"
                            [ngClass]="{'is-invalid':submitted && f.yearofpassing.errors}" class="form-control">
                            <option value="">--select--</option>
                            <option *ngFor="let year of years" [value]="year.value">
                                {{year.label}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="req text-info">Certificate Attachment</label>
                        <div class="input-group">
                            <input type="file" style="display: none;" #eduCertificateRef
                                (change)="attachEduCertificate($event)">
                            <input type="text" class="form-control" readonly formControlName="certificate_url"
                                [ngClass]="{'is-invalid':submitted && f.certificate_url.errors}">
                            <button style="border-radius: 0px;" type="button" class="btn btn-info"
                                (click)="eduCertificateRef.click()">Choose file...</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary float-right">Save changes</button>&nbsp;&nbsp;
                    <button type="button" (click)="dismiss()" class="btn btn-dark float-right mr-3">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>