<div class="step-form step4 px-3 pt-3">
    <form [formGroup]="addressForm" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-sm-12">
                <h6 class="fwb mb-4">Address Details</h6>
                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Address Line1</label>
                    <div class="col-sm-7">
                        <input formControlName="address1" [ngClass]="{'is-invalid':submitted && f.address1.errors}"
                            type="text" class="form-control" placeholder="line 1">
                    </div>
                </div>
                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Address Line2</label>
                    <div class="col-sm-7">
                        <input formControlName="address" [ngClass]="{'is-invalid':submitted && f.address.errors}"
                            type="text" class="form-control" placeholder="Line2">
                    </div>
                </div>
                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Country</label>
                    <div class="col-sm-5">
                        <select formControlName="country" [ngClass]="{'is-invalid':submitted && f.country.errors}"
                            (change)="onChangeCountry($event.target.value)" class="form-control">
                            <option value="">--select--</option>
                            <option *ngFor="let country of countryList" [value]="country.id">
                                {{country.countryname}}</option>
                        </select>

                    </div>
                </div>
                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">State</label>
                    <div class="col-sm-5">
                        <select formControlName="state" [ngClass]="{'is-invalid':submitted && f.state.errors}"
                            (change)="onChangeState($event.target.value)" class="form-control">
                            <option value="">--select--</option>
                            <option *ngFor="let state of stateList" [value]="state.statecode">
                                {{state.statename}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">City</label>
                    <div class="col-sm-5">
                        <select formControlName="city" [ngClass]="{'is-invalid':submitted && f.city.errors}"
                            class="form-control">
                            <option value="">--Select--</option>
                            <option *ngFor="let cityItem of cityList" [value]="cityItem.citycode">
                                {{cityItem.cityname}}</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Pin code</label>
                    <div class="col-sm-5">
                        <input formControlName="zip" [ngClass]="{'is-invalid':submitted && f.zip.errors}" type="text"
                            class="form-control" placeholder="Pin code">
                    </div>
                </div>
                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Address Proof</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input type="file" #addressRef (change)="attachAddressProof($event)" style="display: none;">
                            <input type="text" class="form-control" readonly formControlName="addressurl"
                                [ngClass]="{'is-invalid':submitted && f.addressurl.errors}">
                            <button type="button" style="border-radius: 0px;" (click)="addressRef.click()"
                                class="btn btn-info">Choose file</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right df jcb bg-light mx-n3 p-3">
            <button type="button" (click)="previous()" class="btn btn-secondary">Previous (Id Details)</button>
            <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="submit" class="btn btn-primary">Next (Experience)</button>
        </div>
    </form>
</div>