<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
      <span style="cursor: pointer;" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </span>
    </div>
    <div class="modal-body">
      {{ message }}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="accept()">{{ btnOkText }}</button>
      <button *ngIf="btnCancelText" type="button" class="btn btn-danger" (click)="decline()">{{ btnCancelText }}</button>
     </div>