<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <h5 class="text-center" style="color:white;"><i class="fa fa-user"></i>&nbsp;&nbsp;{{role}}</h5>
    <ul class="nav">
        <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
            <a class="nav-link" routerLink="/jobseeker/dashboard" routerLinkActive #dashboard="routerLinkActive">
                <i class="ti-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>


        <li class="nav-item" [ngClass]="{ 'active' : Quickregistration.isActive || registration.isActive}">
            <a class="nav-link" (click)="profilePage = !profilePage" [attr.aria-expanded]="profilePage"
                aria-controls="auth">
                <i class="ti-layers-alt menu-icon"></i>
                <span class="menu-title">Profile</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth" [ngbCollapse]="!profilePage">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item" [ngClass]="{'active': Quickregistration.isActive}">
                        <a class="nav-link" routerLink="/jobseeker/quick-profile" routerLinkActive
                            #Quickregistration="routerLinkActive">
                            <i class="ti-settings menu-icon"></i>
                            <span class="menu-title">Quick Profile</span>
                        </a>
                    </li>
                    <li class="nav-item" [ngClass]="{'active': registration.isActive}">
                        <a class="nav-link" routerLink="/jobseeker/add-profile" routerLinkActive
                            #registration="routerLinkActive">
                            <i class="ti-settings menu-icon"></i>
                            <span class="menu-title">Full Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>


        <!-- <li class="nav-item" [ngClass]="{'active': widgets.isActive}">
            <a class="nav-link" routerLink="/widgets" routerLinkActive #widgets="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">My Registration Status</span>
            </a>
        </li> -->
        <li class="nav-item" [ngClass]="{'active': myScheduleInterview.isActive}">
            <a class="nav-link" routerLink="/jobseeker/interview-schedules" routerLinkActive
                #myScheduleInterview="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">My Interviews</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': myDocumentApproval.isActive}">
            <a class="nav-link" routerLink="/jobseeker/my-document-approval" routerLinkActive
                #myDocumentApproval="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">Registration Status</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': searchInterViewers.isActive}">
            <a class="nav-link" routerLink="/jobseeker/search-interviewers" routerLinkActive
                #searchInterViewers="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">Search for Interviewers</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': MyInterviewResult.isActive}">
            <a class="nav-link" routerLink="/jobseeker/my-interview-result" routerLinkActive
                #MyInterviewResult="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">My Interview Results</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': orderSummary.isActive}">
            <a class="nav-link" routerLink="/jobseeker/order-summary" routerLinkActive #orderSummary="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">My Orders</span>
            </a>
        </li>
        <!--  <li class="nav-item" [ngClass]="{'active': widgets.isActive}">
            <a class="nav-link" routerLink="/widgets" routerLinkActive #widgets="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">My Refunds</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': widgets.isActive}">
            <a class="nav-link" routerLink="/widgets" routerLinkActive #widgets="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">My Orders</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': widgets.isActive}">
            <a class="nav-link" routerLink="/widgets" routerLinkActive #widgets="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">View/Update Profile</span>
            </a>
        </li> -->
        <!-- <li class="nav-item" [ngClass]="{'active': JoinMeeting.isActive}">
            <a class="nav-link" routerLink="/jobseeker/join-meeting" routerLinkActive #JoinMeeting="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">Join Meeting</span>
            </a>
        </li> -->
    </ul>
</nav>