<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="dashboard-title mb-4">Documents to be approved</h4>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>User ID</th>
                                <th>Name</th>
                                <th>Type of Applicant</th>
                                <th>Document Approval</th>
                                <th>BGC Requested</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let application of applications, let i = index">
                                <td>{{ i + 1 }}</td>
                                <td><a [routerLink]="" (click)="Send(application.username)"> {{ application.id }} </a></td>
                                <!-- <td> <a href="/admin/applicationDetail/?id={{ application.username }}"> {{ application.id }} </a> </td> -->
                                <td>{{ application.fname + " " + application.lname }}</td>
                                <td>{{ application.usertype }}</td>
                                <td>
                                    <!-- <span class="badge badge-success"><i class="fa fa-thumbs-up icon-sm"></i>
                                        {{ application.approvalstatus }}</span> -->
                                    <span class="badge badge-warning"><i class="fa fa-thumbs-down icon-sm"></i>
                                        {{ application.approvalstatus }}</span>
                                </td>
                                <td>{{ application.bgc_requested }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>