<div class="step-form step5 px-3 pt-3">
    <div class="row">
        <div class="col-12">
            <div class="card mks-card mb-3">
                <div class="card-header df jcb aic">
                    <span class="fwb">Desired Career Details</span>
                    <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false"
                        (click)="toggle_edit_mode(edit_mode)" type="button" class="btn border m-1 edit">
                        <svg *ngIf="!edit_mode" height="16" viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                            </path>
                        </svg>
                        <svg *ngIf="edit_mode" height="16" viewBox="0 0 515.556 515.556" class="mr-2">
                            <path fill="currentColor"
                                d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="card-item df aic">
                                <div class="card-content">
                                    <small class="card-location text-muted">Desired Industry</small>
                                    <div class="card-title text-primary mb-0 fwsm">
                                        {{(!edit_mode)?otherDetails?.desiredindustry:''}}
                                        <select style="width: 100%;" *ngIf="edit_mode" class="form-control"
                                            [(ngModel)]="desiredindustry">
                                            <option value="">--select--</option>
                                            <option *ngFor="let lst of industries" [value]="lst.industryname">
                                                {{lst.industryname}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-item df aic">
                                <div class="card-content">
                                    <small class="card-location text-muted">Desired Profile</small>
                                    <div class="card-title text-primary mb-0 fwsm">
                                        {{(!edit_mode)?otherDetails?.desiredprofile:''}}
                                        <select style="width: 100%;" *ngIf="edit_mode" class="form-control"
                                            [(ngModel)]="desiredprofile">
                                            <option value="">--select--</option>
                                            <option *ngFor="let lst of roles" [value]="lst.jobrolename">
                                                {{lst.jobrolename}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-item df aic">
                                <div class="card-content">
                                    <small class="card-location text-muted">Desired Location</small>
                                    <div class="card-title text-primary mb-0 fwsm">
                                        {{(!edit_mode)?otherDetails?.desiredlocation:''}} <input *ngIf="edit_mode"
                                            id="title" class="form-control" type="text" [(ngModel)]="desiredlocation">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-item df aic">
                                <div class="card-content">
                                    <small class="card-location text-muted">Job Type</small>
                                    <div class="card-title text-primary mb-0 fwsm">
                                        {{(!edit_mode)?otherDetails?.jobtype:''}}
                                        <select *ngIf="edit_mode" class="form-control" [(ngModel)]="jobtype">
                                            <option value="">--select--</option>
                                            <option value="Part Time">Part Time</option>
                                            <option value="Full Time">Full Time</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-item df aic">
                                <div class="card-content" style="width: 100% !important;">
                                    <small class="card-location text-muted">Keywords</small>
                                    <div class="card-title text-primary mb-0 fwsm">
                                        {{(!edit_mode)?otherDetails?.keywords:''}} <input *ngIf="edit_mode" id="title"
                                            type="text" class="form-control" [(ngModel)]="keywords">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="text-right df jcb bg-light mx-n3 p-3">
        <button type="button" (click)="previous()" class="btn btn-secondary">Previous (Id Details)</button>
        <button type="button" (click)="next()" class="btn btn-primary">Next (Review)</button>
    </div>
</div>