@import url("../../../assets/css/ide.css");

#agora_local{
    height: 250px;
    width: 100%;
}

.remote-containers{
    height: 360px;
    width: 100%;
    display: block !important;
}

.zoom{
    font-size: 13px;
    position: relative;
    right: 3px;
    top: 4px;
    border: 0.4px solid;
    padding: 6px;
    border-radius: 50px;
}

