<div class="py-3">
    <div class="df jcb mb-3">
        <div *ngIf="interResultSummary" class="h6 mb-0">Industry type: {{interResultSummary.industrytype}}</div>
        <div *ngIf="interResultSummary" class="h6 mb-0">Target Job: {{interResultSummary.targetjob}}</div>
        <div *ngIf="interResultSummary" class="h6 mb-0"><i style="cursor: pointer;"
                (click)="addInterviewSummary(interResultSummary)" class="fa fa-edit"></i></div>
        <button style="float:right !important;" type="button" (click)="addDomainSkill()"
            class="btn btn-sm btn-primary shadow">Add General apptitude (Total {{ga_details_list.length}})</button>
    </div>
    <div class="accordion counter" id="quest-list">
        <div class="card" *ngFor="let dllst of ga_details_list;let i = index">
            <div class="card-header" id="qh{{i+1}}">
                <div (click)="get_all_questions_by_details_id(dllst)" class="row" data-toggle="collapse"
                    [attr.data-target]="'#q' + (i+1)" [attr.aria-expanded]="false" [attr.aria-controls]="'q'+(i+1)">
                    <div class="col-sm-6">
                        <h5 class="mb-0"><small>Competency : </small> <span
                                class="badge badge-primary fwm">{{dllst.competencyname}}</span></h5>
                    </div>
                    <div class="col-sm-5">
                        <h5 class="mb-0"><small>Skill Name : </small> <span
                                class="badge badge-secondary fwm">{{dllst.skillname}}</span></h5>
                    </div>
                </div>
                <button (click)="addDomainSkill(dllst)" class="btn btn-sm edit-btn btn-outline-secondary" title="Edit"
                    data-toggle="modal" data-target="#addFeedback">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <button (click)="deleteDetails(dllst.resultdetailid)" class="btn btn-sm delete-btn btn-outline-danger"
                    title="Delete" data-toggle="modal" data-target="#addFeedback">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
            <div id="q{{i+1}}" class="collapse" [attr.aria-labelledby]="'qh'+(i+1)" data-parent="#quest-list">
                <div class="card-body">
                    <p *ngIf="loading" class="mt-3" style="text-align: center;"><small
                            style="color: red;">Loading...</small></p>
                    <ol type="a">
                        <li *ngFor="let lst of questinons;" class="mb-4">
                            <div class="question mb-1 fwb">
                                {{lst.questiontext}}
                            </div>

                            <div class="answer expected-one mb-3">
                                <p class="text-success mb-2 fwb">Expected Answer</p>
                                <div>
                                    {{lst.expectedanswer}}
                                </div>
                            </div>
                            <div class="answer given-one mb-3">
                                <p class="text-info mb-2 fwb">Actual Answer</p>
                                <div>
                                    {{lst.answergiven}}
                                </div>
                            </div>
                            <div class="answer bg-light border p-2 params mb-3">
                                <span class="mr-3 fwm">Complexity : <span
                                        class="badge badge-info py-1 px-2">{{lst.questiontype |
                                        titlecase}}</span></span>
                                <span class="mr-3 fwm">Marks : <span
                                        class="badge badge-info py-1 px-2">{{lst.marks}}</span></span>
                                <span class="mr-3 fwm">Weight : <span
                                        class="badge badge-info py-1 px-2">{{lst.weight}}</span></span>
                                <span class="mr-3 fwm">Weightage Score : <span
                                        class="badge badge-info py-1 px-2">{{lst.weightedscore}}</span></span>
                            </div>
                        </li>

                    </ol>
                </div>
            </div>
        </div>

    </div>
</div>