@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
html,
body {
    position: relative;
    height: 100%
}

:root {
    font-size: 14px;
}

body {
    font-family: 'Poppins';
    font-size: 1rem;
    color: #2d2d2d;
}

.container {
    max-width: 1280px;
}

.bgclr {
    background-color: #f0efff;
}

.fwl {
    font-weight: 300;
}

.fwr {
    font-weight: 400;
}

.fwm {
    font-weight: 500;
}

.fwsm {
    font-weight: 600;
}

.fwb {
    font-weight: 700;
}

.fweb {
    font-weight: 800;
}

.fwblk {
    font-weight: 900;
}

::placeholder {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5) !important;
}

.bg-transparent {
    background: transparent;
}

.mks-bnr #bootSlider .carousel-item {
    height: 465px;
    padding-top: 40px;
}

.mks-bnr .bnr-text h1 {
    font-size: 4.14rem;
}

.mks-bnr .bnr-text h1 span {
    color: #7182a4;
    display: block;
}


/* buttons */

.cta-btn {
    border: solid 2px rgb(247, 112, 73);
    color: rgb(247, 112, 73);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 18px 0px rgba(111, 114, 255, .5);
    border-radius: 25px;
    font-size: 1.2rem;
    padding: .8rem 2.5rem;
}

.cta-btn.light {
    border: solid 2px #fff;
    color: #fff;
    background-color: #f77049;
    box-shadow: 0px 6px 18px 0px rgba(111, 114, 255, .5);
    border-radius: 25px;
    font-size: 1.2rem;
    padding: .8rem 2.5rem;
}

.cta-btn:hover {
    background-color: #f77049;
    color: #fff;
}

.cta-btn.light:hover {
    background-color: transparent;
    color: #fff;
}

.btn-submit {
    height: 45px;
    background: #f77049;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-submit:hover {
    height: 45px;
    background: #323232;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* headings */

.cmn-head {
    font-size: 2.21rem;
    font-weight: bold;
    line-height: 1.2;
}


/* home Page */

.eto-card {
    padding: 2rem;
    border-radius: .7rem;
    box-shadow: 0 0 20px 8px rgb(0 0 0 / 4%);
    margin-bottom: 3rem;
    font-size: 1.42rem;
    min-height: 196px;
}

.hiw {
    counter-reset: step-counter;
}

.hiw .hiw-steps {
    margin-top: 100px;
}

.hiw .hiw-steps span {
    font-size: 1.14rem;
    font-weight: 500;
    width: 100px;
    position: relative;
    word-break: break-word;
}

.hiw .hiw-steps span::before {
    counter-increment: step-counter;
    content: counter(step-counter);
    font-size: 4.3rem;
    color: #e2e2e5;
    position: absolute;
    top: -70px;
}

.hiw .hiw-steps span::after {
    content: '>';
    display: block;
    position: absolute;
    right: -31%;
    top: -70px;
    font-size: 60px;
    color: #f5f5f5;
}

.hiw .hiw-steps span:last-child::after {
    display: none;
}

.hiw .hiw-benefits {
    background-color: #ededed;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ededed+0,ffffff+100 */
    background: rgb(237, 237, 237);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
}

.hiw .hiw-benefits .hiw-points {
    font-size: 1.14rem;
}

.hiw .hiw-benefits .hiw-points .hiw-points-head {
    font-size: 2.4rem;
    color: rgb(247, 112, 73);
}

.hiw .hiw-benefits .hiw-points ul {
    padding-left: 25px;
    list-style: none;
    list-style-image: url(/assets/image/svg/check.svg);
}

.hiw .hiw-benefits .hiw-points ul li {
    padding: 5px;
}

.join-us {
    background: url(/assets/image/people-bg.jpg) repeat left top;
    color: #fff;
    height: 433px;
}


/* nav */

.navbar {
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
}

.navbar input[type='search'] {
    border: none;
    background: #f0efff url(/assets/image/svg/search.svg) no-repeat 10px center;
    padding-left: 40px;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.navbar select.form-control {
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    margin-right: 3px;
}

.navbar .form-inline {
    background-color: #f0efff;
    border-radius: 3rem;
    border: 2px solid #f0efff
}


/* Login */

.mks-login {
    background-color: #f0efff;
}

.mks-login .nav-tabs a {
    font-size: 1.3rem;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #c0c0c0;
}

.mks-login .tab-content {
    min-height: 480px;
}

.mks-login .tab-content .tab-pane {
    padding: 55px;
}

.mks-login input[type='text'],
.mks-login input[type='email'],
.mks-login input[type='tel'],
.mks-login input[type='password'] {
    background-color: #f0efff;
    height: 37px;
    color: #000;
    font-weight: 500;
}

.mks-login input[type='checkbox'] {
    transform: scale(1.4);
    border: none;
}

.mks-login .login {
    box-shadow: 0px 4px 21px 0px rgba(82, 82, 82, 0.27);
}

.mks-login .login .input-group-text {
    width: 69px;
    color: #fff;
}

.mks-login .login .input-group-text.verified {
    background-color: #4ebf03;
}

.mks-login .login .input-group-text.verify {
    background-color: #f3be06;
}

.mks-login .login .input-group-text.validate {
    background-color: rgba(0, 0, 0, .5);
    font-size: .8rem;
    font-weight: 500;
}

.mks-login .login-cont {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 406px;
    margin-top: 64px;
    font-size: 1.5rem;
}

.mks-login .login-cont .img {
    position: absolute;
    right: 30px;
    bottom: 0;
}

.mks-login .login-cont h1 {
    font-size: 1.5rem;
}

.mks-login .login-cont ul {
    padding-left: 1.7rem;
    color: rgba(0, 0, 0, .7);
    list-style-image: url('/assets/image/svg/check.svg');
}


/* footer */

.ba-footer {
    box-shadow: 0 -2px 2px rgba(0, 0, 0, .05);
    position: relative;
    z-index: 1;
}

.ba-footer .bf-desc {
    font-size: 13px;
    color: #4c4c4c;
    letter-spacing: 1;
    font-weight: 500;
    /* text-shadow: -1px -1px 2px rgba(255, 255, 255, 1); */
}

.ba-footer .bf-si a {
    padding: 5px 10px;
}

.ba-footer .bf-si a,
.ba-footer .bf-si a svg {
    width: 18px;
    height: 18px;
    color: #494949;
}

.ba-footer .bf-si a.ig:hover svg path {
    fill: rgb(236, 47, 141);
    text-decoration: none;
}

.ba-footer .bf-si a.fb:hover svg path {
    fill: rgb(52, 0, 194);
    text-decoration: none;
}

.ba-footer .bf-si a.tw:hover svg path {
    fill: rgb(76, 163, 235);
    text-decoration: none;
}

.ba-footer .bf-copyr a {
    color: #4c4c4c;
    padding: 5px 10px;
    font-size: 12px;
}

.ba-footer .bf-links a {
    color: #4c4c4c;
    padding: 5px 10px;
    width: 120px;
    display: inline-block;
    font-size: 13px;
}

.ba-footer .bf-links a:hover,
.ba-footer .bf-si a:hover {
    text-decoration: none;
    color: #000;
}


/* Subscription */

.ba-subscription {
    position: relative;
    color: #4c4c4c;
    font-size: 13px;
}

.ba-subscription .bs-input {
    background: none;
    border-color: #999999;
    padding: 20px;
}

.ba-subscription .bs-input::placeholder {
    font-size: 13px;
    color: #6c6c6c;
}

.ba-subscription .bs-submit-icon,
.ba-subscription .bs-submit-icon svg {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -9px;
}


/* Tabs */

.mks-tabs .nav-tabs .nav-link {
    font-size: 1.5rem;
    font-weight: 500;
    color: inherit;
    border: 3px solid transparent;
}

.mks-tabs .nav-tabs .nav-link.active {
    color: rgb(247, 112, 73);
    border-bottom-color: rgb(247, 112, 73);
}

.text-warning {
    color: #f77049 !important;
}

.df {
    display: flex;
}

.jcb {
    justify-content: space-between;
}

.ais {
    align-items: start;
}

.aic {
    align-items: center;
}

.ptc {
    color: #f77049;
}


/* Job Seeker Search Page */

.search-result {
    overflow: auto;
    height: calc(100% - 115px);
}

.search-result .cards,
.search-result .card-header {
    border-radius: 4px;
}

.search-result .cards a,
.search-result .card-header a {
    color: inherit;
}

.search-result .card-header a:hover {
    text-decoration: none;
}

.search-result .search-item {
    background-color: #fff;
    border-radius: 4px;
    padding: 0 20px;
    box-shadow: 0 8px 5px -8px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.search-result .search-item .pro-pic {
    display: block;
}

.search-result .search-item .pro-info .fa-star {
    color: #f9c803;
}

.search-result .search-item .pro-info .pro-link {
    color: #f77049;
}

.filter-pop {
    position: fixed;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    top: 130px;
    left: 60px;
    right: 15px;
    max-height: 350px;
    width: 270px;
    overflow: auto;
    overflow-x: hidden;
    z-index: 99999;
}

.hide-p {
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-out;
}

.show-p {
    opacity: 1 !important;
    visibility: visible !important;
    transition: .3s ease-out;
}

.search-result .scroll {
    height: calc(100% - 49px);
    overflow: auto;
    overflow-x: hidden;
}



/* Scrollbar CSS */

.cscroll::-webkit-scrollbar {
    width: 5px;
}


/* Track */

.cscroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

.cscroll::-webkit-scrollbar-thumb {
    background: #dededf;
}


/* Handle on hover */

.cscroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}