<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-5 mb-4 mb-xl-0">
        <h4 class="font-weight-bold">Welcome Admin</h4>
       </div>
      
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label>Select Year</label>
          <select class="form-control input-sm">
            <option>Select Year</option>
            <option>1990</option>
            <option>1991</option>
            <option>1992</option>
          </select>
        </div>
        <div class="row mb-4">
          <div class="col-4">
            <span class="badge badge-success w-100">
              4675 <br>
            Approved
          </span>
          </div>
          <div class="col-4">
            <span class="badge badge-warning w-100">
              1675 <br>
            Pending
          </span>
          </div>
          <div class="col-4">
            <span class="badge badge-danger w-100">
              75 <br>
            Reject
          </span>
          </div>
        </div>
        <h3 class="card-title text-md-center text-xl-left dashboard-title">Job seeker</h3>
        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
          <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 mx-0 mx-md-2 mx-xl-0">34040</h3>
          <i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
        </div>  
      
      </div>
    </div>
  </div>
  <div class="col-md-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label>Select Year</label>
          <select class="form-control input-sm">
            <option>Select Year</option>
            <option>1990</option>
            <option>1991</option>
            <option>1992</option>
          </select>
        </div>
        <div class="row mb-4">
          <div class="col-4">
            <span class="badge badge-success w-100">
              4675 <br>
            Approved
          </span>
          </div>
          <div class="col-4">
            <span class="badge badge-warning w-100">
              1675 <br>
            Pending
          </span>
          </div>
          <div class="col-4">
            <span class="badge badge-danger w-100">
              75 <br>
            Reject
          </span>
          </div>
        </div>
        <h3 class="card-title text-md-center text-xl-left dashboard-title">Freelancer</h3>
        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
          <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 mx-0 mx-md-2 mx-xl-0">34040</h3>
          <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
        </div>  
      
      </div>
    </div>
  </div>
  <div class="col-md-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label>Select Year</label>
          <select class="form-control input-sm">
            <option>Select Year</option>
            <option>1990</option>
            <option>1991</option>
            <option>1992</option>
          </select>
        </div>
        <div class="row mb-4">
          <div class="col-4">
            <span class="badge badge-success w-100">
              4675 <br>
            Approved
          </span>
          </div>
          <div class="col-4">
            <span class="badge badge-warning w-100">
              1675 <br>
            Pending
          </span>
          </div>
          <div class="col-4">
            <span class="badge badge-danger w-100">
              75 <br>
            Reject
          </span>
          </div>
        </div>
        <h3 class="card-title text-md-center text-xl-left dashboard-title">Corporate Users</h3>
        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
          <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 mx-0 mx-md-2 mx-xl-0">34040</h3>
          <i class="icon-people icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
        </div>  
      
      </div>
    </div>
  </div>
  <div class="col-md-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label>Select Year</label>
          <select class="form-control input-sm">
            <option>Select Year</option>
            <option>1990</option>
            <option>1991</option>
            <option>1992</option>
          </select>
        </div>
        <div class="row mb-4">
          <div class="col-4">
            <span class="badge badge-success w-100">
              4675 <br>
            Approved
          </span>
          </div>
          <div class="col-4">
            <span class="badge badge-warning w-100">
              1675 <br>
            Pending
          </span>
          </div>
          <div class="col-4">
            <span class="badge badge-danger w-100">
              75 <br>
            Reject
          </span>
          </div>
        </div>
        <h3 class="card-title text-md-center text-xl-left dashboard-title">Job seeker</h3>
        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
          <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 mx-0 mx-md-2 mx-xl-0">34040</h3>
          <i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
        </div>  
      
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="dashboard-title mb-4">Documents to be approved</h4>
        
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                  Sr. No
                </th>
                <th>
                 User ID
                </th>
                <th>
                  Name
                </th>
                <th>
                  Type of Applicant
                </th>
                <th>
                  Document Approval
                </th>
                <th>
                  BGC Requested
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                 <a href="#">101</a>  
                </td>
                <td>
                  Vikram
                </td>
                <td>
                  JobSeeker
                </td>
                <td>
                <span class="badge badge-success"><i class="fa fa-thumbs-up icon-sm"></i> Approved</span> 
                </td>
                <td>
                 Yes
                </td>
              </tr>
              <tr>
                <td>
                 2
                </td>
                <td>
                  102
                </td>
                <td>
                  Vikas
                </td>
                <td>
                  JobSeeker
                </td>
                <td>
                  <span class="badge badge-warning"><i class="fa fa-thumbs-down icon-sm"></i> Awaiting Admin Approval</span>
                </td>
                <td>
                 Yes
                </td>
              </tr>
              <tr>
                <td>
                3
                </td>
                <td>
                 103
                </td>
                <td>
                  Deepak Raheja
                </td>
                <td>
                  Freelancer
                </td>
                <td>
                  <span class="badge badge-warning"><i class="fa fa-thumbs-down icon-sm"></i> Awaiting Admin Approval</span>
                </td>
                <td>
                 No
                </td>
              </tr>
              <tr>
                <td>
                3
                </td>
                <td>
                104
                </td>
                <td>
                  Vivek Tyagi
                </td>
                <td>
                  Freelancer
                </td>
                <td>
                  <span class="badge badge-warning"><i class="fa fa-thumbs-down icon-sm"></i>  Awaiting Admin Approval</span>
                </td>
                <td>
                 No
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="dashboard-title mb-4">Jobseeker/Freelancer Detail</h4>
      <div class="row">
        <div class="col-lg-6 text-left">
          <div class="">
             <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                  <label for="ccyear">Job Seeker ID</label>
                  <input class="form-control"  type="text" placeholder="101">
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
              <div class="form-group">
                <label for="ccmonth">Document Approval Status</label>
                <select class="form-control" >
                  <option>Pending Approval</option>
                  <option>Approved</option>
                 </select>
                </div>
              </div>
            
             </div>
            <div class="row">
            <div class="col-md-12">
              <h4>Document Type</h4>
              <hr>
            </div>
              <div class="col-lg-4 col-sm-12">
                <div class="card document-img">
                  <img class="card-img-top" src="https://images.livemint.com/img/2019/11/05/600x338/pan_card_1565610340828_1572940770560.PNG" alt="ID Proof IMG">
                  <div class="card-body">
                    <p class="card-text">Pan Card <br> (ACGGD2588N)</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="card document-img">
                  <img class="card-img-top" src="https://cdn.newsnationtv.com/resize/460_-/images/2020/02/13/aadhaar-card2-38.jpg" alt="Address Proof IMG">
                  <div class="card-body">
                    <p class="card-text">Aadhar Card <br> (2458-2568-7894)</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="card document-img">
                  <img class="card-img-top" src="https://images.livemint.com/img/2019/11/05/600x338/pan_card_1565610340828_1572940770560.PNG" alt="Tax Proof IMG">
                  <div class="card-body">
                    <p class="card-text">Tax Document  <br>(ACGGD2588N)</p>
                  </div>
                </div>
              </div>
               <div class="col-lg-4 col-sm-12">
                 <div class="form-group mt-4">
                   <select class="form-control" >
                    <option>Pending Approval</option>
                    <option>Approved</option>
                   </select>
                  </div>
              </div>
              <div class="col-lg-4  col-sm-12">
                <div class="form-group mt-4">
                   <select class="form-control" >
                    <option>Pending Approval</option>
                    <option>Approved</option>
                   </select>
                  </div>
              </div>
              <div class="col-lg-4  col-sm-12">
                <div class="form-group mt-4">
                   <select class="form-control" >
                    <option>Pending Approval</option>
                    <option>Approved</option>
                   </select>
                  </div>
              </div>
              <div class="col-md-12 mt-2">
                <h4>Reject Comments</h4>
                <hr>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="form-group mt-2">
                   <input class="form-control" type="text" placeholder="ID Proof comments">
                 </div>
             </div>
             <div class="col-lg-4  col-sm-12">
               <div class="form-group mt-2">
                 <input class="form-control" type="text" placeholder="Address Proof comments">
                 </div>
             </div>
             <div class="col-lg-4  col-sm-12">
               <div class="form-group mt-2">
                 <input class="form-control" type="text" placeholder="Tax Proof comments">
                 </div>
             </div>
            </div>
           </div>
        </div>
        <div class="col-lg-6 text-left">
             <div class="row">
              <div class="col-md-12 mt-2">
                <h4>Educational Docs</h4>
                <hr>
              </div>
              <div class="col-lg-6 col-sm-12">
                <h5>Graduation</h5>
                <p class="mb-2 mt-2"><a href="#"> Certificate URL show here</a></p>
               <div class="form-group mt-2">
                <label for="ccmonth">Status</label>
                <select class="form-control" >
                  <option>Approved</option>
                  <option>Pending for Approval</option>
                  <option>Rejected</option>
                 </select>
                </div>
                <div class="form-group mt-2">
                  <input class="form-control" type="text" placeholder="Reject comments">
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <h5>PG</h5>
                  <p class="mb-2 mt-2"><a href="#"> Certificate URL show here</a></p>
                 <div class="form-group mt-2">
                  <label for="ccmonth">Status</label>
                  <select class="form-control" >
                    <option>Approved</option>
                    <option>Pending for Approval</option>
                    <option>Rejected</option>
                   </select>
                  </div>
                  <div class="form-group mt-2">
                    <input class="form-control" type="text" placeholder="Reject comments">
                    </div>
                  </div>
               </div>
              
        </div>
     
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="dashboard-title mb-4">ADD/UPDATE COMPETENCY</h4>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="ccyear">Competency_id</label>
              <input class="form-control"  type="text" placeholder="Competency_id" disabled>
            </div>
             <div class="form-group">
              <label for="ccyear">Competency Name</label>
              <input class="form-control"  type="text" placeholder="Competency Name" >
            </div>
            <div class="form-group">
              <label for="ccyear">Competency Name</label>
              <textarea class="form-control"  rows="4" placeholder="Competency Discription"></textarea>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-danger">Delete</button>
              <button type="button" class="btn btn-secondary">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="dashboard-title mb-4">ADD/UPDATE Skill to a competency</h4>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="ccyear">Competency Name</label>
               <div class="input-group">
                <input class="form-control" placeholder="Search Cometency" type="text">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-primary" type="button">Search</button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="ccyear">Skill Name</label>
              <input class="form-control"  type="text" placeholder="Competency Name" >
            </div>
            </div>
            <div class="col-lg-6">
             
              <div class="form-group">
                <label for="ccyear">Skill Descreption</label>
                <textarea class="form-control"  rows="4" placeholder="Skill Descreption"></textarea>
              </div>
              <div class="form-group mt-2">
                <label for="ccmonth">Skill Type</label>
                <select class="form-control" >
                  <option>Technical</option>
                  <option>Software Developer</option>
                  <option>Angular </option>
                 </select>
                </div> 
            </div>
             
            <div class="col-lg-12">
            <div class="form-group">
              <button type="button" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-danger">Delete</button>
              <button type="button" class="btn btn-secondary">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="dashboard-title mb-4">Add / Update Job Roles</h4>
        <div class="row">
          <div class="col-lg-6">
              <div class="form-group">
                <label for="ccyear">Add Job Roles</label>
                <input class="form-control" type="text" placeholder="Basic Job Role Info">
              </div>
              <div class="form-group">
                <label for="ccyear">JobRole Id</label>
                <input class="form-control" type="text" placeholder="jobRole Id">
              </div>
              <div class="form-group">
                <label for="ccyear">Job Role Name</label>
                <input class="form-control" type="text" placeholder="Job Role Name">
              </div>
              <div class="form-group">
                <label for="ccyear">Job Role Descreption</label>
                <textarea class="form-control"  rows="4" placeholder="Skill Descreption"></textarea>
              </div>
         </div>
        <div class="col-lg-6">
           <div class="form-group">
            <label for="ccyear">Add Job Role </label>
            <input class="form-control" type="text" placeholder="Basic Job Role Info" disabled>
          </div>
        <div class="form-group">
          <label for="ccyear">Choose from Competencies</label>
          <textarea class="form-control"  rows="4" placeholder="Skill Descreption"></textarea>
        </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
              <button type="button" class="btn btn-primary">Save</button>
               <button type="button" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
            
         
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="dashboard-title mb-4">Add / Update GeoData</h4>
        <div class="row">
          <div class="col-lg-6">
            <h5>Country</h5>
            <hr>
            <div class="form-group">
              <label for="ccyear">Add/Update Country</label>
              <input class="form-control" type="text" placeholder="Add/Update Country">
            </div>
            <div class="form-group">
              <label for="ccyear">Country Code</label>
              <input class="form-control" type="text" placeholder="Country Code">
            </div>
            <div class="form-group">
              <label for="ccyear">Country Name</label>
              <input class="form-control" type="text" placeholder="Country Name">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary">Save</button>
               <button type="button" class="btn btn-secondary">Cancel</button>
            </div>
          </div>
           <div class="col-lg-6">
            <h5>State</h5>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                  <label for="ccyear">Add/Update State</label>
                  <input class="form-control" type="text" placeholder="Add/Update Country">
                </div>
                <div class="form-group">
                  <label for="ccyear">Country Code</label>
                  <input class="form-control" type="text" placeholder="Country Code">
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                  <label for="ccyear">State Code</label>
                  <input class="form-control" type="text" placeholder="State Code">
                </div>
                <div class="form-group">
                  <label for="ccyear">State Name</label>
                  <input class="form-control" type="text" placeholder="State Name">
                </div>
              </div>
            </div>
             <div class="form-group">
              <button type="button" class="btn btn-primary">Save</button>
               <button type="button" class="btn btn-secondary">Cancel</button>
            </div>
          </div>
          <div class="col-lg-6">
            <h5>City</h5>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                  <label for="ccyear">Add/Update City</label>
                  <input class="form-control" type="text" placeholder="Add/Update Country">
                </div>
                <div class="form-group">
                  <label for="ccyear">Country Code</label>
                  <input class="form-control" type="text" placeholder="Country Code">
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                  <label for="ccyear">State Code</label>
                  <input class="form-control" type="text" placeholder="State Code">
                </div>
                <div class="form-group">
                  <label for="ccyear">City Name</label>
                  <input class="form-control" type="text" placeholder="City Name">
                </div>
              </div>
            </div>
             <div class="form-group">
              <button type="button" class="btn btn-primary">Save</button>
               <button type="button" class="btn btn-secondary">Cancel</button>
            </div>
          </div>
           <div class="col-lg-6">
            <h5>Distric</h5>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                  <label for="ccyear">Add/Update Distric</label>
                  <input class="form-control" type="text" placeholder="Add/Update Country">
                </div>
                <div class="form-group">
                  <label for="ccyear">Country Code</label>
                  <input class="form-control" type="text" placeholder="Country Code">
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                  <label for="ccyear">State Code</label>
                  <input class="form-control" type="text" placeholder="State Code">
                </div>
                <div class="form-group">
                  <label for="ccyear">Distric Name</label>
                  <input class="form-control" type="text" placeholder="Distric Name">
                </div>
              </div>
            </div>
             <div class="form-group">
              <button type="button" class="btn btn-primary">Save</button>
               <button type="button" class="btn btn-secondary">Cancel</button>
            </div>
          </div>
          <div class="col-lg-6">
            <h5>Pin Code</h5>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                  <label for="ccyear">Add/Update Pin Code</label>
                  <input class="form-control" type="text" placeholder="ADD /Update Pin Code">
                </div>
                <div class="form-group">
                  <label for="ccyear">Country Code</label>
                  <input class="form-control" type="text" placeholder="Country Code">
                </div>
                <div class="form-group">
                  <label for="ccyear">State Code</label>
                  <input class="form-control" type="text" placeholder="State Code">
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                  <label for="ccyear">City Code</label>
                  <input class="form-control" type="text" placeholder="City Code">
                </div>
                <div class="form-group">
                  <label for="ccyear">Distric Code</label>
                  <input class="form-control" type="text" placeholder="Distric Code">
                </div>
                <div class="form-group">
                  <label for="ccyear">Pin Code</label>
                  <input class="form-control" type="text" placeholder="Pin Code">
                </div>
              </div>
            </div>
             <div class="form-group">
              <button type="button" class="btn btn-primary">Save</button>
               <button type="button" class="btn btn-secondary">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 