<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8" style="margin-top: 50px;">
                        <p style="font-weight: bold;">Your Order No {{orderid}} has been Successfully Placed with Interviewer Id :{{interviewid}}. Your request is
                            pending with interviewer for confirmation</p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>