<div class="d-flex align-items-stretch auth auth-img-bg h-100" style="background: white;">
  <div class="row flex-grow">
    <div class="col-lg-6 login-half-bg d-flex flex-row"
      style="background: url(../../assets/images/login-bg.jpg); background-size: cover;">

    </div>
    <div class="col-lg-6 d-flex align-items-center justify-content-center">
      <div class="auth-form-transparent text-left p-3">
        <div class="brand-logo">
          <h3> Interviewer</h3>
          <!-- <img src="assets/images/logo.svg" alt="logo"> -->
        </div>

        <h6 class="font-weight-light">Create Account As</h6>
        <!-- <div class="my-2 d-flex justify-content-between align-items-center">
          <div class="form-check">
            <label class="form-check-label text-muted">
              <input type="checkbox" class="form-check-input">
              <i class="input-helper"></i>
              Job Seeker
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label text-muted">
              <input type="checkbox" class="form-check-input">
              <i class="input-helper"></i>
              Freelancer
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label text-muted">
              <input type="checkbox" class="form-check-input">
              <i class="input-helper"></i>
              Corportate User
            </label>
          </div>
        </div> -->
        <!-- {{form.value|json}} -->

        <form class="pt-3" [formGroup]="form" (ngSubmit)="register()">
          <div class="my-2 d-flex justify-content-between align-items-center">

            <!-- <div formArrayName="checkArray" *ngFor="let role of RoleFormArray.controls; let i = index"
              class="form-check">
              <label class="form-check-label text-muted">
                <input type="radio" class="form-check-input" [formControlName]="i">
                <i class="input-helper"></i>
                {{ RoleData[i].name }}
              </label>
            </div> -->
            <div class="form-check">
              <label class="form-check-label text-muted">
                <input type="radio" class="form-check-input" value="2"  formControlName="role">
                <i class="input-helper"></i>
                Jobseeker
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label text-muted">
                <input type="radio" class="form-check-input"  value="1"  formControlName="role">
                <i class="input-helper"></i>
                Freelancer
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label text-muted">
                <input type="radio" class="form-check-input" value="3"  formControlName="role">
                <i class="input-helper"></i>
                Corporate
              </label>
            </div>
            
           
          </div>
          <!-- <div style="color: red" *ngIf="submitted && form.get('checkArray').invalid">At least one role must be selected
          </div> -->

          <!-- <div style="color: red" *ngIf="submitted && this.form.controls['checkArray'].errors?.required">
            select atleast one value.
          </div> -->
          <div class="form-group">
            <label>Email ID</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Email ID" formControlName="email">
              <div *ngIf="verified" class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-check"></i>
                </span>
              </div>
              <div *ngIf="!verified" class="input-group-append">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-success" (click)="validateAndCheckEmail()"
                    type="button">Validate</button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="emailOTP">
            <label>Enter OTP on Email <span class="text-danger"> </span></label>
            <div class="input-group">
              <input type="password" class="form-control" id="exampleInputPassword" formControlName="code"
                placeholder="Enter OTP on Email">
              <div class="input-group-append">
                <button class="btn btn-sm btn-success" type="button" (click)="verifyEmailOtp()">Verify</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Mobile</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Mobile" formControlName="mobile">
              <div *ngIf="mobileverified" class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-check"></i>
                </span>
              </div>

              <div *ngIf="!mobileverified" class="input-group-append">
                <button class="btn btn-sm btn-success" type="button"
                  (click)="validateAndCheckMobile()">Validate</button>
              </div>
            </div>

          </div>

          <div class="form-group" *ngIf="mobileOTP">
            <label>Enter OTP on mobile <span class="text-danger"> </span></label>
            <div class="input-group">
              <input type="password" class="form-control" id="exampleInputPassword" formControlName="mobilecode"
                placeholder="Enter OTP on mobile">
              <div class="input-group-append">
                <button class="btn btn-sm btn-success" type="button" (click)="verifyMobileOtp()">Verify</button>
              </div>
            </div>
          </div>

          <div class="mb-4">
            <div class="form-check">
              <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input" (change)="Chechterm($event)">
                <i class="input-helper"></i>
                I agree to all Terms & Conditions
              </label>
            </div>
          </div>
          <div class="mt-3">
            <button class="btn btn-primary px-4" [disabled]="validate"  type="submit">CREATE
              ACCOUNT</button>

          </div>
          <div class="text-center mt-4 font-weight-light">
            Already have an account? <a routerLink="/account/login" class="text-primary">Login</a>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>