<div class="card">
    <form [formGroup]="summaryForm" (ngSubmit)="submit()">
        <div class="card-header">
            <h5>Update {{details.questioncategory == 'Tech'?'Tech Skill':details.questioncategory == 'Domain'?'Domain Skill':'General Apptitude'}} Summary <span (click)="close()" class="float-right">
                    <i class="fa fa-close"></i>
                </span></h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-5">
                    <p class="mb-0 fwm">Competency</p>
                </div>
                <div class="col-sm-7">
                    <p class="mb-0 fwb">{{details.competencyname}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <p class="mb-0 fwm">Skills</p>
                </div>
                <div class="col-sm-7">
                    <p class="mb-0 fwb">{{details.skillname}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <p class="mb-0 fwm">Weighted Score</p>
                </div>
                <div class="col-sm-7">
                    <p class="mb-0 fwb">{{details.weightedscore}}</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="">Strength & Weekness</label>
                        <textarea formControlName="strengthweakness" [ngClass]="{'is-invalid':submitted && f.strengthweakness.errors}" class="form-control form-control-sm"></textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="">Improvement Guidance</label>
                        <textarea formControlName="improvementguidance" [ngClass]="{'is-invalid':submitted && f.improvementguidance.errors}" class="form-control form-control-sm"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-sm btn-primary float-right">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>