<div class="sticky-top border-danger mb-4 ">
    <div class="profile-card bg-white border p-3 mt-3 rounded">
        <div class="text-center">
            <img src="assets/image/banner3.jpg" class="rounded-pill" style="width: 80px; height: 80px;" alt="">
            <div class="up-title mt-2 fwsb">{{username | titlecase}}</div>
            <p><small>{{role}}</small></p>
            <p class="h5 fwb"><code class="px-2 py-1">{{tenantid | uppercase}}</code></p>
            <hr>
        </div>
        <div class="">
            <ul class="nav withicon flex-column">
                <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
                    <a class="nav-link rounded" routerLink="/employer/dashboard" routerLinkActive
                        #dashboard="routerLinkActive">
                        <span class="icn">
                            <svg viewBox="0 0 576 512" height="16">
                                <path fill="currentColor"
                                    d="M288 288c-22.35 0-41.96 11.49-53.41 28.84l-101.87-20.38c-13.06-2.77-25.66 5.83-28.25 18.83s5.81 25.64 18.81 28.23L225.69 364c1.45 7.1 3.64 13.91 7.18 19.99h110.25c5.5-9.45 8.88-20.28 8.88-32 0-35.34-28.65-63.99-64-63.99zm-112-48c17.67 0 32-14.33 32-32s-14.33-32-32-32-32 14.33-32 32 14.33 32 32 32zm240 80c0 17.67 14.33 32 32 32s32-14.33 32-32-14.33-32-32-32-32 14.33-32 32zM288 192c17.67 0 32-14.33 32-32s-14.33-32-32-32-32 14.33-32 32 14.33 32 32 32zm144 16c0-17.67-14.33-32-32-32s-32 14.33-32 32 14.33 32 32 32 32-14.33 32-32zM288 32C128.94 32 0 160.94 0 320c0 52.8 14.25 102.26 39.06 144.8 5.61 9.62 16.3 15.2 27.44 15.2h443c11.14 0 21.83-5.58 27.44-15.2C561.75 422.26 576 372.8 576 320c0-159.06-128.94-288-288-288zm212.27 400H75.73C57.56 397.63 48 359.12 48 320 48 187.66 155.66 80 288 80s240 107.66 240 240c0 39.12-9.56 77.63-27.73 112z"
                                    class=""></path>
                            </svg>
                        </span>
                        <span class="ml-3">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" [ngClass]="{'active': registration.isActive}">
                    <a class="nav-link rounded" routerLink="/employer/profile" routerLinkActive
                        #registration="routerLinkActive">
                        <span class="icn">
                            <svg viewBox="0 0 640 512" height="16">
                                <path fill="currentColor"
                                    d="M224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96zm89.6 256c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zm224-248h-72v-72c0-8.8-7.2-16-16-16h-16c-8.8 0-16 7.2-16 16v72h-72c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h72v72c0 8.8 7.2 16 16 16h16c8.8 0 16-7.2 16-16v-72h72c8.8 0 16-7.2 16-16v-16c0-8.8-7.2-16-16-16z"
                                    class=""></path>
                            </svg>
                        </span>
                        <span class="ml-3">Profile</span>
                    </a>
                </li>
                <li class="nav-item" [ngClass]="{'active': myInterviews.isActive}">
                    <a class="nav-link rounded" routerLink="/employer/my-interviews" routerLinkActive
                    #myInterviews="routerLinkActive">
                        <span class="icn">
                            <svg viewBox="0 0 384 512" height="16">
                                <path fill="currentColor"
                                    d="M369.9,97.9,286,14A48,48,0,0,0,252.1-.1H48A48.16,48.16,0,0,0,0,48V464a48,48,0,0,0,48,48H336a48,48,0,0,0,48-48V131.9A48.23,48.23,0,0,0,369.9,97.9ZM256,51.9,332.1,128H256ZM336,464H48V48H208V152a23.94,23.94,0,0,0,24,24H336ZM215,223.75a16,16,0,0,0-16-16H183a16,16,0,0,0-16,16v56.5h-55.5a16,16,0,0,0-16,16v16a16,16,0,0,0,16,16H167v56a16,16,0,0,0,16,16h16a16,16,0,0,0,16-16v-56h56.5a16,16,0,0,0,16-16v-16a16,16,0,0,0-16-16H215Z"
                                    class=""></path>
                            </svg>
                        </span>
                        <span class="ml-3">My Interviews</span>
                    </a>
                </li>

                <li class="nav-item" [ngClass]="{'active': myDocumentApproval.isActive}">
                    <a class="nav-link rounded" routerLink="/employer/my-document-approval" routerLinkActive
                    #myDocumentApproval="routerLinkActive">
                        <span class="icn">
                            <svg viewBox="0 0 384 512" height="16">
                                <path fill="currentColor"
                                    d="M369.9,97.9,286,14A48,48,0,0,0,252.1-.1H48A48.16,48.16,0,0,0,0,48V464a48,48,0,0,0,48,48H336a48,48,0,0,0,48-48V131.9A48.23,48.23,0,0,0,369.9,97.9ZM256,51.9,332.1,128H256ZM336,464H48V48H208V152a23.94,23.94,0,0,0,24,24H336ZM215,223.75a16,16,0,0,0-16-16H183a16,16,0,0,0-16,16v56.5h-55.5a16,16,0,0,0-16,16v16a16,16,0,0,0,16,16H167v56a16,16,0,0,0,16,16h16a16,16,0,0,0,16-16v-56h56.5a16,16,0,0,0,16-16v-16a16,16,0,0,0-16-16H215Z"
                                    class=""></path>
                            </svg>
                        </span>
                        <span class="ml-3">Registration Status</span>
                    </a>
                </li>

                <li class="nav-item" [ngClass]="{'active': myPayments.isActive}">
                    <a class="nav-link rounded" routerLink="/employer/my-payments" routerLinkActive #myPayments="routerLinkActive">
                        <span class="icn">
                            <svg viewBox="0 0 640 512" height="16">
                                <path fill="currentColor"
                                    d="M480 256c53 0 96-43 96-96s-43-96-96-96-96 43-96 96 43 96 96 96zm0-144c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48 21.5-48 48-48zM272.1 276c-11.9 0-23.9 1.7-35.5 5.3-14.2 4.3-29.1 6.7-44.7 6.7s-30.5-2.4-44.7-6.7c-11.6-3.5-23.6-5.3-35.5-5.3-36.3 0-71.6 16.2-92.3 46.9C7.2 341.3 0 363.4 0 387.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-44.8c0-23.8-7.2-45.9-19.6-64.3-20.7-30.7-56-46.9-92.3-46.9zM336 432H48v-44.8c0-28.9 18.4-53.6 44.1-63.1 10.3-3.8 21.6-3.7 31.9 0 22.1 7.9 45 11.9 68 11.9s45.8-4 68.1-11.9c10.3-3.7 21.6-3.8 31.9 0 25.7 9.4 44.1 34.2 44.1 63.1V432zM192 256c61.9 0 112-50.1 112-112S253.9 32 192 32 80 82.1 80 144s50.1 112 112 112zm0-176c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm431.7 237.1C606.4 291.5 577 278 546.8 278c-27.8 0-34.8 10-66.8 10s-39-10-66.8-10c-13.3 0-26.2 3-38.2 8.1 5.8 5.9 11.3 12 16 18.9 4.7 7 8.6 14.4 12 22 3.3-.7 6.7-1.1 10.2-1.1 17.2 0 29.6 10 66.8 10 37.4 0 49.5-10 66.8-10 15.7 0 29.5 6.7 37.1 17.9 5.3 7.9 8.1 17.1 8.1 26.7V400H416v32c0 5.5-.6 10.8-1.6 16H600c22.1 0 40-17.9 40-40v-37.3c0-19.9-6-38.3-16.3-53.6z"
                                    class=""></path>
                            </svg>
                        </span>
                        <span class="ml-3">My Payments</span>
                    </a>
                </li>
                <li class="nav-item" [ngClass]="{'active': calenderEntry.isActive}">
                    <a class="nav-link rounded" routerLink="/employer/entry-calender" routerLinkActive
                    #calenderEntry="routerLinkActive">
                        <span class="icn">
                            <svg viewBox="0 0 640 512" height="16">
                                <path fill="currentColor"
                                    d="M480 256c53 0 96-43 96-96s-43-96-96-96-96 43-96 96 43 96 96 96zm0-144c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48 21.5-48 48-48zM272.1 276c-11.9 0-23.9 1.7-35.5 5.3-14.2 4.3-29.1 6.7-44.7 6.7s-30.5-2.4-44.7-6.7c-11.6-3.5-23.6-5.3-35.5-5.3-36.3 0-71.6 16.2-92.3 46.9C7.2 341.3 0 363.4 0 387.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-44.8c0-23.8-7.2-45.9-19.6-64.3-20.7-30.7-56-46.9-92.3-46.9zM336 432H48v-44.8c0-28.9 18.4-53.6 44.1-63.1 10.3-3.8 21.6-3.7 31.9 0 22.1 7.9 45 11.9 68 11.9s45.8-4 68.1-11.9c10.3-3.7 21.6-3.8 31.9 0 25.7 9.4 44.1 34.2 44.1 63.1V432zM192 256c61.9 0 112-50.1 112-112S253.9 32 192 32 80 82.1 80 144s50.1 112 112 112zm0-176c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm431.7 237.1C606.4 291.5 577 278 546.8 278c-27.8 0-34.8 10-66.8 10s-39-10-66.8-10c-13.3 0-26.2 3-38.2 8.1 5.8 5.9 11.3 12 16 18.9 4.7 7 8.6 14.4 12 22 3.3-.7 6.7-1.1 10.2-1.1 17.2 0 29.6 10 66.8 10 37.4 0 49.5-10 66.8-10 15.7 0 29.5 6.7 37.1 17.9 5.3 7.9 8.1 17.1 8.1 26.7V400H416v32c0 5.5-.6 10.8-1.6 16H600c22.1 0 40-17.9 40-40v-37.3c0-19.9-6-38.3-16.3-53.6z"
                                    class=""></path>
                            </svg>
                        </span>
                        <span class="ml-3">Set WorkDays/WorkHours</span>
                    </a>
                </li>
                <li class="nav-item" [ngClass]="{'active': myCalendar.isActive}">
                    <a class="nav-link rounded" routerLink="/employer/my-calendar" routerLinkActive #myCalendar="routerLinkActive">
                        <span class="icn">
                            <svg viewBox="0 0 384 512" height="16">
                                <path fill="currentColor"
                                    d="M369.941 97.941l-83.882-83.882A48 48 0 0 0 252.118 0H48C21.49 0 0 21.49 0 48v416c0 26.51 21.49 48 48 48h288c26.51 0 48-21.49 48-48V131.882a48 48 0 0 0-14.059-33.941zM332.118 128H256V51.882L332.118 128zM48 464V48h160v104c0 13.255 10.745 24 24 24h104v288H48zm261.151-192.661L166.842 412.508c-4.705 4.667-12.303 4.637-16.971-.068l-75.091-75.7c-4.667-4.705-4.637-12.303.068-16.971l22.719-22.536c4.705-4.667 12.303-4.637 16.97.069l44.104 44.461 111.072-110.181c4.705-4.667 12.303-4.637 16.971.068l22.536 22.718c4.667 4.706 4.636 12.303-.069 16.971z"
                                    class=""></path>
                            </svg>
                        </span>

                        <span class="ml-3">My Calendar</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="profile-card bg-white border p-3 mt-3 rounded">
        <h6>My Points Earned</h6>
        <ul class="nav flex-column">
            <li class="nav-item"><a href="" class="nav-link">My Views</a></li>
            <li class="nav-item"><a href="" class="nav-link">Points Earned</a></li>
        </ul>
    </div>
</div>