<div class="row">
    <div class="col-md-9">
        <div class="profile-card bg-white mb-4 shadow rounded">
            <div class="step-bar rounded bg-light p-3">
                <ul class="progressbar pl-0">
                    <li class="navi" style="cursor: pointer;" [ngClass]="{'active':(complete > 10)?true:false}"
                        routerLink="/freelancer/add-profile/basicinfo"><span>Basic Info</span></li>
                    <li class="navi" style="cursor: pointer;" [ngClass]="{'active':(complete > 20)?true:false}"
                        routerLink="/freelancer/add-profile/jobinfo"><span>Job Summary</span></li>
                    <li class="navi" style="cursor: pointer;" [ngClass]="{'active':(complete > 30)?true:false}"
                        routerLink="/freelancer/add-profile/idproof"><span>Id</span></li>
                    <li class="navi" style="cursor: pointer;" [ngClass]="{'active':(complete > 40)?true:false}"
                        routerLink="/freelancer/add-profile/address"><span>Address</span></li>
                    <li class="navi" style="cursor: pointer;" [ngClass]="{'active':(complete > 50)?true:false}"
                        routerLink="/freelancer/add-profile/experience"><span>Work-Ex</span></li>
                    <li class="navi" style="cursor: pointer;" [ngClass]="{'active':(complete > 60)?true:false}"
                        routerLink="/freelancer/add-profile/education"><span>Education</span></li>
                    <li class="navi" style="cursor: pointer;" [ngClass]="{'active':(complete > 70)?true:false}"
                        routerLink="/freelancer/add-profile/bank"><span>Bank</span></li>
                    <li class="navi" style="cursor: pointer;" [ngClass]="{'active':(complete > 80)?true:false}"
                        routerLink="/freelancer/add-profile/roles"><span>Roles</span></li>
                    <li class="navi" style="cursor: pointer;" [ngClass]="{'active':(complete > 85)?true:false}"
                        routerLink="/freelancer/add-profile/otherinfo"><span>Other Details</span></li>
                    <li class="navi" style="cursor: pointer;" [ngClass]="{'active':(complete > 90)?true:false}"
                        routerLink="/freelancer/add-profile/review"><span>Review</span></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="col-sm-3 pl-0">
        <div class="rounded sticky-top px-3  py-4 bg-light border">
            <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="complete" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100">{{complete}}%</div>
            </div>
            <ul class="step-chart pl-4 mt-3">
                <li [ngClass]="{'active':(complete > 10)?true:false}"><span>Basic Info</span></li>
                <li [ngClass]="{'active':(complete > 20)?true:false}"><span>Job Summary</span></li>
                <li [ngClass]="{'active':(complete > 30)?true:false}"><span>Id Details</span></li>
                <li [ngClass]="{'active':(complete > 40)?true:false}"><span>Address</span></li>
                <li [ngClass]="{'active':(complete > 50)?true:false}"><span>Work Experience</span></li>
                <li [ngClass]="{'active':(complete > 60)?true:false}"><span>Education</span></li>
                <li [ngClass]="{'active':(complete > 70)?true:false}"><span>Bank Details</span></li>
                <li [ngClass]="{'active':(complete > 80)?true:false}"><span>Interview For Job Roles</span></li>
                <li [ngClass]="{'active':(complete > 85)?true:false}"><span>Other Details</span></li>
                <li [ngClass]="{'active':(complete > 90)?true:false}"><span>Review</span></li>
            </ul>
        </div>
    </div>
</div>