<div class="profile-card bg-white mt-3 mb-4 shadow rounded">
    <div class="px-3 pt-3">
        <h6>Review Your Details</h6>
        <hr>
        <div class="card mks-card mb-3">
            <div class="card-header df jcb aic">
                <span class="fwb">Basic Information</span>
                <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button" routerLink="/jobseeker/profile/basicinfo" class="btn border edit">
                    <svg height="16" viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="card-body p-3">
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Title :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.title}}.</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Gender :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.gender}}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">First Name :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.fname}}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Last Name :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.lname}}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Nationality :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.nationality}}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Date of Birth :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.dob | date:'dd MMM yyyy'}}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Current Salary Annualy :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.currsallac}} Lac {{basicProfile?.currsalth}} Thousand
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Donload Resume :</div>
                        <div class="col-sm-8 fwsm">
                            <img (click)="downloadFile(basicProfile?.resumeurl)" class=""
                                style="width: 65px;height: 45px;cursor: pointer;" src="assets/image/download.png"
                                width="100" height="100" alt="">
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="card mks-card mb-3">
            <div class="card-header df jcb aic">
                <span class="fwb">Job Information (Current)</span>
                <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button" routerLink="/jobseeker/profile/jobinfo" class="btn border edit">
                    <svg height="16" viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="card-body p-3">
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Industry :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.currindustry}}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Functional Area :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.functionalarea}}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Role :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.currrole}}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Location :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.currloc}}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Prefered Location :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.prefloc}}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Notice Period :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.noticeperiod}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mks-card mb-3">
            <div class="card-header df jcb aic">
                <span class="fwb">Your ID</span>
                <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button" routerLink="/jobseeker/profile/idproof" class="btn border edit">
                    <svg height="16" viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="card-body p-3">
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">ID Type :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.identityprooftype}}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">ID No. :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.identityNumber}}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Attach ID :</div>
                        <div class="col-sm-8 fwsm">
                            <img (click)="downloadFile(basicProfile?.idproofurl)" class=""
                                style="width: 65px;height: 45px;cursor: pointer;" src="assets/image/download.png"
                                width="100" height="100" alt="">
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Pan No. :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.taxidnumber}}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Attach PAN :</div>
                        <div class="col-sm-8 fwsm">
                            <img (click)="downloadFile(basicProfile?.taxproofurl)" class=""
                                style="width: 65px;height: 45px;cursor: pointer;" src="assets/image/download.png"
                                width="100" height="100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mks-card mb-3">
            <div class="card-header df jcb aic">
                <span class="fwb">Address Details</span>
                <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button" routerLink="/jobseeker/profile/address" class="btn border edit">
                    <svg height="16" viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="card-body p-3">
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Address Line1 :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.address}}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Address Line2 :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.address1}}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Country :</div>
                        <div class="col-sm-8 fwsm">
                            {{basicProfile?.country}}
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">State :</div>
                        <div class="col-sm-8 fwsm">{{basicProfile?.state}}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">City :</div>
                        <div class="col-sm-8 fwsm">
                            {{basicProfile?.city}}
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Pin Code :</div>
                        <div class="col-sm-8 fwsm">
                            {{basicProfile?.zip}}
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="row">
                        <div class="col-sm-4 pr-0 text-sm-right">Adress Proof :</div>
                        <div class="col-sm-8 fwsm">
                            <img (click)="downloadFile(basicProfile?.addressurl)" class=""
                                style="width: 65px;height: 45px;cursor: pointer;" src="assets/image/download.png"
                                width="100" height="100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mks-card mb-3">
            <div class="card-header df jcb aic">
                <span class="fwb">Experience</span>
                <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button" routerLink="/jobseeker/profile/experience" class="btn border edit">
                    <svg height="16" viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="card-body">
                <div class="card-title fwsm mb-0 mx-3 pt-3">
                    <svg viewBox="0 0 496 512" height="20" class="mr-2">
                        <path fill="currentColor"
                            d="M248 104c-53 0-96 43-96 96s43 96 96 96 96-43 96-96-43-96-96-96zm0 144c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm0-240C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-49.7 0-95.1-18.3-130.1-48.4 14.9-23 40.4-38.6 69.6-39.5 20.8 6.4 40.6 9.6 60.5 9.6s39.7-3.1 60.5-9.6c29.2 1 54.7 16.5 69.6 39.5-35 30.1-80.4 48.4-130.1 48.4zm162.7-84.1c-24.4-31.4-62.1-51.9-105.1-51.9-10.2 0-26 9.6-57.6 9.6-31.5 0-47.4-9.6-57.6-9.6-42.9 0-80.6 20.5-105.1 51.9C61.9 339.2 48 299.2 48 256c0-110.3 89.7-200 200-200s200 89.7 200 200c0 43.2-13.9 83.2-37.3 115.9z"
                            class=""></path>
                    </svg> {{(otherDetails)?otherDetails.profiletitle:''}}
                </div>
                <hr>
                <div *ngFor="let lst of basicProfile?.experiences" class="card-item p-3 border-bottom df aic">
                    <div class="card-icon border df jcc aic rounded-pill mr-3">icon</div>
                    <div class="card-content">
                        <div class="card-title fwsm">{{lst.role_name}} - {{lst.designation}}</div>
                        <div class="card-subtitle mb-0 text-mutedfwm">{{lst.orgname}}</div>
                        <!-- <small class="card-location text-muted">Location : {{}}</small> -->
                    </div>
                    <small class="duration texr-muted">
                        <b>From</b> - {{lst.startdate | date:'dd MMM yyyy'}} <b>To</b> {{lst.endDate | date:'dd MMM
                        yyyy'}}
                    </small>

                </div>

            </div>
        </div>
        <div class="card mks-card mb-3">
            <div class="card-header df jcb aic">
                <span class="fwb">Education</span>
                <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button" routerLink="/jobseeker/profile/education" class="btn border edit">
                    <svg height="16" viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="card-body">
                <div *ngFor="let lst of basicProfile?.educations;" class="card-item border-bottom df aic">
                    <div class="card-icon border df jcc aic rounded-pill mr-3">icon</div>
                    <div class="card-content">
                        <div class="card-title fwsm">{{lst.education_type}}</div>
                        <div class="card-subtitle mb-0 text-mutedfwm">{{lst.institute_name}} - {{lst.institute_address}}
                        </div>
                        <small class="card-location text-muted">{{lst.university}} : {{lst.yearofpassing}}</small>
                    </div>

                </div>
            </div>
        </div>
        <div class="card mks-card mb-3">
            <div class="card-header df jcb aic">
                <span class="fwb">Key Competencies</span>
                <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button" routerLink="/jobseeker/profile/competency" class="btn border edit">
                    <svg height="16" viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="card-body">
                <div *ngFor="let lst of competencies;" class="card-item border-bottom df aic">
                    <div class="card-icon sm-icn border df jcc aic rounded-pill mr-3">
                        <img src="assets/image/banner2.jpg" class="card-icon sm-icn rounded-pill" alt="">
                    </div>
                    <div class="card-content">
                        <div class="card-title mb-0 fwsm">{{lst.competencyname}}</div>
                        <small class="card-location text-muted">{{lst.years_of_exp}} yrs</small>
                    </div>

                </div>
            </div>
        </div>
        <div class="card mks-card mb-3">
            <div class="card-header df jcb aic">
                <span class="fwb">Desired Career Details</span>
                <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button" routerLink="/jobseeker/profile/career-details" class="btn border edit">
                    <svg height="16" viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M491.609 73.625l-53.861-53.839c-26.378-26.379-69.076-26.383-95.46-.001L24.91 335.089.329 484.085c-2.675 16.215 11.368 30.261 27.587 27.587l148.995-24.582 315.326-317.378c26.33-26.331 26.581-68.879-.628-96.087zM120.644 302l170.259-169.155 88.251 88.251L210 391.355V350h-48v-48h-41.356zM82.132 458.132l-28.263-28.263 12.14-73.587L84.409 338H126v48h48v41.59l-18.282 18.401-73.586 12.141zm378.985-319.533l-.051.051-.051.051-48.03 48.344-88.03-88.03 48.344-48.03.05-.05.05-.05c9.147-9.146 23.978-9.259 33.236-.001l53.854 53.854c9.878 9.877 9.939 24.549.628 33.861z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="card-item df aic">
                            <div class="card-content">
                                <small class="card-location text-muted">Desired Industry</small>
                                <div class="card-title text-primary mb-0 fwsm">{{otherDetails?.desiredindustry}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-item df aic">
                            <div class="card-content">
                                <small class="card-location text-muted">Desired Profile</small>
                                <div class="card-title text-primary mb-0 fwsm">{{otherDetails?.desiredprofile}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-item df aic">
                            <div class="card-content">
                                <small class="card-location text-muted">Desired Location</small>
                                <div class="card-title text-primary mb-0 fwsm">{{otherDetails?.desiredlocation}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-item df aic">
                            <div class="card-content">
                                <small class="card-location text-muted">Job Type</small>
                                <div class="card-title text-primary mb-0 fwsm">{{otherDetails?.jobtype}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card-item df aic">
                            <div class="card-content" style="width: 100% !important;">
                                <small class="card-location text-muted">Keywords</small>
                                <div class="card-title text-primary mb-0 fwsm">{{otherDetails?.keywords}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-sm-right bg-light mx-n3 p-3">
            <button type="button" (click)="previous()" class="btn btn-dark px-5 float-left">Previous</button>
            <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="button" (click)="submit()"
                class="btn btn-primary px-5">Submit</button>
        </div>
    </div>
</div>