<div class="row mt-5">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="card">
            <!-- <div class="card-header">
                <div class="card-title">
                    <h4 class="dashboard-title mb-0">Update Your Password</h4>
                </div>
            </div> -->
            <div class="card-body">
                <form class="pt-3" [formGroup]="updatePwdForm" (ngSubmit)="updatePassword()">

                    <div class="form-group">
                        <label for="exampleInputPassword">Existing Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Existing password"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password">
                            <div *ngIf="f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">{{'Password required'}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword">New Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="New Password"
                                [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }" formControlName="new_password">
                            <div *ngIf="f.new_password.errors" class="invalid-feedback">
                                <div *ngIf="f.new_password.errors.required">{{'New password required'}}</div>
                                <div *ngIf="f.new_password.errors.pattern">
                                    {{'Min 8, At Least One Uppercase Character,One Lowercase Character,One Numeric Value And One Special Character Required'}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword">Confirm Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Confirm password"
                                [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }"
                                formControlName="confirm_password">
                            <div *ngIf="f.confirm_password.errors" class="invalid-feedback">
                                <div *ngIf="f.confirm_password.errors.required">{{'Confirm password required'}}</div>
                                <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password
                                    must be match.</div>
                            </div>
                        </div>
                    </div>

                    <div class="my-3">

                        <button class="btn btn-block btn-primary btn-md font-weight-medium auth-form-btn"
                            [disabled]="loginStart" [ngClass]="{'btn-loading': loginStart}">Update Password</button>

                    </div>

                    <!-- <div class="text-center mt-4 font-weight-light">
                      Don't have an account? <a routerLink="/account/register" class="text-primary">Create</a>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>