<div class="step-form step2 px-3 pt-3">
  <form [formGroup]="jobInfo" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-sm-12">
        <h6 class="fwb mb-4">Job Information (Current)</h6>
        <div class="row form-group align-items-center">
          <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0"
            >Industry</label
          >
          <div class="col-sm-7">
            <select  formControlName="currindustry" [ngClass]="{'is-invalid':submitted && f.currindustry.errors}" id="" (change)="getJobRoleByCurrentIndustry($event.target.value)" class="form-control">
              <option value="">--select--</option>
              <option *ngFor="let lst of currentIndustryData" [value]="lst.industryname">{{lst.industryname}}</option>
          </select>
          </div>
        </div>
        <div class="row form-group align-items-center">
          <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Functional Area</label >
          <div class="col-sm-7">
            <select formControlName="functionalarea" id="" [ngClass]="{'is-invalid':submitted && f.functionalarea.errors}" class="form-control">
              <option value="">--select--</option>
              <option *ngFor="let lst of currentFunctionalAreaData" [value]="lst.functionalareaname">{{lst.functionalareaname}}</option>
          </select>
          </div>
        </div>
        <div class="row form-group align-items-center">
          <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Current Job Role</label>
          <div class="col-sm-7">
            <select formControlName="currrole" [ngClass]="{'is-invalid':submitted && f.currrole.errors}" id="" class="form-control">
              <option value="">--Select--</option>
              <option *ngFor="let lst of currentRoleData" [value]="lst.jobrolename">{{lst.jobrolename}}</option>
          </select>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right df jcb bg-light mx-n3 p-3">
      <button type="button" (click)="previous()" class="btn btn-secondary"> Previous (Basic Info)</button>
      <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="submit" class="btn btn-primary">Next (Id Details)</button>
    </div>
  </form>
</div>
