<div class="card">
    <form [formGroup]="interviewSummaryForm" (ngSubmit)="submit()">
        <div class="card-header">
            <div class="card-title">
                <div class="row">
                    <div class="col-sm-10">
                        Add Interview Summary
                    </div>
                    <div class="col-sm-2">
                        <button class="float-right" type="button" (click)="close()"><i class="fa fa-close"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <select class="form-control" formControlName="industrytype"
                            (change)="onchange_currentindustry($event.target.value)"
                            [ngClass]="{ 'is-invalid': submitInterviewSummary && t.industrytype.errors }">
                            <option value="">Select Industry Type</option>
                            <option *ngFor="let inds of currentIndustry;" [value]="inds.industryname">
                                {{inds.industryname}}
                            </option>
                        </select>

                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <select class="form-control" formControlName="target_job"
                            [ngClass]="{ 'is-invalid': submitInterviewSummary && t.target_job.errors }">
                            <option value="">Select Target Job</option>
                            <option *ngFor="let job of targetJobList" [value]="job.jobrolename">{{job.jobrolename}}
                            </option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-12">
                    <button type=" submit" class="btn  btn-sm btn-success float-right">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>