<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Detailed Profile
                    <button class="btn btn-sm btn-dark float-right" (click)="back()">Back</button>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-7">
                        <strong>{{freelancerData?.title}}</strong>

                    </div>
                    <div class="col-sm-5">
                        Total Interviews Done : {{freelancerData?.interviewssofar}}<br>
                        Total Candidates Hired by Corporates : 10<br>
                        Feedback Score : 3.8/5
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <strong>Keywords:</strong><br>
                        {{freelancerData?.keywords}}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <strong>{{freelancerData?.currency}} {{freelancerData?.per_hour_rate}} per Hour</strong>
                    </div>
                    <div class="col-sm-3">
                        <strong>{{freelancerData?.state}},{{freelancerData?.country}}</strong>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <strong><u>My Profile Summary</u></strong>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <tr>
                                <th>Skills</th>
                                <th>Core Competencies</th>
                                <th>Competency Level (Self Assessment)</th>
                            </tr>
                            <tr *ngFor="let skl of freelancerData?.skills">
                                <td>{{skl.skill_name}}</td>
                                <td>{{skl.competency_name}}</td>
                                <td>{{skl.competency_scale}}</td>
                            </tr>
                        </table>
                    </div>

                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <strong>Education</strong>
                        <br>
                        <br>
                    </div>

                    <div class="col-sm-12">
                        <table class="table table-bordered">

                            <tr>
                                <th>Education Level</th>
                                <th>Institute/School Name</th>
                                <th>Board/University</th>
                                <th class="text-center">Passing Year</th>
                            </tr>

                            <tr *ngFor="let edu of freelancerData?.educations">
                                <td>{{edu.education_type}}</td>
                                <td>{{edu.institute_name}}</td>
                                <td>{{edu.university}}</td>
                                <td class="text-center">{{edu.yearofpassing}}</td>
                            </tr>

                        </table>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <strong>Experience</strong>
                        <br>
                        <br>
                    </div>

                    <div class="col-sm-12">
                        <table class="table table-bordered">

                            <tr>
                                <th>Organization</th>
                                <th>Role</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>


                            <tr *ngFor="let org of freelancerData?.experiences">
                                <td>{{org.orgname}}</td>
                                <td>{{org.rolensrep}}</td>
                                <td>{{org.startdate | date}}</td>
                                <td>{{org.enddate | date}}</td>
                            </tr>

                        </table>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button (click)="bookInterview(freelancerData)"
                            class="btn btn-sm btn-primary float-right" style="margin-left:30px">Book Interview</button>
                        <button (click)="viewCalendar(freelancerData?.username)"
                            class="btn btn-sm btn-info float-right">Check My Calendar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>`