<div class="card">
    <div class="card-header">
        <h5 class="card-title" id="addFeedbackLabel">Add Domain Skills
            <button (click)="close()" class="float-right" type="button">
                <span aria-hidden="true"><i class="fa fa-times"></i></span>
            </button>
        </h5>
    </div>
    <div class="card-body" style="height: 460px;overflow-y: auto;">
        <ul style="list-style: none;">
            <li>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Competency</label>
                            <select [disabled]="detailid > 0" [(ngModel)]="competency_id" class="form-control form-control-sm"
                                (change)="getAllSkillListByCompetency($event.target.value,$event)">
                                <option value="0">Select</option>
                                <option *ngFor="let compt of allCompetacyList;" [value]="compt.competencyid">
                                    {{compt.competencyname}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Skill</label>
                            <select [disabled]="detailid > 0" [(ngModel)]="skill_id" class="form-control form-control-sm" (change)="on_change_skill($event.target.value,$event)">
                                <option value="0">Select</option>
                                <option *ngFor="let skl of skillList" [value]="skl.id">
                                    {{skl.skillname}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                       
                        <button [disabled]="disable_add_question_btn" style="border-radius: 5px;margin-top: 25px;padding: 4px;" (click)="addTechQuestion()" class="" type="button">
                            <span aria-hidden="true">Add Question</span>
                        </button>
                    </div>
                </div>
            </li>
            <li>
                <hr>
            </li>
        </ul>

        <ol *ngIf="allQuestionOfDetailId.length > 0" type="a">
            <li *ngFor="let lst of allQuestionOfDetailId;" class="mb-4">
                <div class="question mb-1 fwb">
                    {{lst.questiontext}}
                    <i (click)="delete(lst.qnaid)" class="fa fa-trash float-right mr-3 ml-3"></i>
                    <i (click)="update(lst)" class="fa fa-pencil-square float-right"></i>
                </div>
                <div class="answer expected-one mb-3">
                    <p class="text-success mb-2 fwb">Expected Answer</p>
                    <div>
                      {{lst.expectedanswer}}
                    </div>
                </div>
                <div class="answer given-one mb-3">
                    <p class="text-info mb-2 fwb">Actual Answer</p>
                    <div>
                        {{lst.answergiven}}
                      </div>
                </div>
                <div class="answer bg-light border p-2 params mb-3">
                    <span class="mr-3 fwm">Complexity : <span class="badge badge-info py-1 px-2">{{lst.questiontype | titlecase}}</span></span>
                    <span class="mr-3 fwm">Marks : <span class="badge badge-info py-1 px-2">{{lst.marks}}</span></span>
                    <span class="mr-3 fwm">Weight : <span class="badge badge-info py-1 px-2">{{lst.weight}}</span></span>
                    <span class="mr-3 fwm">Weightage Score : <span class="badge badge-info py-1 px-2">{{lst.weightedscore}}</span></span>
                </div>
            </li>
        </ol>
    </div>
</div>