<div class="row">
    <div class="col-sm-12">
        <div class="card">
                <div class="card-header">
                    <div class="card-title">Rate Your Interview Experience</div>
                </div>
                <div class="card-body">                 
                    <div class="card-body">
                        <div class="row" style="margin-bottom: 20px;" *ngFor="let lst of questionTemplates;let i = index">
                            <div class="col-sm-8">
                            <p style="font-size: 12px;font-weight:bold;"> {{i+1}} &nbsp;  {{lst.questiontext}}</p>
                            </div>
                            <div class="col-sm-4">
                                <bar-rating [(ngModel)]="questionTemplates[i]['feedback']" [max]="5"></bar-rating>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button (click)="submit()" class="btn btn-primary" type="button">Submit
                                Feedback & Close Interview</button>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>