<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <h5 class="text-center" style="color:white;"><i class="fa fa-user"></i>&nbsp;&nbsp;{{role}}</h5>
    <ul class="nav">

        <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
            <a class="nav-link" routerLink="/freelancer/dashboard" routerLinkActive #dashboard="routerLinkActive">
                <i class="ti-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        
        <li class="nav-item" [ngClass]="{'active': profile.isActive}">
            <a class="nav-link" routerLink="/freelancer/add-profile" routerLinkActive #profile="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">Complete Registration</span>
            </a>
        </li>
        <!-- <li class="nav-item" [ngClass]="{'active': widgets.isActive}">
            <a class="nav-link" routerLink="/widgets" routerLinkActive #widgets="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">My Registration Status</span>
            </a>
        </li> -->
        <li class="nav-item" [ngClass]="{'active': myInterviews.isActive}">
            <a class="nav-link" routerLink="/freelancer/my-interviews" routerLinkActive
                #myInterviews="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">My Interviews</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': myDocumentApproval.isActive}">
            <a class="nav-link" routerLink="/freelancer/my-document-approval" routerLinkActive
                #myDocumentApproval="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">Registration Status</span>
            </a>
        </li>
        <!--  <li class="nav-item" [ngClass]="{'active': widgets.isActive}">
            <a class="nav-link" routerLink="/widgets" routerLinkActive #widgets="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">Search for Interviewers</span>
            </a>
        </li>
         <li class="nav-item" [ngClass]="{'active': widgets.isActive}">
            <a class="nav-link" routerLink="/widgets" routerLinkActive #widgets="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">My Interview Results</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': widgets.isActive}">
            <a class="nav-link" routerLink="/widgets" routerLinkActive #widgets="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">My Refunds</span>
            </a>
        </li> -->
        <li class="nav-item" [ngClass]="{'active': myPayments.isActive}">
            <a class="nav-link" routerLink="/freelancer/my-payments" routerLinkActive #myPayments="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">My Payments</span>
            </a>
        </li>
        <!-- <li class="nav-item" [ngClass]="{'active': widgets.isActive}">
            <a class="nav-link" routerLink="/widgets" routerLinkActive #widgets="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">View/Update Profile</span>
            </a>
        </li> -->

        <li class="nav-item" [ngClass]="{'active': calenderEntry.isActive}">
            <a class="nav-link" routerLink="/freelancer/entry-calender" routerLinkActive
                #calenderEntry="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">Set WorkDays/WorkHours</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': myCalendar.isActive}">
            <a class="nav-link" routerLink="/freelancer/my-calendar" routerLinkActive #myCalendar="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">My Calendar</span>
            </a>
        </li>
        <!-- <li class="nav-item" [ngClass]="{'active': startMeeting.isActive}">
            <a class="nav-link" routerLink="/freelancer/start-meeting" routerLinkActive
                #startMeeting="routerLinkActive">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">Start Meeting</span>
            </a>
        </li> -->

    </ul>
</nav>