<!-- <div class="container-scroller">
  <app-navbar *ngIf="showNavbar"></app-navbar>
  <div class="container-fluid page-body-wrapper">
    <app-settings-panel *ngIf="showSettings"></app-settings-panel>
    <app-sidebar *ngIf="showSidebar"></app-sidebar>
    <div class="main-panel" [ngClass]="{ 'main-panel-only' : !showSidebar }">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
      <app-footer *ngIf="showFooter"></app-footer>
    </div>
  </div>
</div> -->
<!-- <div >
  
  </div> -->
  <router-outlet></router-outlet>
