<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header">
                <div class="card-title"><b>My Calendar (Please choose Available Slots from Work Hours (White Background)) </b><button class="btn btn-sm btn-dark float-right" (click)="back()">Back</button></div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ejs-schedule #scheduleObj [eventSettings]="eventData" [readonly]="true" [workDays]="workDay"
                            [workHours]="scheduleHours" [currentView]="newViewMode" [views]="scheduleViews"
                            (actionBegin)="onActionBegin($event)" (navigating)="onNavigating($event)"
                            height="500px" width="90%" startHour='06:00' endHour='21:00'>
                            
                        </ejs-schedule>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>