<div class="col-lg-12">
    <div class="search-item bg-white mt-3 mb-4 border rounded">
        <div class="pg-head df aic jcb py-2 pl-3 pr-2 bg-light rounded sticky-top">
            <h5 class="mb-0">Dashboard</h5>
        </div>
        <div class="px-3">
            <div class="d-flex align-items-center justify-content-between border-bottom">
               
            </div>
        </div>
        <div class="no-data" *ngIf="dataLength">
            <h4 class="error-heading"> Oops!</h4>
            <div> No Data Found</div>
        </div>
    </div>
</div>