<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="dashboard-title mb-4">Add Skill to a Competency</h4>
                <form class="pt-3" [formGroup]="skillForm" (ngSubmit)="createSkill()">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="competency">Competency Name</label>
                                <div class="input-group">
                                    <div class="ng-autocomplete">
                                        <!-- <ng-autocomplete id="competency"
                                            placeHolder="Search Competency" formControlName="competency"
                                            [data]="competencyList" 
                                            [searchKeyword]="keyword"
                                            (selected)='selectCompetencyEvent($event, j)'
                                            (inputChanged)='onCompetencyChangeSearch($event)'
                                            (inputFocused)='onCompetencyFocused($event)'
                                            [itemTemplate]="competencyTemplate"
                                            [notFoundTemplate]="notFoundCompetencyTemplate" minQueryLength="3"
                                            [debounceTime]="100"
                                            [ngClass]="{ 'is-invalid': sfsubmitted && sf.competency.errors }">
                                        </ng-autocomplete>
                                         -->

                                        <ng-autocomplete id="competency" placeHolder="Search Competency"
                                            formControlName="competency" [data]="competencyList"
                                            [searchKeyword]="keyword" (selected)='selectCompetencyEvent($event)'
                                            (inputChanged)='onCompetencyChangeSearch($event)'
                                            (inputFocused)='onCompetencyFocused($event)'
                                            [itemTemplate]="competencyTemplate"
                                            [notFoundTemplate]="notFoundCompetencyTemplate" minQueryLength="3"
                                            [debounceTime]="100"
                                            [ngClass]="{ 'is-invalid': sfsubmitted && sf.competency.errors }">
                                        </ng-autocomplete>

                                        <ng-template #competencyTemplate let-item>
                                            <a [innerHTML]="item.competencyname"></a>
                                        </ng-template>

                                        <ng-template #notFoundCompetencyTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>

                                        <div *ngIf="sfsubmitted && sf.competency.errors" class="invalid-feedback">
                                            <div *ngIf="sf.competency.errors.required">
                                                Required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="skillname">Skill Name</label>
                                <input id="skillname" formControlName="skillname" class="form-control" type="text"
                                    placeholder="Skill Name"
                                    [ngClass]="{ 'is-invalid': sfsubmitted && sf.skillname.errors }" />
                                <div *ngIf="sfsubmitted && sf.skillname.errors" class="invalid-feedback">
                                    <div *ngIf="sf.skillname.errors.required">
                                        Required</div>
                                </div>


                            </div>
                        </div>
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label for="skilldescription">Skill Descreption</label>
                                <textarea id="skilldescription" formControlName="skilldescription" class="form-control"
                                    rows="4" placeholder="Skill Description"
                                    [ngClass]="{ 'is-invalid': sfsubmitted && sf.skilldescription.errors }"></textarea>
                                <div *ngIf="sfsubmitted && sf.skilldescription.errors" class="invalid-feedback">
                                    <div *ngIf="sf.skilldescription.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group mt-2">
                                <label for="skilltype">Skill Type</label>
                                <select id="skilltype" class="form-control" formControlName="skilltype"
                                    [ngClass]="{ 'is-invalid': sfsubmitted && sf.skilltype.errors }">
                                    <option value="Technical">Technical</option>
                                    <option value="Management">Management</option>
                                    <option value="Functional">Functional</option>
                                </select>
                                <div *ngIf="sfsubmitted && sf.skilltype.errors" class="invalid-feedback">
                                    <div *ngIf="sf.skilltype.errors.required">
                                        Required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>