<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
            <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive #dashboard="routerLinkActive">
                <i class="ti-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': approval.isActive}">
            <a class="nav-link" routerLink="/admin/approval" routerLinkActive #approval="routerLinkActive">
                <i class="ti-check-box menu-icon"></i>
                <span class="menu-title">Approval</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': freelancerPayments.isActive}">
            <a class="nav-link" routerLink="/admin/freelancer-payments" routerLinkActive
                #freelancerPayments="routerLinkActive">
                <i class="ti-check-box menu-icon"></i>
                <span class="menu-title">Freelancer Payments</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': addCompetency.isActive}">
            <a class="nav-link" routerLink="/admin/addCompetency" routerLinkActive #addCompetency="routerLinkActive">
                <i class="ti-check-box menu-icon"></i>
                <span class="menu-title">Add Competency</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': addSkill.isActive}">
            <a class="nav-link" routerLink="/admin/addSkill" routerLinkActive #addSkill="routerLinkActive">
                <i class="ti-check-box menu-icon"></i>
                <span class="menu-title">Add Skill</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': addJobrole.isActive}">
            <a class="nav-link" routerLink="/admin/addJobrole" routerLinkActive #addJobrole="routerLinkActive">
                <i class="ti-check-box menu-icon"></i>
                <span class="menu-title">Add Job Role</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': addCountry.isActive}">
            <a class="nav-link" routerLink="/admin/addCountry" routerLinkActive #addCountry="routerLinkActive">
                <i class="ti-check-box menu-icon"></i>
                <span class="menu-title">Add Country</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': addState.isActive}">
            <a class="nav-link" routerLink="/admin/addState" routerLinkActive #addState="routerLinkActive">
                <i class="ti-check-box menu-icon"></i>
                <span class="menu-title">Add State</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': addDistrict.isActive}">
            <a class="nav-link" routerLink="/admin/addDistrict" routerLinkActive #addDistrict="routerLinkActive">
                <i class="ti-check-box menu-icon"></i>
                <span class="menu-title">Add District</span>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': addCity.isActive}">
            <a class="nav-link" routerLink="/admin/addCity" routerLinkActive #addCity="routerLinkActive">
                <i class="ti-check-box menu-icon"></i>
                <span class="menu-title">Add City</span>
            </a>
        </li>
    </ul>
</nav>