<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    My Interview Result Details
                    <a routerLink="/jobseeker/my-interview-result"
                        class="btn  btn-sm btn-outline-dark btn-icon-text float-right" type="button">
                        <i class="fa fa-arrow-left"></i>
                        Back
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <table class="table table-borderless">
                            <tr>
                                <th>Interview Schedule Id</th>
                                <td>{{interviewsummaryresult.scheduleid}}</td>
                            </tr>
                            <tr>
                                <th>Target Job</th>
                                <td>{{interviewsummaryresult.targetjob}}</td>
                            </tr>
                            <tr>
                                <th>Interviewer Id</th>
                                <td>{{interviewsummaryresult.interviewerid}}</td>
                            </tr>
                            <!-- <tr>
                                <th>Competency</th>
                                <td>Oracle DBA</td>
                            </tr> -->

                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table>
                            <tr>
                                <td><a href="#">MY VIDEO RECORDINGS</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <thead>
                                <tr class="table-dark">
                                    <th>Competency</th>
                                    <th>Skill</th>
                                    <th>Weighted Score</th>
                                    <th>Strengths & weaknesses</th>
                                    <th>Improvement Guidance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dl of interviewResultDetails">
                                    <td>{{dl.competencyname}}</td>
                                    <td>{{dl.skillname}}</td>
                                    <td>{{dl.weightedscore}}</td>
                                    <td>{{dl.strengthweakness}}</td>
                                    <td>{{dl.improvementguidance}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>