<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3">
  <div class="container">
    <a class="navbar-brand" href="#">
      <svg width="116px" height="22px">
        <text kerning="auto" font-family="Myriad Pro" fill="rgb(0, 0, 0)" font-size="30px" x="0px" y="22px">
          <tspan font-size="30px" font-family="CNN" fill="#F77049">Vikoona</tspan>
        </text>
      </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form [formGroup]="navSearch" class="form-inline my-2 my-lg-0">
        <select [ngClass]="{ 'is-invalid': submitted && s.org_type.errors }" formControlName="org_type" name=""
            id="" class="form-control border-0">
            <!-- <option value="Jobseeker">Jobseeker</option> -->
            <option value="Freelancer">Freelancer</option>
            <!-- <option value="Employer">Employer</option> -->
        </select>
        <input [ngClass]="{ 'is-invalid': submitted && s.search_keyword.errors }"
            formControlName="search_keyword" (keyup.enter)="search_by_keyword()" class="form-control"
            type="search" placeholder="Search" aria-label="Search">
    </form>

      <ul class="navbar-nav auth-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg height="24" viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M439.39 362.29c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71zM67.53 368c21.22-27.97 44.42-74.33 44.53-159.42 0-.2-.06-.38-.06-.58 0-61.86 50.14-112 112-112s112 50.14 112 112c0 .2-.06.38-.06.58.11 85.1 23.31 131.46 44.53 159.42H67.53zM224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64z">
              </path>
            </svg>
          </a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link py-0 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
            <img src="assets/image/banner3.jpg " class="rounded-pill " style="width: 35px; height: 35px; " alt=" ">
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" ngbDropdownMenu>
            <a class="dropdown-item" style="border-bottom: 1px solid lightgrey;">
              &nbsp;&nbsp;
              <p>
                {{username}}<br>
                <!-- <small>{{mobile}}</small><br> -->
                <small>{{role}}</small>
              </p>
            </a>
            <a class="dropdown-item" routerLink="/jobseeker/profile/review">
              <i class="ti-settings text-primary"></i>
              My Profile
            </a>
            <a class="dropdown-item" routerLink="/jobseeker/update-pwd">
              <i class="ti-lock text-primary"></i>
              Update Password
            </a>
            <a class="dropdown-item" (click)="Logout()">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>