<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    My Interview Details
                    <a routerLink="/jobseeker/interview-schedules"
                        class="btn  btn-sm btn-outline-dark btn-icon-text float-right" type="button">
                        <i class="fa fa-arrow-left"></i>
                        Back
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <table class="table table-borderless">
                            <tr>
                                <th>Ineterview Id</th>
                                <td>{{interviewDetails?.interviewid}}</td>
                            </tr>
                            <tr>
                                <th>Interview Type</th>
                                <td>Freelancer Interview</td>
                            </tr>
                            <tr>
                                <th>Interviewer Name</th>
                                <td>{{interviewDetails?.freelancerid}}</td>
                            </tr>
                            <tr>
                                <th>Organization Interviewing</th>
                                <td>XXXXXXXXXX</td>
                            </tr>
                            <tr>
                                <th>Interview Room Id</th>
                                <td>{{interviewDetails?.interviewid}}</td>
                            </tr>
                            <!-- <tr>
                                <th>Payment</th>
                                <td class="table-dark">Make Payment (Rs xxxx.xx)</td>
                            </tr> -->
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table-borderless">
                            <tr>
                                <th>Requested Interview Date & Time </th>
                                <td>{{interviewDetails?.createdatetm | date:'d/M/yyyy, h:mm a'}}</td>
                            </tr>
                            <tr>
                                <th>Actual Interview Date & Time</th>
                                <td>{{interviewDetails?.endtime | date:'d/M/yyyy, h:mm a'}}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>{{interviewDetails?.status}}</td>
                            </tr>
                            <tr>
                                <th>Reason for Not Accepting <br>Interview Request (Freelancer)</th>
                                <td>------</td>
                            </tr>

                        </table>
                    </div>
                    <div class="col-sm-12">
                        <button [disabled]="interviewDetails?.status != 'Interview Request Confirmed'"
                            (click)="join_meeting()" class="btn btn-info float-right" type="button">
                            JOIN MEETING
                        </button>
                    </div>
                </div>
                <br>
                <div class="row" *ngIf="videoRecording.length > 0">
                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <tr>
                                <th>jobseeker Id</th>
                                <th>InterviewId</th>
                                <th>Recordings</th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                            <tr *ngFor="let record of videoRecording">
                                <td>{{record.jobseekerid}}</td>
                                <td>{{record.interviewid}}</td>
                                <td>{{record.recordingurl}}</td>
                                <td style="text-align: center;"><button class="btn btn-sm"
                                        (click)="play(record.recordingurl)"><i style="font-size: 30px;"
                                            class="fa fa-play"></i></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br>
                <!-- <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <thead>
                                <tr class="table-dark">
                                    <th>S no.</th>
                                    <th>Status</th>
                                    <th>Message Text</th>
                                    <th>Updated On</th>
                                    <th>Updated By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Sent Interview Request to Candidate</td>
                                    <td>Your Skills Match our Job Requirements, Requesting your availability for Interview.</td>
                                    <td>12/01/2020 13:13:00</td>
                                    <td>Interviewer</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Interview Confirmed</td>
                                    <td>I am Available for Interview, Confirming my Presence.</td>
                                    <td>20/01/2020 15:13:00</td>
                                    <td>Candidate</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> -->
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-4">

                    </div>
                    <!-- <div class="col-sm-4">
                        <button class="btn btn-block btn-danger" type="button">
                            Reject
                        </button>
                    </div> -->
                    <!-- <div class="col-sm-4">
                        <button class="btn  btn-block btn-primary" type="button">
                            Confirm Interview Request
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn  btn-block btn-info" type="button">
                            Request For Reschedule
                        </button>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</div>