<div class="mks-bnr d-flex align-items-center">
    <!-- slider -->
    <div id="bootSlider" class="carousel slide mt-3 w-100" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
            <li data-target="#bootSlider" data-slide-to="0" class="active"></li>
            <li data-target="#bootSlider" data-slide-to="1"></li>
            <li data-target="#bootSlider" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="d-flex w-100 align-items-center py-4 justify-content-between">
                        <div class="bnr-text">
                            <h1 class="fwsm">Hire the Best. <span>No Bias. No Stress.</span></h1>
                            <button type="button" class="fwsm cta-btn mt-4">TRY FOR FREE</button>
                        </div>
                        <div class="bnr-img">
                            <img src="./assets/image/svg/undraw_interview_rmcf.svg" width="500" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="d-flex w-100 align-items-center py-4 justify-content-between">
                        <div class="bnr-text">
                            <h1 class="fwsm">Hire the Best. <span>No Bias. No Stress.</span></h1>
                            <button type="button" class="fwsm cta-btn mt-4">TRY FOR FREE</button>
                        </div>
                        <div class="bnr-img">
                            <img src="./assets/image/svg/undraw_working_remotely_jh40.svg" width="500" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#bootSlider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#bootSlider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- \slider -->

</div>
<div class="eto py-5">
    <div class="cmn-head fwsm text-center mb-5 pb-5">
        Explore The Oppotunity
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="eto-card">
                    <span>
                        <svg viewBox="0 0 640 512" height="45">
                            <path fill="#51cdfb"
                                d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z"
                                class=""></path>
                        </svg>
                    </span>
                    <div class="text fwm mt-3">
                        Led By a Team of <br>Industry Veterans
                    </div>
                    <div class="mt-n2">
                        <svg width="22px" height="5px">
                            <path fill="#51cdfb"
                                d="M-0.000,-0.000 L22.000,-0.000 L22.000,5.000 L-0.000,5.000 L-0.000,-0.000 Z" />
                        </svg>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="eto-card">
                    <span>
                        <svg viewBox="0 0 512 512" height="45">
                            <path fill="#ff7170"
                                d="M272,240a16,16,0,1,0,16,16A16,16,0,0,0,272,240Zm-64-64a16,16,0,1,0,16,16A16,16,0,0,0,208,176Zm301.2,99c-20.93-47.12-48.43-151.73-73.07-186.75A207.9,207.9,0,0,0,266.09,0H192C86,0,0,86,0,192A191.23,191.23,0,0,0,64,334.81V512H320V448h64a64,64,0,0,0,64-64V320H480A32,32,0,0,0,509.2,275ZM368,240H355.88c-28.51,0-42.79,34.47-22.63,54.63l8.58,8.57a16,16,0,1,1-22.63,22.63l-8.57-8.58C290.47,297.09,256,311.37,256,339.88V352a16,16,0,0,1-32,0V339.88c0-28.51-34.47-42.79-54.63-22.63l-8.57,8.58a16,16,0,0,1-22.63-22.63l8.58-8.57c20.16-20.16,5.88-54.63-22.63-54.63H112a16,16,0,0,1,0-32h12.12c28.51,0,42.79-34.47,22.63-54.63l-8.58-8.57a16,16,0,0,1,22.63-22.63l8.57,8.58c20.16,20.16,54.63,5.88,54.63-22.63V96a16,16,0,0,1,32,0v12.12c0,28.51,34.47,42.79,54.63,22.63l8.57-8.58a16,16,0,0,1,22.63,22.63l-8.58,8.57C313.09,173.53,327.37,208,355.88,208H368a16,16,0,0,1,0,32Z"
                                class=""></path>
                        </svg>
                    </span>
                    <div class="text fwm mt-3">
                        Leverages Artificial
                        <br>Intelligence
                    </div>
                    <div class="mt-n2">
                        <svg width="22px" height="5px">
                            <path fill="#ff7170"
                                d="M-0.000,-0.000 L22.000,-0.000 L22.000,5.000 L-0.000,5.000 L-0.000,-0.000 Z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="eto-card">
                    <span>
                        <svg viewBox="0 0 640 512" height="45">
                            <path fill="#2bed93"
                                d="M496 224c-79.6 0-144 64.4-144 144s64.4 144 144 144 144-64.4 144-144-64.4-144-144-144zm64 150.3c0 5.3-4.4 9.7-9.7 9.7h-60.6c-5.3 0-9.7-4.4-9.7-9.7v-76.6c0-5.3 4.4-9.7 9.7-9.7h12.6c5.3 0 9.7 4.4 9.7 9.7V352h38.3c5.3 0 9.7 4.4 9.7 9.7v12.6zM320 368c0-27.8 6.7-54.1 18.2-77.5-8-1.5-16.2-2.5-24.6-2.5h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h347.1c-45.3-31.9-75.1-84.5-75.1-144zm-96-112c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128z"
                                class=""></path>
                        </svg>
                    </span>
                    <div class="text fwm mt-3">
                        Improved Hiring Time For
                        <br>Organizations
                    </div>
                    <div class="mt-n2">
                        <svg width="22px" height="5px">
                            <path fill="#2bed93"
                                d="M-0.000,-0.000 L22.000,-0.000 L22.000,5.000 L-0.000,5.000 L-0.000,-0.000 Z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="eto-card">
                    <span>
                        <svg viewBox="0 0 448 512" height="45">
                            <path fill="#ffab47"
                                d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm95.8 32.6L272 480l-32-136 32-56h-96l32 56-32 136-47.8-191.4C56.9 292 0 350.3 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z"
                                class=""></path>
                        </svg>
                    </span>
                    <div class="text fwm mt-3">
                        Improved Confidence to
                        <br>Face Interviews
                    </div>
                    <div class="mt-n2">
                        <svg width="22px" height="5px">
                            <path fill="#ffab47"
                                d="M-0.000,-0.000 L22.000,-0.000 L22.000,5.000 L-0.000,5.000 L-0.000,-0.000 Z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="eto-card">
                    <span>
                        <svg viewBox="0 0 640 512" height="45">
                            <path fill="#a4a7ab"
                                d="M208 352c-2.39 0-4.78.35-7.06 1.09C187.98 357.3 174.35 360 160 360c-14.35 0-27.98-2.7-40.95-6.91-2.28-.74-4.66-1.09-7.05-1.09C49.94 352-.33 402.48 0 464.62.14 490.88 21.73 512 48 512h224c26.27 0 47.86-21.12 48-47.38.33-62.14-49.94-112.62-112-112.62zm-48-32c53.02 0 96-42.98 96-96s-42.98-96-96-96-96 42.98-96 96 42.98 96 96 96zM592 0H208c-26.47 0-48 22.25-48 49.59V96c23.42 0 45.1 6.78 64 17.8V64h352v288h-64v-64H384v64h-76.24c19.1 16.69 33.12 38.73 39.69 64H592c26.47 0 48-22.25 48-49.59V49.59C640 22.25 618.47 0 592 0z"
                                class=""></path>
                        </svg>
                    </span>
                    <div class="text fwm mt-3">
                        Top Leaders to
                        <br>Mentor/Interview You
                    </div>
                    <div class="mt-n2">
                        <svg width="22px" height="5px">
                            <path fill="#a4a7ab"
                                d="M-0.000,-0.000 L22.000,-0.000 L22.000,5.000 L-0.000,5.000 L-0.000,-0.000 Z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="eto-card">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="hiw mks-tabs py-5">
    <div class="cmn-head fwsm text-center mb-5">
        How it Works
    </div>
    <div class="container">
        <!-- tabs-->
        <ul class="nav nav-tabs justify-content-center border-0" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="jobseeker-tab" data-toggle="tab" href="#jobseeker" role="tab"
                    aria-controls="jobseeker" aria-selected="true">Jobseeker</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="interviewer-tab" data-toggle="tab" href="#interviewer" role="tab"
                    aria-controls="interviewer" aria-selected="false">Interviewer</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="employer-tab" data-toggle="tab" href="#employer" role="tab"
                    aria-controls="employer" aria-selected="false">Employer</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane py-3 fade show active" id="jobseeker" role="tabpanel" aria-labelledby="jobseeker-tab">
                <div class="hiw-steps d-flex justify-content-around">
                    <span>Create Profile</span>
                    <span>Make Profile
                        Public</span>
                    <span>Choose
                        Interviewer</span>
                    <span>Tack Mock
                        Interview</span>
                    <span>Update
                        Profile</span>
                    <span>Get Faster
                        Offers</span>

                </div>
                <div class="hiw-benefits mt-5 p-5">
                    <div class="row">
                        <div class="col-lg-6 hiw-graphic text-right">
                            <img class="mr-4" src="./assets/image/svg/undraw_Resume_re_hkth.svg" height="212" alt="">
                        </div>
                        <div class="col-lg-6 hiw-points fwm">
                            <div class="hiw-points-head fwsm mb-4">Benefits</div>
                            <ul>
                                <li>Interview with Top Experts</li>
                                <li>Feedback & Oppotunities to Improve</li>
                                <li>Free Coding Exercise</li>
                                <li>Video Mock Interviews</li>
                                <li>Free Resume Builder Powered By AI</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane py-3 fade" id="interviewer" role="tabpanel" aria-labelledby="interviewer-tab">
                <div class="hiw-steps d-flex justify-content-around">
                    <span>Create Profile</span>
                    <span>Agree on Rate</span>
                    <span>Receive Interview / Request</span>
                    <span>Conduct Mock</span>
                    <span>Give Detailed Feedback</span>
                    <span>Get Paid</span>

                </div>
                <div class="hiw-benefits mt-5 p-5">
                    <div class="row">
                        <div class="col-lg-6 hiw-graphic text-right">
                            <img class="mr-4" src="./assets/image/svg/undraw_working_remotely_jh40.svg" height="150"
                                alt="">
                        </div>
                        <div class="col-lg-6 hiw-points fwm">
                            <div class="hiw-points-head fwsm mb-4">Benefits</div>
                            <ul>
                                <li>Alternative Career</li>
                                <li>Side Income</li>
                                <li>Satisfaction Derived by Mentoring Yound Talent</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane py-3 fade" id="employer" role="tabpanel" aria-labelledby="employer-tab">
                <div class="hiw-steps d-flex justify-content-around">
                    <span>Create Profile</span>
                    <span>Post Job</span>
                    <span>Search Jobseekers</span>
                    <span>Recruit Faster</span>
                    <span>Background Check</span>

                </div>
                <div class="hiw-benefits mt-5 p-5">
                    <div class="row">
                        <div class="col-lg-6 hiw-graphic text-right">
                            <img class="mr-4" src="./assets/image/svg/undraw_feeling_proud_qne1.svg" height="212"
                                alt="">
                        </div>
                        <div class="col-lg-6 hiw-points fwm">
                            <div class="hiw-points-head fwsm mb-4">Benefits</div>
                            <ul>
                                <li>Reduced Time to Screen Candidates</li>
                                <li>Reduced Time for Offer Rollouts</li>
                                <li>Reduced Time for Background Checks</li>
                                <li>Candidates for Hire on marketplace</li>
                                <li>Better Decision Making with More Information about Candidates Skills</li>
                                <li>Reduction in Interview Time</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="join-us mt-5 d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="h2 mb-3">
                    Convinced? Join our community of thousands of people free!
                </div>
                <small class="h6">A better career is out there. We'll help you find it. We're your first step to
                    becoming everything you want to be.</small>
            </div>
            <div class="col-lg-5 text-center">
                <button class="btn cta-btn fwsm light">
                    JOIN US FOR FREE
                </button>
            </div>
        </div>
    </div>
</div>

<footer class="ba-footer py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5">
                <div class="bf-logo h2">
                    <svg width="116px" height="22px">
                        <text kerning="auto" font-family="Myriad Pro" fill="rgb(0, 0, 0)" font-size="30px" x="0px" y="22px">
                            <tspan font-size="30px" font-family="CNN" fill="#F77049">Vikoona</tspan>
                        </text>
                    </svg>
    
                </div>
                <p class="mt-3 mb-5 bf-desc ">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
                    out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th
                    century who is thought to have scrambled parts of Cicero's
                    De Finibus Bonorum et Malorum for use in a type specimen book.
                </p>
                <!-- ba subscription -->
                <div class="ba-subscription d-flex align-items-center justify-content-between">
                    <div class="pr-4 text-nowrap">Join Us</div>
                    <div class="flex-fill">
                        <input type="text" class="form-control rounded-0" placeholder="your email address">
                        <span class="bs-submit-icon">
                            <svg viewBox="0 0 448 512">
                                <path fill="currentColor"
                                    d="M311.03 131.515l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887l-83.928 83.444c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l116.485-116c4.686-4.686 4.686-12.284 0-16.971L328 131.515c-4.686-4.687-12.284-4.687-16.97 0z"
                                    class="">
                                </path>
                            </svg>
                        </span>
                    </div>
                </div>
                <!-- \ ba subscription end-->
            </div>
            <div class="col-lg-4 offset-lg-3 my-4 my-lg-0">
                <div class="bf-links">
                    <a href="">FAQ</a>
                    <a href="">Blogs</a>
                    <a href="">Help</a>
                    <a href="">Logbook</a>
                    <a href="">About</a>
                    <a href="">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="bf-si pb-4 text-lg-right">
            <a href="" class="ig">
                <svg viewBox="0 0 448 512">
                    <path fill="currentColor"
                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                    </path>
                </svg>
            </a>
            <a href="" class="fb">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-square" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                    class="svg-inline--fa fa-facebook-square fa-w-14">
                    <path fill="currentColor"
                        d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"
                        class="">
                    </path>
                </svg>
            </a>
            <a href="" class="tw">
                <svg viewBox="0 0 512 512">
                    <path fill="currentColor"
                        d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                        class="">
                    </path>
                </svg>
            </a>
        </div>
    </div>
</footer>