.cta-btn{
    padding: 0.5rem 1.5rem !important;
}

.nav-tabs .nav-link{
    background: #ffffff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-color:#ffffff #ffffff #fff;
}
.mks-tabs .nav-tabs .nav-link.active {
    color: rgb(247, 112, 73);
    border-bottom-color: rgb(247, 112, 73);
}

.tab-content{
    border: none !important;
}