<!-- <div class="row">

  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Interview Id - {{interviewid}}</div>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-sm-9">
            <div class="remote-containers">
              <div class="remote_calls" *ngFor="let remote of remoteCalls;" [id]="remote">
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="agora_local"></div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-12">
            <button *ngIf="user_role == 'freelancer' && show_start_meeting" class="btn btn-primary"
              (click)="startCall()">Start
              Meeting</button>&nbsp;&nbsp;
            <button [disabled]="disable_end_meeting" *ngIf="user_role == 'freelancer' && !show_start_meeting"
              (click)="leave()" class="btn btn-info">End Meeting</button>&nbsp;&nbsp;
            <button *ngIf="user_role == 'jobseeker' && show_start_meeting" class="btn btn-primary"
              (click)="startCall()">Join Meeting</button>&nbsp;&nbsp;
            <button [disabled]="disable_end_meeting" *ngIf="user_role == 'jobseeker' && !show_start_meeting"
              (click)="leave()" class="btn btn-info">Rate Interview & Closse</button>
            &nbsp;&nbsp;
            <button *ngIf="user_role == 'freelancer' && show_start_recording" class="btn btn-success"
              (click)="startRecording()">Start
              Recording</button>
            &nbsp;&nbsp;
            <button *ngIf="user_role == 'freelancer' && show_end_recording" class="btn btn-danger"
              (click)="endRecord()">End
              Recording</button>
            &nbsp;&nbsp;
            <button *ngIf="show_shart_sharing && user_role == 'freelancer'" class="btn btn-danger" (click)="startSharing()">Share Screen</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> -->
<section id="int-screen" class="int-screen mb-1 jobseeker">
  <!-- <a type="zoom" (click)="openCodePanel()" class="float-right"><i class="fa fa-search zoom"></i></a> -->
  <div class="row mx-0 h-100">
    <div class="col-12 h-100">
      <div class="mks-tabs style1 mb-3">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="video-tab" title="Video" data-toggle="tab" href="#video" role="tab"
              aria-controls="video" aria-selected="true"><i class="fas fa-video"></i>
              Video</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" (click)="getSignUrl()" id="resume-tab" title="Resume" data-toggle="tab" href="#resume"
              role="tab" aria-controls="resume" aria-selected="false"><i class="fas fa-file"></i>
              Resume</a>
          </li>

          <li class="nav-item" role="presentation">
            <a class="nav-link" id="coder-tab" (click)="loadScript()" title="Code Panel" data-toggle="tab"
              href="#coder" role="tab" aria-controls="coder" aria-selected="false"><i class="fas fa-code"></i>
              Code Panel</a>
          </li>

          <li class="nav-item" role="presentation">
            <a class="nav-link" id="text-tab" title="Text Panel" data-toggle="tab" href="#textpanel" role="tab"
              aria-controls="textpanel" aria-selected="false"><i class="fas fa-text"></i>
              Text Panel</a>
          </li>

        </ul>
        <div class="tab-content" id="myTabContent">
          <div #videosreen class="tab-pane fade show active  bg-light border" id="video" role="tabpanel" aria-labelledby="video-tab">
            <div class="row">
              <div class="col-9">
                <div class="remote-containers df aic justify-content-center">
                  <div>
                    <div style="height: 360px;" class="remote_calls border" *ngFor="let remote of remoteCalls;"
                      [id]="remote">
                    </div>
                    <h2 class="text-center mt-3" *ngIf="show_start_meeting">
                      Welcome to
                      Vikoona
                      Interview Session
                    </h2>
                    <div class="mt-5" *ngIf="show_start_meeting">
                      <table class="table table-bordered">
                        <tr>
                          <td>Interview Id</td>
                          <td>{{interviewid}}</td>
                        </tr>
                        <tr>
                          <td>Candidate Name</td>
                          <td>{{jobseekername}}</td>
                        </tr>
                        <tr>
                          <td>Interview Schedule</td>
                          <td>{{interviewstarttime | date:'dd-MMM-yyyy, HH:mm'}}- {{interviewendtime | date:'HH:mm a'}}
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="text-center mt-5" *ngIf="show_start_meeting">
                      <button (click)="back()" *ngIf="show_start_meeting" class="btn btn-outline-dark">Back</button>
                      <button class="btn btn-outline-primary" (click)="startCall()"><i class="fas fa-video"></i> Enter
                        Interview
                        Room</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3 mt-3">
                <div class="card mb-3 px-2 bg-dark text-white">
                  <h6 class="py-2 mb-0">You</h6>
                  <div id="agora_local" class="jobseeker-vid position-relative mb-2">
                    <!-- <img src="assets/images/freelancer.jpg" class="w-100 h-100" alt="">
                    <button type="button" class="btn pos-bl icn text-white active rounded-pill" title="Mute" disabled>
                      <i class="fas fa-microphone-slash"></i>
                    </button> -->
                  </div>
                </div>
                <!-- <div class="card mb-3 px-2 bg-dark text-white">
                  <h6 class="py-2 mb-0">You</h6>
                  <div class="interviewer-vid position-relative mb-2">
                    <img src="assets/images/jobseeker.jpg" class="w-100 h-100" alt="">
                    <button type="button" class="btn pos-bl icn text-white active rounded-pill" title="Mute" disabled>
                      <i class="fas fa-microphone"></i>
                    </button>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="int-screen-ftr row align-items-center justify-content-between pt-2 text-center">
              <!-- <div class="col-sm-3 text-left timer">
                Duration - <time><b>10:00</b> Min.</time>
              </div> -->
              <div class="col-sm-6 toolbar d-flex justify-content-center align-items-center">
                <!-- <div class="px-2">
                  <button type="button" class="btn active icn rounded-pill">
                    <i class="fas fa-video-slash"></i>
                  </button>
                  <div><small>Mute Video</small></div>
                </div> -->
                <!-- <div class="px-2">
                  <button type="button" class="btn icn active rounded-pill" title="Mute">
                    <i class="fas fa-microphone-slash"></i>
                  </button>
                  <div><small>Mute Audio</small></div>
                </div> -->
                <div class="px-2">
                  <button (click)="startRecording()"
                    type="button" class="btn icn rounded-pill active" title="Start Recording">
                    <i class="fas fa-circle"></i>
                  </button>
                  <div><small>Start Recording</small></div>
                </div>
                <div class="px-2">
                  <button (click)="endRecord()" type="button"
                    class="btn icn rounded-pill" title="End Recording">
                    <i class="fas fa-circle"></i>
                  </button>
                  <div><small>End Recording</small></div>
                </div>
                <div class="px-2">
                  <button (click)="startSharing()" type="button"
                    class="btn icn rounded-pill active" title="Share Screen">
                    <i class="fas fa-object-ungroup"></i>
                  </button>
                  <div><small>Share Screen</small></div>
                </div>
              </div>
              <div class="col-sm-3 text-right m-2">
                <button (click)="leave()" class="btn btn-outline-danger"><b>Exit
                    Interview
                    Room</b></button>
              </div>
            </div>
          </div>
          <div #resume class="tab-pane fade" id="resume" role="tabpanel" aria-labelledby="resume-tab">
            <embed #pdf [src]="" />
          </div>
          <div #sitecontent class="tab-pane fade  border" id="coder" role="tabpanel"
            aria-labelledby="coder-tab">
            <div id="site-navigation" class="ui small inverted menu">
              <div class="left menu">
                <div class="ui dropdown item site-links on-hover">
                  File <i class="dropdown icon"></i>
                  <div class="menu">
                    <!-- <a class="item" target="_blank" href="/"><i class="file code icon"></i> New File</a> -->
                    <div class="item" onclick="downloadSource()"><i class="download icon"></i> Download</div>
                    <!-- <div id="insert-template-btn" class="item"><i class="file code outline icon"></i> Insert
                      template
                      for current language</div> -->
                  </div>
                </div>
                <!-- <div class="link item" onclick="$('#site-settings').modal('show')"><i class="cog icon"></i> Settings
                </div> -->
                <div class="item borderless">
                  <select id="select-language" class="ui dropdown">
                    <option value="45" mode="UNKNOWN">Assembly (NASM 2.14.02)</option>
                    <!-- Unknown mode. Help needed. -->
                    <option value="46" mode="shell">Bash (5.0.0)</option>
                    <option value="47" mode="UNKNOWN">Basic (FBC 1.07.1)</option>
                    <!-- Unknown mode. Help needed. -->
                    <option value="1011" mode="UNKNOWN">Bosque (latest)</option> <!-- Unknown mode. Help needed. -->
                    <option value="75" mode="c">C (Clang 7.0.1)</option>
                    <option value="1013" mode="c">C (Clang 9.0.1)</option>
                    <option value="1001" mode="c">C (Clang 10.0.1)</option>
                    <option value="48" mode="c">C (GCC 7.4.0)</option>
                    <option value="49" mode="c">C (GCC 8.3.0)</option>
                    <option value="50" mode="c">C (GCC 9.2.0)</option>
                    <option value="51" mode="csharp">C# (Mono 6.6.0.161)</option>
                    <option value="1022" mode="csharp">C# (Mono 6.10.0.104)</option>
                    <option value="1021" mode="csharp">C# (.NET Core SDK 3.1.302)</option>
                    <option value="1023" mode="csharp">C# Test (.NET Core SDK 3.1.302, NUnit 3.12.0)</option>
                    <option value="76" mode="cpp">C++ (Clang 7.0.1)</option>
                    <option value="1014" mode="cpp">C++ (Clang 9.0.1)</option>
                    <option value="1002" mode="cpp">C++ (Clang 10.0.1)</option>
                    <option value="52" mode="cpp">C++ (GCC 7.4.0)</option>
                    <option value="53" mode="cpp">C++ (GCC 8.3.0)</option>
                    <option value="54" mode="cpp">C++ (GCC 9.2.0)</option>
                    <option value="1015" mode="cpp">C++ Test (Clang 10.0.1, Google Test 1.8.1)</option>
                    <option value="1012" mode="cpp">C++ Test (GCC 8.4.0, Google Test 1.8.1)</option>
                    <option value="1003" mode="c">C3 (latest)</option> <!-- Replacement mode. Help needed. -->
                    <option value="86" mode="clojure">Clojure (1.10.1)</option>
                    <option value="77" mode="UNKNOWN">COBOL (GnuCOBOL 2.2)</option>
                    <!-- Unknown mode. Help needed. -->
                    <option value="55" mode="UNKNOWN">Common Lisp (SBCL 2.0.0)</option>
                    <!-- Unknown mode. Help needed. -->
                    <option value="56" mode="UNKNOWN">D (DMD 2.089.1)</option> <!-- Unknown mode. Help needed. -->
                    <option value="57" mode="UNKNOWN">Elixir (1.9.4)</option> <!-- Unknown mode. Help needed. -->
                    <option value="58" mode="UNKNOWN">Erlang (OTP 22.2)</option> <!-- Unknown mode. Help needed. -->
                    <option value="44" mode="plaintext">Executable</option>
                    <option value="87" mode="fsharp">F# (.NET Core SDK 3.1.202)</option>
                    <option value="1024" mode="fsharp">F# (.NET Core SDK 3.1.302)</option>
                    <option value="59" mode="UNKNOWN">Fortran (GFortran 9.2.0)</option>
                    <!-- Unknown mode. Help needed. -->
                    <option value="60" mode="go">Go (1.13.5)</option>
                    <option value="88" mode="UNKNOWN">Groovy (3.0.3)</option> <!-- Unknown mode. Help needed. -->
                    <option value="61" mode="UNKNOWN">Haskell (GHC 8.8.1)</option>
                    <!-- Unknown mode. Help needed. -->
                    <option value="62" mode="java">Java (OpenJDK 13.0.1)</option>
                    <option value="1004" mode="java">Java (OpenJDK 14.0.1)</option>
                    <option value="1005" mode="java">Java Test (OpenJDK 14.0.1, JUnit Platform Console Standalone
                      1.6.2)</option>
                    <option value="63" mode="javascript">JavaScript (Node.js 12.14.0)</option>
                    <option value="78" mode="kotlin">Kotlin (1.3.70)</option>
                    <option value="64" mode="lua">Lua (5.3.5)</option>
                    <option value="1006" mode="c">MPI (OpenRTE 3.1.3) with C (GCC 8.3.0)</option>
                    <option value="1007" mode="cpp">MPI (OpenRTE 3.1.3) with C++ (GCC 8.3.0)</option>
                    <option value="1008" mode="python">MPI (OpenRTE 3.1.3) with Python (3.7.3)</option>
                    <option value="1009" mode="python">Nim (stable)</option> <!-- Replacement mode. Help needed. -->
                    <option value="79" mode="objective-c">Objective-C (Clang 7.0.1)</option>
                    <option value="65" mode="UNKNOWN">OCaml (4.09.0)</option> <!-- Unknown mode. Help needed. -->
                    <option value="66" mode="UNKNOWN">Octave (5.1.0)</option> <!-- Unknown mode. Help needed. -->
                    <option value="67" mode="pascal">Pascal (FPC 3.0.4)</option>
                    <option value="85" mode="perl">Perl (5.28.1)</option>
                    <option value="68" mode="php">PHP (7.4.1)</option>
                    <option value="43" mode="plaintext">Plain Text</option>
                    <option value="69" mode="UNKNOWN">Prolog (GNU Prolog 1.4.5)</option>
                    <!-- Unknown mode. Help needed. -->
                    <option value="70" mode="python">Python (2.7.17)</option>
                    <option value="71" mode="python">Python (3.8.1)</option>
                    <option value="1010" mode="python">Python for ML (3.7.3)</option>
                    <option value="80" mode="r">R (4.0.0)</option>
                    <option value="72" mode="ruby">Ruby (2.7.0)</option>
                    <option value="73" mode="rust">Rust (1.40.0)</option>
                    <option value="81" mode="UNKNOWN">Scala (2.13.2)</option> <!-- Unknown mode. Help needed. -->
                    <option value="82" mode="sql">SQL (SQLite 3.27.2)</option>
                    <option value="83" mode="swift">Swift (5.2.3)</option>
                    <option value="74" mode="typescript">TypeScript (3.7.4)</option>
                    <option value="84" mode="vb">Visual Basic.Net (vbnc 0.0.0.5943)</option>
                    <!-- (vbnc 0.0.0.5943) -->
                  </select>
                </div>
                <div class="item fitted borderless wide screen only">
                  <div class="ui input">
                    <input id="compiler-options" type="text" placeholder="Compiler options">
                  </div>
                </div>
                <div class="item borderless wide screen only">
                  <div class="ui input">
                    <input id="command-line-arguments" type="text" placeholder="Command line arguments">
                  </div>
                </div>
                <div class="item no-left-padding borderless">
                  <button id="run-btn" class="ui primary labeled icon button"><i class="play icon"></i>Run
                    (F9)</button>
                </div>
                <div id="navigation-message" class="item borderless">
                  <span class="navigation-message-text"></span>
                </div>
              </div>

            </div>
            <p *ngIf="loading" class="text-center" style="color: rgb(231, 13, 13);margin-top: 20px;">Loading...</p>
            <div style="height: 406px;" id="site-content"></div> 
          </div>
          <div #textpanel class="tab-pane fade" id="textpanel" role="tabpanel" aria-labelledby="text-tab">
            <textarea name="" id="" cols="20" rows="18" class="h-100 w-100 form-control coder"
              placeholder="Start Typing..."></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>