<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="dashboard-title mb-4">Add Country</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <form class="pt-3" [formGroup]="countryForm" (ngSubmit)="createCountry()">
                            <div class="form-group">
                                <label for="countryid">Country ID</label>
                                <input id="countryid" formControlName="countryid" class="form-control" type="text" placeholder="Country ID"
                                    [ngClass]="{ 'is-invalid': cfsubmitted && cf.countryid.errors }" />
                                <div *ngIf="cfsubmitted && cf.countryid.errors" class="invalid-feedback">
                                    <div *ngIf="cf.countryid.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="countrycode">Country Code</label>
                                <input id="countrycode" formControlName="countrycode" class="form-control" type="text" placeholder="Country Code"
                                [ngClass]="{ 'is-invalid': cfsubmitted && cf.countrycode.errors }" />
                                <div *ngIf="cfsubmitted && cf.countrycode.errors" class="invalid-feedback">
                                    <div *ngIf="cf.countrycode.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="countryname">Country Name</label>
                                <input id="countryname" formControlName="countryname" class="form-control" type="text" placeholder="Country Name"
                                    [ngClass]="{ 'is-invalid': cfsubmitted && cf.countryname.errors }" />
                                <div *ngIf="cfsubmitted && cf.countryname.errors" class="invalid-feedback">
                                    <div *ngIf="cf.countryname.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>