<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">My Document Approval Status</div>
            </div>
            <div class="card-body">
                <ngb-tabset #pTabs="ngbTabset">
                    <ngb-tab title="Admin Approval Status" id="adminApprovalStatus">
                        <ng-template ngbTabContent class="tab-pane fade" id="admin-approval-status"
                            aria-labelledby="admin-approval-status-tab">
                            <div class="row">
                                <div class="col-sm-4">Overall Status</div>
                                <div class="col-sm-4">{{basicProfile?.status}}</div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th colspan="4">Education Certificates</th>
                                        </tr>
                                        <tr>
                                            <th>Education Level</th>
                                            <th class="text-center">Certificate</th>
                                            <th>Certificate Approval Status</th>
                                            <th>Rejection Remarks</th>
                                        </tr>
                                        <tr *ngFor="let edu of educationData | async">
                                            <td>{{edu.education_type}}</td>
                                            <td class="text-center"><a (click)="downloadFile(edu.certificate_ur)"><img class="attachment" 
                                                        src="../../../../../assets/images/attachment.png"></a></td>
                                            <td>{{edu.documents_approved}}</td>
                                            <td>{{reject_reason}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th colspan="5">Expereience Certificate</th>
                                        </tr>
                                        <tr>
                                            <th>Organization</th>
                                            <th class="text-center">Experience Certificate</th>
                                            <th class="text-center">Joining Letter</th>
                                            <th>Approval Status</th>
                                            <th>Rejection Remarks</th>
                                        </tr>
                                        <tr *ngFor="let exp of experienceData | async">
                                            <td>{{exp.orgname}}</td>
                                            <td class="text-center"><a (click)="downloadFile(exp.expcert_url)"><img class="attachment" 
                                                        src="../../../../../assets/images/attachment.png"></a></td> 
                                            <td class="text-center"><a (click)="downloadFile(exp.joining_letter_url)"><img class="attachment"
                                                        src="../../../../../assets/images/attachment.png"></a></td>
                                            <td>{{exp.approval_status}}</td>
                                            <td>{{exp.reject_reason}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th colspan="4">Other Proof</th>
                                        </tr>
                                        <tr>
                                            <th>Document</th>
                                            <th class="text-center">Attachment</th>
                                            <th>Status</th>
                                            <th>Rejection Remarks</th>
                                        </tr>
                                        <tr>
                                            <td>Id Proof</td>
                                            <td class="text-center"><a (click)="downloadFile(basicProfile?.idproofurl)"><img class="attachment" 
                                                        src="../../../../../assets/images/attachment.png"></a></td>
                                            <td>{{basicProfile?.idproof_approval_status}}</td>
                                            <td>{{basicProfile?.idproof_reject_reason}}</td>
                                        </tr>
                                        <tr>
                                            <td>Address Proof</td>
                                            <td class="text-center"><a (click)="downloadFile(basicProfile?.addressurl)"><img class="attachment"
                                                        src="../../../../../assets/images/attachment.png"></a></td>
                                            <td>{{basicProfile?.addproof_approval_status}}</td>
                                            <td>{{basicProfile?.addproof_reject_reason}}</td>
                                        </tr>
                                        <tr>
                                            <td>Tax Proof</td>
                                            <td class="text-center"><a (click)="downloadFile(basicProfile?.taxproofurl)"><img class="attachment" 
                                                        src="../../../../../assets/images/attachment.png"></a></td>
                                            <td>{{basicProfile?.taxproof_approval_status}}</td>
                                            <td>{{basicProfile?.taxproof_reject_reason}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="BGC Results Status" id="bgcResulttatus">
                        <ng-template ngbTabContent class="tab-pane fade" id="bgc-result-status"
                            aria-labelledby="bgc-result-status-tab">

                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>