<!-- <div class="container-scroller">
    <app-navbar></app-navbar>
    <div class="container-fluid page-body-wrapper">
        <app-sidebar></app-sidebar>
        <div class="main-panel">
            <div class="content-wrapper">
                <router-outlet></router-outlet>
                <app-footer></app-footer>
            </div>

        </div>
    </div>
</div> -->

<app-navbar></app-navbar>
<div class="profile bgclr">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-3 pr-0 position-relative">
                <app-sidebar *ngIf="show_side_menu"></app-sidebar>
            </div>
            <div [ngClass]="show_side_menu?'col-md-9':'col-md-12'" class="pt-3">
                <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box">
                    <p style="color: white"> Please wait... </p>
                </ngx-spinner>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>