<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="dashboard-title mb-4">Jobseeker/Freelancer Detail</h4>
                <div class="row">
                    <div class="col-lg-12 text-left">
                        <div class="">
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="ccyear">Job Seeker ID</label><br>
                                        <label class="form-control">{{MasterDocument.id}}</label>
                                        <!-- <input class="form-control" type="text" placeholder="101"> -->
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="ccmonth">Document Approval Status</label>
                                        <select class="form-control" [(ngModel)]="MasterDocument.approvalStatus">
                                            <option value="Pending_Approval">Pending for approval</option>
                                            <option value="Approved">Approve</option>
                                            <option value="Rejected">Reject</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="ccyear">Name</label><br>
                                        <label
                                            class="form-control">{{ MasterDocument.fname + " " + MasterDocument.lname }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Document Type</h4>
                                    <hr>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="card document-img">
                                        <img class="card-img-top"
                                            src="https://images.livemint.com/img/2019/11/05/600x338/pan_card_1565610340828_1572940770560.PNG"
                                            alt="ID Proof IMG">
                                        <div class="card-body">
                                            <p class="card-text">Pan Card <br> (ACGGD2588N)<br>
                                                <a target="_blank" href="{{ MasterDocument.idproofurl }}"> Attachment
                                                </a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="card document-img">
                                        <img class="card-img-top"
                                            src="https://cdn.newsnationtv.com/resize/460_-/images/2020/02/13/aadhaar-card2-38.jpg"
                                            alt="Address Proof IMG">
                                        <div class="card-body">
                                            <p class="card-text">Aadhar Card <br> (2458-2568-7894)<br>
                                                <a target="_blank" href="{{ MasterDocument.addproof_url }}"> Attachment
                                                </a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="card document-img">
                                        <img class="card-img-top"
                                            src="https://images.livemint.com/img/2019/11/05/600x338/pan_card_1565610340828_1572940770560.PNG"
                                            alt="Tax Proof IMG">
                                        <div class="card-body">
                                            <p class="card-text">Tax Document <br>(ACGGD2588N)<br>
                                                <a target="_blank" href="{{ MasterDocument.taxproofurl }}"> Attachment
                                                </a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="form-group mt-4">
                                        <select class="form-control" [(ngModel)]="MasterDocument.idproof_status">
                                            <option value="Pending_Approval">Pending for approval</option>
                                            <option value="Approved">Approve</option>
                                            <option value="Rejected">Reject</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4  col-sm-12">
                                    <div class="form-group mt-4">
                                        <select class="form-control" [(ngModel)]="MasterDocument.addproof_status">
                                            <option value="Pending_Approval">Pending for approval</option>
                                            <option value="Approved">Approve</option>
                                            <option value="Rejected">Reject</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4  col-sm-12">
                                    <div class="form-group mt-4">
                                        <select class="form-control" [(ngModel)]="MasterDocument.taxproof_status">
                                            <option value="Pending_Approval">Pending for approval</option>
                                            <option value="Approved">Approve</option>
                                            <option value="Rejected">Reject</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <h4>Reject Comments</h4>
                                    <hr>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="form-group mt-2">
                                        <input class="form-control" type="text"
                                            [(ngModel)]="MasterDocument.idproof_reject_reason"
                                            placeholder="ID Proof comments">
                                    </div>
                                </div>
                                <div class="col-lg-4  col-sm-12">
                                    <div class="form-group mt-2">
                                        <input class="form-control" type="text"
                                            [(ngModel)]="MasterDocument.addroof_reject_reason"
                                            placeholder="Address Proof comments">
                                    </div>
                                </div>
                                <div class="col-lg-4  col-sm-12">
                                    <div class="form-group mt-2">
                                        <input class="form-control" type="text"
                                            [(ngModel)]="MasterDocument.taxproof_reject_reason"
                                            placeholder="Tax Proof comments">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mt-4">
                        <h4>Educational Docs</h4>
                        <hr>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Sr. No</th>
                                        <th>Education Type</th>
                                        <th>Cert Url</th>
                                        <th>Status</th>
                                        <th>Reject Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ed of EducationDocuments, let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ ed.education }}</td>
                                        <td> <a target="_blank" href="{{ ed.cert_url_1 }}"> Attachment </a> </td>
                                        <td><select class="form-control" [(ngModel)]="ed.cert_status">
                                                <option value="Pending_Approval">Pending for approval</option>
                                                <option value="Approved">Approve</option>
                                                <option value="Rejected">Reject</option>
                                            </select></td>
                                        <td><input type="text" class="form-control" [(ngModel)]="ed.reject_reason"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mt-4">
                        <h4>Experience Docs</h4>
                        <hr>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Sr. No</th>
                                        <th>Cert Url</th>
                                        <th>Status</th>
                                        <th>Reject Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let exd of ExperienceDocuments, let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td><a target="_blank" href="{{ exd.cert_url_1 }}"> Attachment </a></td>
                                        <td><select class="form-control" [(ngModel)]="exd.cert_status">
                                                <option value="Pending_Approval">Pending for approval</option>
                                                <option value="Approved">Approve</option>
                                                <option value="Rejected">Reject</option>
                                            </select></td>
                                        <td><input type="text" class="form-control" [(ngModel)]="exd.reject_reason">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mt-4 text-right">
                        <!-- <button class="btn btn-primary" (click)="UpdateStatus()"
                            [ngClass]="{'btn-loading': loginStart}">Update Status</button> -->
                        <button class="btn btn-primary" (click)="UpdateStatus()">Update Status</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>