<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="dashboard-title mb-4">Add Job Role</h4>
                <form class="pt-3" [formGroup]="jobroleForm" (ngSubmit)="createJobrole()">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="jobrolecode">Job Role Code</label>
                                <input id="jobrolecode" class="form-control" type="text" placeholder="jobRole Code"
                                    formControlName="jobrolecode"
                                    [ngClass]="{ 'is-invalid': jfsubmitted && jf.jobrolecode.errors }" />
                                <div *ngIf="jfsubmitted && jf.jobrolecode.errors" class="invalid-feedback">
                                    <div *ngIf="jf.jobrolecode.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jobrolename">Job Role Name</label>
                                <input id="jobrolename" class="form-control" type="text" placeholder="Job Role Name"
                                    formControlName="jobrolename"
                                    [ngClass]="{ 'is-invalid': jfsubmitted && jf.jobrolename.errors }" />
                                <div *ngIf="jfsubmitted && jf.jobrolename.errors" class="invalid-feedback">
                                    <div *ngIf="jf.jobrolename.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jobroledesc">Job Role Descreption</label>
                                <textarea id="jobroledesc" class="form-control" rows="4"
                                    placeholder="Job Role Descreption" formControlName="jobroledesc"
                                    [ngClass]="{ 'is-invalid': jfsubmitted && jf.jobroledesc.errors }"></textarea>
                                <div *ngIf="jfsubmitted && jf.jobroledesc.errors" class="invalid-feedback">
                                    <div *ngIf="jf.jobroledesc.errors.required">
                                        Required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="ccyear">Competency Name</label>
                                <div class="input-group">
                                    <div class="ng-autocomplete">
                                        <!-- <ng-autocomplete id="competency" placeHolder="Search Competency"
                                            [data]="competencyList" [searchKeyword]="keyword"
                                            (selected)='selectCompetencyEvent($event, j)'
                                            (inputChanged)='onCompetencyChangeSearch($event)'
                                            (inputFocused)='onCompetencyFocused($event)'
                                            [itemTemplate]="competencyTemplate"
                                            [notFoundTemplate]="notFoundCompetencyTemplate" minQueryLength="3"
                                            [debounceTime]="100">
                                        </ng-autocomplete> -->
                                        <ng-autocomplete id="competency" placeHolder="Search Competency"
                                            [data]="competencyList" [searchKeyword]="keyword"
                                            (selected)='selectCompetencyEvent($event)'
                                            (inputChanged)='onCompetencyChangeSearch($event)'
                                            (inputFocused)='onCompetencyFocused($event)'
                                            [itemTemplate]="competencyTemplate"
                                            [notFoundTemplate]="notFoundCompetencyTemplate" minQueryLength="3"
                                            [debounceTime]="100">
                                        </ng-autocomplete>

                                        <ng-template #competencyTemplate let-item>
                                            <a [innerHTML]="item.competencyname"></a>
                                        </ng-template>

                                        <ng-template #notFoundCompetencyTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>

                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-primary" type="button"
                                            (click)="selectCompetency()">Select</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="competencies">Selected Competencies</label>
                                <textarea id="competencies" class="form-control" rows="11" disabled
                                    placeholder="Please add Competency" formControlName="competencies"
                                    [ngClass]="{ 'is-invalid': jfsubmitted && jf.competencies.errors }">
                                </textarea>
                                <div *ngIf="jfsubmitted && jf.competencies.errors" class="invalid-feedback">
                                    <div *ngIf="jf.competencies.errors.required">
                                        Required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>