<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Order Summary
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table" datatable *ngIf="myOrders.length > 0">
                            <thead>
                                <tr>
                                    <th>OrderId</th>
                                    <th>InterviewId</th>
                                    <th>Status</th>
                                    <th>Request Cancelation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let lst of myOrders;">
                                    <td>{{lst.orderid}}</td>
                                    <td>{{lst.scheduleid}}</td>
                                    <td>{{lst.orderstatus}}</td>
                                    <td><button (click)="cancelOrder(lst.orderid)" class="btn btn-sm btn-danger">Cancel</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
