<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Interview Result Details
                    <a routerLink="/admin/freelancer-payments"
                        class="btn  btn-sm btn-outline-dark btn-icon-text float-right" type="button">
                        <i class="fa fa-arrow-left"></i>
                        Back
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <table class="table table-borderless">
                            <tr>
                                <th>Interview ID</th>
                                <td>{{feedbackObj?.interviewid}}</td>
                            </tr>
                            <tr>
                                <th>Target Job</th>
                                <td>{{feedbackObj?.targetjob}}</td>
                            </tr>
                            <tr>
                                <th>Interviewer Id</th>
                                <td>{{feedbackObj?.interviewerid}}</td>
                            </tr>
                            <!-- <tr>
                                <th>Competency</th>
                                <td>Oracle DBA</td>
                            </tr> -->

                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table>
                            <tr>
                                <td><a href="#">MY VIDEO RECORDINGS</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <thead>
                                <tr class="table-dark">
                                    <th>Competency</th>
                                    <th>Skill</th>
                                    <th>Weighted Score</th>
                                    <th>Strengths & weaknesses</th>
                                    <th>Improvement Guidance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dtl of feedbackObj?.detail">
                                    <td>{{dtl.competencyname}}</td>
                                    <td>{{dtl.skillname}}</td>
                                    <td>{{dtl.weightedscore}}</td>
                                    <td>{{dtl.strengthweakness}}</td>
                                    <td>{{dtl.improvementguidance}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input #amount type="number" placeholder="Amount" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-primary" (click)="approve_payment(amount.value)">Approve Payment</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea #hold class="form-control" placeholder="Hold reson"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 text-right">
                                <button type="button" (click)="hold_payment(hold.value)" class="btn btn-danger">Hold Payment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span *ngIf="isLoading" class="spinner"></span>