<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="dashboard-title mb-4">Add Competency</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <form class="pt-3" [formGroup]="competencyForm" (ngSubmit)="createCompetency()">
                            <div class="form-group">
                                <label for="competencyname">Competency Name</label>
                                <input id="competencyname" formControlName="competencyname" class="form-control" type="text" placeholder="Competency Name"
                                    [ngClass]="{ 'is-invalid': cfsubmitted && cf.competencyname.errors }" />
                                <div *ngIf="cfsubmitted && cf.competencyname.errors" class="invalid-feedback">
                                    <div *ngIf="cf.competencyname.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="competencydescription">Competency Description</label>
                                <textarea id="competencydescription" formControlName="competencydescription" class="form-control" rows="4" placeholder="Competency Description"
                                [ngClass]="{ 'is-invalid': cfsubmitted && cf.competencydescription.errors }"></textarea>
                                <div *ngIf="cfsubmitted && cf.competencydescription.errors" class="invalid-feedback">
                                    <div *ngIf="cf.competencydescription.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>