<div class="row">
    <div class="col-sm-12">
        <form [formGroup]="experience" (ngSubmit)="submit()">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Add Experience <span style="cursor: pointer;" (click)="dismiss()"
                            class="float-right" aria-hidden="true">&times;</span></h5>
                </div>
                <div class="card-body scroll">

                    <div class="form-group">
                        <label for="" class="req text-info">Organization</label>
                        <input formControlName="orgname" [ngClass]="{'is-invalid':submitted && f.orgname.errors}"
                            type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="row no-gutters">
                            <div class="col-sm-6 pr-sm-2">
                                <label for="" class="req text-info">Start Date</label>
                                <input formControlName="startdate"
                                    [ngClass]="{'is-invalid':submitted && f.startdate.errors}" type="date"
                                    class="form-control">
                            </div>
                            <div class="col-sm-6 pl-sm-2">
                                <label for="" class="req text-info">End Date</label>
                                <input formControlName="endDate"
                                    [ngClass]="{'is-invalid':submitted && f.endDate.errors}" type="date"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="req text-info">Designation</label>
                        <input formControlName="designation"
                            [ngClass]="{'is-invalid':submitted && f.designation.errors}" type="text"
                            class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="" class="req text-info">Role</label>
                        <select class="form-control" formControlName="role_name"
                            [ngClass]="{'is-invalid':submitted && f.role_name.errors}">
                            <option value="">--select--</option>
                            <option *ngFor="let lst of roleData" [value]="lst.jobrolename">{{lst.jobrolename}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="" class="req text-info">Role & Resp</label>
                        <input formControlName="rolensrep" [ngClass]="{'is-invalid':submitted && f.rolensrep.errors}"
                            type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="" class="req text-info">Experience Certificate</label>
                        <div class="input-group mb-3">
                            <input type="file" style="display: none;" #ExpCertificateRef
                                (change)="attachExpCert($event)">
                            <input type="text" readonly formControlName="expcert_url"
                                [ngClass]="{'is-invalid':submitted && f.expcert_url.errors}" class="form-control">
                            <button style="border-radius: 0px;" type="button" (click)="ExpCertificateRef.click()" class="btn btn-info">Choose
                                file...</button>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="" class="req text-info">Joining Letter</label>
                        <div class="input-group mb-3">
                            <input type="file" style="display: none;" #JoinLetterRef
                                (change)="attachJoinLetter($event)">
                            <input type="text" readonly formControlName="joining_letter_url"
                                [ngClass]="{'is-invalid':submitted && f.joining_letter_url.errors}" class="form-control">
                            <button style="border-radius: 0px;" type="button" (click)="JoinLetterRef.click()" class="btn btn-info">Choose
                                file...</button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" (click)="dismiss()" class="btn btn-secondary">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>