<form [formGroup]="searchOption" (ngSubmit)="search()">
    <div class="row">
        <div class="col-sm-12">
            <label class="title">Keyword</label>
            <div class="form-group">
                <!-- <input class="form-control" type="text" placeholder="Job Role" autocomplete="off"
                    formControlName="current_industry" [ngbTypeahead]="jobRole"
                    [resultFormatter]="resultFormatJobRoleValue" [inputFormatter]="inputFormatJobroleValue"> -->
                <input class="form-control" type="text" placeholder="Keywords" autocomplete="off"
                    formControlName="keyword">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="title">Current Industry</label>
                <ng-multiselect-dropdown [placeholder]="'Select Current industry'" [data]="currentIndustryData"
                    formControlName="current_industry" [settings]="IndustryBoxSetting"
                    (onSelect)="onIndustrySelectSelect($event)">
                </ng-multiselect-dropdown>
                <div *ngIf="submitted && f.current_industry.errors" class="" style="color:#dc3545">
                    <div *ngIf="f.current_industry.errors.required">
                        <small>Current Industry required</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="title">Job Role</label>
                <ng-multiselect-dropdown [placeholder]="'Select Job Role'" [data]="jobRoleData"
                    formControlName="job_role" [settings]="JobRoleBoxSetting" (onSelect)="onJobRoleSelect($event)">
                </ng-multiselect-dropdown>
                <div *ngIf="submitted && f.job_role.errors" class="" style="color:#dc3545">
                    <div *ngIf="f.current_industry.errors.required">
                        <small>Job Role required</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <label class="title">Competency</label>
                <ng-multiselect-dropdown [placeholder]="'Select Competency'" [data]="CompetencyData"
                    formControlName="competency" [settings]="CompetencyBoxSetting">
                </ng-multiselect-dropdown>
                <div *ngIf="submitted && f.competency.errors" class="" style="color:#dc3545">
                    <div *ngIf="f.competency.errors.required">
                        <small>Competency required</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <label class="title">Country</label>
                <ng-multiselect-dropdown [placeholder]="'Select country'" [data]="countryData" formControlName="country"
                    [settings]="CountryBoxSetting" (onSelect)="onCountrySelect($event)">
                </ng-multiselect-dropdown>
                <div *ngIf="submitted && f.country.errors" class="" style="color:#dc3545">
                    <div *ngIf="f.country.errors.required">
                        <small>Country required</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <label class="title">State</label>
                <ng-multiselect-dropdown [placeholder]="'Select state'" [data]="stateData" formControlName="state"
                    [settings]="StateBoxSetting" (onSelect)="onStateSelect($event)">
                </ng-multiselect-dropdown>
                <div *ngIf="submitted && f.state.errors" class="" style="color:#dc3545">
                    <div *ngIf="f.state.errors.required">
                        <small>State required</small>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-12">
            <div class="form-group">
                <label class="title">City</label>
                <ng-multiselect-dropdown [placeholder]="'Select city'" [data]="cityData" formControlName="city"
                    [settings]="CityBoxSetting">
                </ng-multiselect-dropdown>
                <div *ngIf="submitted && f.city.errors" class="" style="color:#dc3545">
                    <div *ngIf="f.city.errors.required">
                        <small>City required</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <h4 class="title">Experience Years</h4>
            <div class="form-group">
                <select class="form-control" formControlName="experience_years">
                    <option value="">Select Experience</option>
                    <option *ngFor="let e of experienceYearData" [value]="e">{{e}}</option>
                </select>
                <div *ngIf="submitted && f.experience_years.errors" class="" style="color:#dc3545">
                    <div *ngIf="f.experience_years.errors.required">
                        <small>Experience required</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <label for="language">Languages Known</label>
                <ng-multiselect-dropdown [placeholder]="'Select Language'" [data]="languageData"
                    formControlName="languages" [settings]="LangauageSettings">
                </ng-multiselect-dropdown>
                <div *ngIf="submitted && f.languages.errors" class="" style="color:#dc3545">
                    <div *ngIf="f.languages.errors.required">Language Required
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <button [disabled]="loading" class="btn btn-sm btn-primary btn-block">Search</button>
        </div>
    </div>
</form>
