<div class="col-md-12">
    <div class="search-item bg-white mt-3 mb-4 border rounded">
        <div class="pg-head df aic jcb py-2 pl-3 pr-2 bg-light rounded sticky-top">
            <h5 class="mb-0">My Job Posting</h5>
            <a href="create-jd.html" class="btn btn-primary" routerLink="/employer/addjobposting" routerLinkActive>+Add
                Job Posting</a>
        </div>
        <div class="px-3">
            <div class="d-flex align-items-center justify-content-between border-bottom">
                <h6 class="mb-0 pl-2">Total : {{totalJobPost}} Job Posting</h6>
                <div class="fwm py-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" checked name="inlineRadioOptions" id="inlineRadio1"
                            value="allPost" (click)="getStatus($event.target.value)">
                        <label class="form-check-label" for="inlineRadio1">All Postings</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="openPost" (click)="getStatus($event.target.value)">
                        <label class="form-check-label text-success" for="inlineRadio2">Open Postings</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                            value="closePost" (click)="getStatus($event.target.value)">
                        <label class="form-check-label text-warning" for="inlineRadio3">Closed Postings</label>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table mks-tbl valign-center pt-0">
                    <thead class="thead-light">
                        <tr>
                            <th>Job Role / ID</th>
                            <th width="200">Job Status</th>
                            <th class="text-center" width="180">Job Applications</th>
                            <th class="text-center" width="130">Shortlisted</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let alljobpost of jobpostingList">
                            <td>
                                <div class="si-left df aic">
                                    <div class="pro-info">
                                        <p class="fwb mb-0">{{alljobpost.jptitle}}</p>
                                        <a href="javascript:;" (click)="updateStatus(alljobpost.id)" data-toggle="modal"
                                            data-target="#viewJobModal" title="See Interview Details"
                                            class="text-primary mb-0 fwm u">{{alljobpost.id}}</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="df aic" *ngIf='alljobpost.statusactive == "Active"'>
                                    <p class="mb-0 fwsm text-success">Currently Hiring</p>
                                    <a href="#" class="btn ml-2"
                                        routerLink="/employer/addjobposting/{{alljobpost.id}}"><i
                                            class="fas fa-pencil-alt"></i></a>
                                </div>
                                <div *ngIf='alljobpost.statusactive != "Active"'>
                                    <p class="mb-0 fwsm text-danger">Hiring Closed</p>
                                </div>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn mw70 fwb btn-outline-primary"
                                routerLink="/employer/jobApplication/{{alljobpost.id}}"><i
                                        class="fas fa-file-alt mr-2"></i>0</button>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn mw70 fwb btn-outline-success"><i
                                        class="fas fa-file-alt mr-2"></i>0</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav *ngIf="pageHide">
                    <ul class="pagination justify-content-end mb-0">
                        <li class="page-item prev disabled" (click)="prev()">
                            <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                        <li class="page-item next" (click)="next()">
                            <a class="page-link" href="javascript:void(0)">Next</a>
                        </li>
                    </ul>
                </nav>
                <div class="no-data" *ngIf="dataLength">
                    <h4 class="error-heading"> Oops!</h4>
                    <div> No Data Found</div>
                  </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewJobModal" tabindex="-1" aria-labelledby="viewJobModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewJobModalLabel">View/Update Job Posting ID : {{jobPostID}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body h-100">
                <div class="row mx-0 h-100 align-items-start">
                    <div class="col-sm-12 bg-light py-3 search-item">
                        <h4>
                            <small class="fwm">Job Title</small><br>
                            <span>{{jobpostTitle}}</span>
                        </h4>
                        <!-- <hr> -->
                        <!-- <h4>
                            <small class="fwm">Job Description</small>
                        </h4>
                        <ol>
                            <li>Good understanding digital products, mobile apps, websites</li>
                            <li>Gather and evaluate user requirements in collaboration with product managers and
                                engineers</li>
                            <li>Illustrate design ideas using storyboards, process flows, and sitemaps</li>
                            <li>Create UX and UI deliverables to communicate the intended user experience such as screen
                                flow diagrams, pixel-perfect mockups, prototypes, icons, UI specification and user
                                stories</li>
                            <li>Create original graphic designs (e.g. images, sketches, and tables)</li>
                            <li>Articulate design ideas, decisions and rationale</li>
                            <li>Rapidly iterate on design prototypes and mockups</li>
                            <li>Analyze data from business analytics and customer feedback to make and support design
                                decisions</li>
                            <li>Validate success post-launch through analytics and customer feedback</li>
                            <li>Good understanding digital products, mobile apps, websites</li>
                            <li>Gather and evaluate user requirements in collaboration with product managers and
                                engineers</li>
                            <li>Illustrate design ideas using storyboards, process flows, and sitemaps</li>
                            <li>Create UX and UI deliverables to communicate the intended user experience such as screen
                                flow diagrams, pixel-perfect mockups, prototypes, icons, UI specification and user
                                stories</li>
                            <li>Create original graphic designs (e.g. images, sketches, and tables)</li>
                            <li>Articulate design ideas, decisions and rationale</li>
                            <li>Rapidly iterate on design prototypes and mockups</li>
                            <li>Analyze data from business analytics and customer feedback to make and support design
                                decisions</li>
                            <li>Validate success post-launch through analytics and customer feedback</li>
                        </ol> -->
                    </div>
                    <div class="col-sm-12 mt-4">
                        <form method="POST">
                            <div class="row form-group align-items-center">
                                <label for="" class="col-12 fwsb h6 mb-0">Job Post Status</label>

                                <div class="col-12 mt-2">
                                    <select name="" id="" class="form-control" (change)="getCurrentStatus($event.target.value)">
                                        <option value="">Select Status</option>
                                        <option value="Active">Currently Hiring</option>
                                        <option value="Closed">Hiring Closed</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="row form-group align-items-center">
                                <label for="" class="col-12 fwsb h6 mb-0">Attach Interview Debrief Summary(HM)</label>
                                <div class="col-12 mt-2">
                                    <div class="form-group border p-2">
                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                    </div>
                                    <button class="btn btn-primary btn-sm">Upload</button>
                                    <button class="btn btn-link btn-sm"><i class="fas fa-cloud-download-alt"></i>
                                        Download</button>
                                </div>
                            </div> 
                            <hr>-->
                            <!-- <button type="button" class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#viewJobApplicationModal">
                                Job Applications Received (200)
                            </button> -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn border bg-white" data-dismiss="modal">Cancel</button>
                <!-- <button class="btn btn-outline-primary ml-1">Interview Loop Schedule</button> -->
                <!-- <button class="btn btn-outline-primary ml-1">Job Applications</button> -->
                <button type="button" class="btn btn-primary" (click)="changeStatus()">Update Status</button>
            </div>
        </div>
    </div>
</div>
