<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h4 class="dashboard-title mb-0">MY INTERVIEW RESULTS</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Interview Id</th>
                                <th>Freelancer Id</th>
                                <th>Target Job</th>
                                <th>Interviewer Feedback /Marks</th>
                                <th>AI Based Feedback</th>
                                <!-- <th>Status</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sm of InterviewResultSummary;">
                                <td><a [routerLink]="['/jobseeker/my-interview-result-details']" [queryParams]="sm">{{sm.interviewid}}</a></td>
                                <td>{{sm.interviewerid}}</td>
                                <td>{{sm.targetjob}}</td>
                                <td>{{sm.interview_status}}/{{sm.overallscore}}</td>
                                <td>{{sm.ai_status}}</td>
                                <!-- <td>{{'Published'}}</td> -->
                            </tr>
                            

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>