<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="dashboard-title mb-4">Add State</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <form class="pt-3" [formGroup]="stateForm" (ngSubmit)="createState()">
                            <div class="form-group">
                                <label for="countrycode">Country</label>
                                <select id="countrycode" class="form-control" formControlName="countrycode"
                                [ngClass]="{ 'is-invalid': sfsubmitted && sf.countrycode.errors }">
                                <option value="">--Select Country--</option>
                                <option *ngFor="let country of countries" [value]="country.country_code">{{country.countryname}}</option>
                                </select>
                                <div *ngIf="sfsubmitted && sf.countrycode.errors" class="invalid-feedback">
                                    <div *ngIf="sf.countrycode.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="stateid">State ID</label>
                                <input id="stateid" formControlName="stateid" class="form-control" type="text" placeholder="State ID"
                                    [ngClass]="{ 'is-invalid': sfsubmitted && sf.stateid.errors }" />
                                <div *ngIf="sfsubmitted && sf.stateid.errors" class="invalid-feedback">
                                    <div *ngIf="sf.stateid.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="statecode">State Code</label>
                                <input id="statecode" formControlName="statecode" class="form-control" type="text" placeholder="State Code"
                                [ngClass]="{ 'is-invalid': sfsubmitted && sf.statecode.errors }" />
                                <div *ngIf="sfsubmitted && sf.statecode.errors" class="invalid-feedback">
                                    <div *ngIf="sf.statecode.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="statename">State Name</label>
                                <input id="statename" formControlName="statename" class="form-control" type="text" placeholder="State Name"
                                    [ngClass]="{ 'is-invalid': sfsubmitted && sf.statename.errors }" />
                                <div *ngIf="sfsubmitted && sf.statename.errors" class="invalid-feedback">
                                    <div *ngIf="sf.statename.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>