<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h4 class="dashboard-title mb-0">My Interviews</h4>
                </div>
            </div>
            <div class="card-body">
                <ngb-tabset #pTabs="ngbTabset">
                    <ngb-tab title="My Interview Schedules" id="myInterviewSchedule">
                        <ng-template ngbTabContent class="tab-pane fade" id="my-interview-sudule"
                            aria-labelledby="my-interview-sudule-tab">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Interview ID</th>
                                            <th>Interviewer</th>
                                            <th>Start time</th>
                                            <th>End Time</th>
                                            <th>Status</th>
                                            <th>Organization</th>
                                            <th>Created</th>
                                            <!-- <th>Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let sched of scheduleInterview;">
                                            <td><a
                                                    [routerLink]="['/jobseeker/interview-schedule-details',sched.interviewid]">{{sched.interviewid}}</a>
                                            </td>
                                            <td>{{sched.freelancerid}}</td>
                                            <td>{{sched.starttime |date:'MMM dd,yyyy hh:mm a'}}</td>
                                            <td>{{sched.endtime |date:'MMM dd,yyyy hh:mm a'}}</td>
                                            <td>{{sched.status}}</td>
                                            <td>Freelancer</td>
                                            <td>{{sched.createdatetm |date:'MMM dd,yyyy hh:mm a'}}</td>
                                            <!-- <td><a [routerLink]="['/jobseeker/join-meeting',sched.interviewid]">JOIN</a></td> -->
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Completed Interviews" id="completedInterviews">
                        <ng-template ngbTabContent class="tab-pane fade" id="completed-interviews"
                            aria-labelledby="completed-interviews-tab">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Interview ID</th>
                                            <th>Interviewer</th>
                                            <th>Start time</th>
                                            <th>End Time</th>
                                            <th>Status</th>
                                            <th>Organization</th>
                                            <th>Created</th>
                                            <!-- <th>Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let sched of completedInterview;">
                                            <td><a
                                                    [routerLink]="['/jobseeker/interview-schedule-details',sched.interviewid]">{{sched.interviewid}}</a>
                                            </td>
                                            <td>{{sched.freelancerid}}</td>
                                            <td>{{sched.starttime |date:'MMM dd,yyyy hh:mm a'}}</td>
                                            <td>{{sched.endtime |date:'MMM dd,yyyy hh:mm a'}}</td>
                                            <td>{{sched.status}}</td>
                                            <td>Freelancer</td>
                                            <td>{{sched.createdatetm |date:'MMM dd,yyyy hh:mm a'}}</td>
                                            <!-- <td><a [routerLink]="['/jobseeker/join-meeting',sched.interviewid]">JOIN</a></td> -->
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>

            </div>
        </div>
    </div>
</div>