<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Dashboard</div>
            </div>
            <div class="card-body" style="height: 60vh;">

            </div>
        </div>
    </div>
</div>