<div class="step-form step4 px-3 pt-3"> 
  <form [formGroup]="addressForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-sm-12">
        <h6 class="fwb mb-4">Address Details</h6>
        <div class="row form-group align-items-center">
          <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Address Line1</label>
          <div class="col-sm-7">
            <input type="text" formControlName="address1" [ngClass]="{'is-invalid':submitted && f.address1.errors}" class="form-control" placeholder="Line1" />
          </div>
        </div>
        <div class="row form-group align-items-center">
          <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Address Line2</label>
          <div class="col-sm-7">
            <input type="text" formControlName="address2" [ngClass]="{'is-invalid':submitted && f.address2.errors}" class="form-control" placeholder="Line2" />
          </div>
        </div>
        <div class="row form-group align-items-center">
          <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Country</label>
          <div class="col-sm-5">
            <select formControlName="country" [ngClass]="{'is-invalid':submitted && f.country.errors}" 
              (change)="onChangeCountry($event.target.value)" id="" class="form-control"> 
              <option value="">--select--</option>
              <option *ngFor="let country of countryList" [value]="country.id">
                  {{country.countryname}}</option>
            </select>
          </div>
        </div>
        <div class="row form-group align-items-center">
          <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">State</label>
          <div class="col-sm-5">
            <select formControlName="state" [ngClass]="{'is-invalid':submitted && f.state.errors}"
                            (change)="onChangeState($event.target.value)" class="form-control">
                            <option value="">--select--</option>
                            <option *ngFor="let state of stateList" [value]="state.statecode">
                                {{state.statename}}
                            </option>
            </select>
          </div>
        </div>
        <div class="row form-group align-items-center">
          <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">City</label>
          <div class="col-sm-5">
            <select formControlName="city" [ngClass]="{'is-invalid':submitted && f.city.errors}"
                            class="form-control">
                            <option value="">--Select--</option>
                            <option *ngFor="let cityItem of cityList" [value]="cityItem.citycode">
                                {{cityItem.cityname}}</option>
             </select>
          </div>
        </div>
        <div class="row form-group align-items-center">
          <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Pin code</label
          >
          <div class="col-sm-5">
            <input formControlName="zip" [ngClass]="{'is-invalid':submitted && f.zip.errors}" type="text" class="form-control"  placeholder="Pin code" />
          </div>
        </div>
        <div class="row form-group align-items-center">
          <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Address Proof</label
          >
          <div class="col-sm-7">
            <div class="input-group">
              <div class="custom-file">
                <input  formControlName="addressurl" placeholder="Upload Address Proof" type="text" class="form-control" id="inputGroupFile01"
                [ngClass]="{'is-invalid':submitted && f.addressurl?.errors}"
                  aria-describedby="inputGroupFileAddon01"/>
                  <input #taxidRef  (change)="attachAddressProof($event)" type="file" style="display: none;">   
                <button type="button" (click)="taxidRef.click()" style="border-radius: 1px !important;" class="btn btn-md btn-info">Browse</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right df jcb bg-light mx-n3 p-3">
      <button type="button" (click)="previous()" class="btn btn-secondary"> Previous (Id Details)
      </button>
      <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" class="btn btn-primary">Next (Experience)</button>
    </div>
  </form>
</div>
