<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="dashboard-title mb-4">Add City</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <form class="pt-3" [formGroup]="cityForm" (ngSubmit)="createCity()">
                            <div class="form-group">
                                <label for="countrycode">Country</label>
                                <select id="countrycode" class="form-control" formControlName="countrycode" (change)="onCountryChange($event.target.value)"
                                [ngClass]="{ 'is-invalid': cfsubmitted && cf.countrycode.errors }">
                                <option value="">--Select Country--</option>
                                <option *ngFor="let country of countries" [value]="country.country_code">{{country.countryname}}</option>
                                </select>
                                <div *ngIf="cfsubmitted && cf.countrycode.errors" class="invalid-feedback">
                                    <div *ngIf="cf.countrycode.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="statecode">State</label>
                                <select id="statecode" class="form-control" formControlName="statecode" (change)="onSateChange($event.target.value)"
                                [ngClass]="{ 'is-invalid': cfsubmitted && cf.statecode.errors }">
                                <option value="">--Select State--</option>
                                <option *ngFor="let state of states" [value]="state.statecode">{{state.statename}}</option>
                                </select>
                                <div *ngIf="cfsubmitted && cf.statecode.errors" class="invalid-feedback">
                                    <div *ngIf="cf.statecode.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="districtcode">District</label>
                                <select id="districtcode" class="form-control" formControlName="districtcode"
                                [ngClass]="{ 'is-invalid': cfsubmitted && cf.districtcode.errors }">
                                <option value="">--Select District--</option>
                                <option *ngFor="let district of districts" [value]="district.districtcode">{{district.districtname}}</option>
                                </select>
                                <div *ngIf="cfsubmitted && cf.districtcode.errors" class="invalid-feedback">
                                    <div *ngIf="cf.districtcode.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="citycode">City Code</label>
                                <input id="citycode" formControlName="citycode" class="form-control" type="text" placeholder="City Code"
                                [ngClass]="{ 'is-invalid': cfsubmitted && cf.citycode.errors }" />
                                <div *ngIf="cfsubmitted && cf.citycode.errors" class="invalid-feedback">
                                    <div *ngIf="cf.citycode.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cityname">City Name</label>
                                <input id="cityname" formControlName="cityname" class="form-control" type="text" placeholder="City Name"
                                    [ngClass]="{ 'is-invalid': cfsubmitted && cf.cityname.errors }" />
                                <div *ngIf="cfsubmitted && cf.cityname.errors" class="invalid-feedback">
                                    <div *ngIf="cf.cityname.errors.required">
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>