<div class="col-md-12 intvdetails">
    <div class="search-item bg-white mt-3 mb-4 border rounded">
        <h5 class="modal-title m-3" id="viewJobApplicationModalLabel">Schedule Face 2 Face Interview
            <a class="float-right" routerLink="/employer/myinterviews"> < Back</a>
        </h5>
        <hr>
        <div class="container">
            <div class="row mb-3">
                <div class="col-sm-6">
                    <!-- <div class="row" *ngIf="applicationData.jobseekername">
                        <div class="col-sm-3">Name</div>
                        <div class="col-sm-9">: {{applicationData.jobseekername}}</div>
                    </div> -->
                    <div class="row" *ngIf="applicationData.applicationid">
                        <div class="col-sm-6">App. ID</div>
                        <div class="col-sm-6">: {{applicationData.applicationid}}</div>
                    </div>
                    <div class="row" *ngIf="applicationData.jobseekerusername">
                        <div class="col-sm-6">JobSeeker Email</div>
                        <div class="col-sm-6">: {{applicationData.jobseekerusername}}</div>
                    </div>
                    <div class="row" *ngIf="applicationData.jobseekermobile">
                        <div class="col-sm-6">Mobile No.</div>
                        <div class="col-sm-6">: {{applicationData.jobseekermobile}}</div>
                    </div>
                    <div class="row" *ngIf="applicationData.statuscode">
                        <div class="col-sm-6">Status</div>
                        <div class="col-sm-6">: {{applicationData.statuscode}}</div>
                    </div>
                    <div class="row" *ngIf="applicationData.resumeurl">
                        <div class="col-sm-6">Resume</div>
                        <div class="col-sm-6">
                            <a _ngcontent-qnr-c7="" class="btn bg-light border" download="applicationData.resumeurl" type="button" (click)="openLink(applicationData.resumeurl)">
                                <i _ngcontent-qnr-c7="" class="fas fa-cloud-download-alt"></i>
                           </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 border-left">
                    <div class="row" *ngIf="applicationData.jobrole">
                        <div class="col-sm-6">Job Role</div>
                        <div class="col-sm-6">: {{applicationData.jobrole}}</div>
                    </div>
                    <div class="row" *ngIf="applicationData.rounds">
                        <div class="col-sm-6">No. of F2F Interview Loops</div>
                        <div class="col-sm-6"><input type="text" class="form-control form-control-sm"
                                [(ngModel)]="applicationData.rounds" disabled></div>
                    </div> <br/>
                    <div class="row" *ngIf="applicationData.status != 'Scheduled'">
                        <div class="col-sm-6">Interview mode</div>
                        <div class="col-sm-6">:
                            <button class="btn btn-primary" routerLink="/employer/preview/{{applicationData.interviewid}}">Join to Start</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table thead-mid mks-tbl valign-center pt-0">
                <thead class="thead-light">
                    <tr>
                        <th>Round</th>
                        <th>Interviewer</th>
                        <th>Scheduled Date & Time</th>
                        <th>Status</th>
                        <th>
                           <!-- <a href="javascript:void(0)" class="btn bg-white btn-sm text-nowrap" (click)="addRow()">+ Add</a> -->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let applicationData of dataApps;">
                        <td>
                            {{applicationData.round}}
                        </td>
                        <td>
                            {{applicationData.intervieweremail}}
                        </td>
                      <td>
                          {{applicationData.idatetime}}
                      </td>
                      <td>
                          {{applicationData.status}}
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<section id="int-screen" class="int-screen jobseeker d-none">
    <div class="row mx-0 h-100">
        <div class="col-9 pr-0 h-100">
            <div class="mks-tabs style1">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="video-tab" title="Video" data-toggle="tab" href="#video" role="tab" aria-controls="video" aria-selected="true"><i class="fas fa-video"></i> Video</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="resume-tab" title="Resume" data-toggle="tab" href="#resume" role="tab" aria-controls="resume" aria-selected="false"><i class="fas fa-file"></i> Resume</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="coder-tab" title="Resume" data-toggle="tab" href="#coder" role="tab" aria-controls="coder" aria-selected="false"><i class="fas fa-code"></i> Code Panel</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active h-100 bg-light border" id="video" role="tabpanel" aria-labelledby="video-tab">
                        <div class=" d-flex justify-content-center h-100 align-items-center">
                            <div class="p-3 text-center">
                                <div class="text-center">
                                    <img src="images/svg/undraw_feeling_proud_qne1.svg" width="100" class="mb-5" alt="">
                                </div>
                                <h2>Welcome to Vikoona Interview Session</h2>
                                <div class="text-center">
                                    <button class="btn btn-outline-primary"><i class="fas fa-video"></i> Start Video</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="resume" role="tabpanel" aria-labelledby="resume-tab">
                        <embed src="images/resume.pdf" class="pdf-viewer">
                    </div>
                    <div class="tab-pane fade" id="coder" role="tabpanel" aria-labelledby="coder-tab">
                        <textarea name="" id="" cols="30" rows="24" class="h-100 w-100 form-control coder" placeholder="Start Typing..."></textarea>
                    </div>
                </div>
            </div>
            <div class="int-screen-ftr row align-items-center pt-2 text-center">

                <div class="col-sm-3 timer text-left">
                    Duration - <time><b>10:00</b> Min.</time>
                </div>
                <div class="col-sm-6 toolbar d-flex align-items-center justify-content-center">
                    <div class="px-2">
                        <button type="button" class="btn active icn rounded-pill">
                            <i class="fas fa-video-slash"></i>
                        </button>
                        <div><small>Show Video</small></div>
                    </div>
                    <div class="px-2">
                        <button type="button" class="btn icn active rounded-pill" title="Mute">
                            <i class="fas fa-microphone-slash"></i>
                        </button>
                        <div><small>Un-mute Audio</small></div>
                    </div>
                    <div class="px-2">
                        <button type="button" class="btn icn rounded-pill" title="Mute">
                            <i class="fas fa-object-ungroup"></i>
                        </button>
                        <div><small>Share Screen</small></div>
                    </div>
                </div>
                <div class="col-sm-3 text-right">
                    <button class="btn btn-outline-danger">Rate Interviewer &amp; Close</button>
                </div>



            </div>
        </div>
        <div class="col-3 h-100">
            <div class="toolbar text-right py-1">
                <button type="button" (click)="minimizeVideo()" class="btn btn-outline-secondary">
                    <i class="fas fa-window-minimize"></i> Minimize Screen
                </button>
            </div>
        </div>
    </div>
</section>

<section id="min-screen" class="minimize-screen d-none">
    <div class="df aic jcb pl-3">
        <div>My Interview</div>
        <button type="button" (click)="maximizeVideo()" title="Maximize Screen" class="btn h-100 text-white bg-dark">
            <i class="fas fa-expand-arrows-alt"></i>
        </button>
    </div>
</section>