<!-- <div class="d-flex align-items-stretch auth auth-img-bg h-100"
  style="background: #fff; margin: -2.68rem -2.5rem; height: 100vh !important;">
  <div class="row flex-grow">
    <div class="col-lg-6 login-half-bg d-flex flex-row"
      style="background: url(../../assets/images/login-bg.jpg); background-size: cover;">

    </div>
    <div class="col-lg-6 d-flex align-items-center justify-content-center">
      <div class="auth-form-transparent text-left p-3">
        <div class="brand-logo">
          <h3>Interviewer</h3>
          
        </div>

        <form class="pt-3" [formGroup]="resetPwdForm" (ngSubmit)="resetPassword()">
          
          <div class="form-group">
            <label for="exampleInputPassword">Password</label>
            <div class="input-group">
              <input type="password" class="form-control" placeholder="Password" 
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password">
              <div *ngIf="f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">{{'Password required'}}</div>
                <div *ngIf="f.password.errors.pattern">{{'Min 8, At Least One Uppercase Character,One Lowercase Character,One Numeric Value And One Special Character Required'}}</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword">Confirm Password</label>
            <div class="input-group">
              <input type="password" class="form-control" placeholder="Confirm password"
                [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" formControlName="confirm_password">
              <div *ngIf="f.confirm_password.errors" class="invalid-feedback">
                <div *ngIf="f.confirm_password.errors.required">{{'Confirm password required'}}</div>
                <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
              </div>
            </div>
          </div>
          <div class="my-2 d-flex justify-content-between align-items-center">
           
            <a routerLink="/account/login" class="auth-link text-black">Back To Login</a>
          </div>
          <div class="my-3">

            <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" [disabled]="loginStart"
              [ngClass]="{'btn-loading': loginStart}">Reset Password</button>

          </div>
        </form>
      </div>
    </div>

  </div>
</div> -->
<nav class="navbar navbar-expand-lg navbar-light py-3">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <svg width="116px" height="22px">
        <text kerning="auto" font-family="Myriad Pro" fill="rgb(0, 0, 0)" font-size="30px" x="0px" y="22px">
          <tspan font-size="30px" font-family="CNN" fill="#F77049">Vikoona</tspan>
        </text>
      </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline my-2 my-lg-0">
              <select name="" id="" class="form-control border-0">
                  <option value="Jobseeker">Jobseeker</option>
                  <option value="Freelancer">Freelancer</option>
                  <option value="Employer">Employer</option>
              </select>
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          </form>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="jobseeker.html">Jobseeker</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="freelancer.html">Interviewer</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="employer.html">Employer</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Blogs</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">About Us</a>
              </li>
          </ul>

      </div> -->
  </div>
</nav>
<div class="mks-login jobseeker py-5">
  <div class="container">
    <div class="row no-gutters">

      <div class="col-lg-6 offset-lg-3">

        <!-- Reset Password -->
        <form [formGroup]="resetPwdForm" (ngSubmit)="resetPassword()"  class="p-5 bg-white shadow">
          <div class="d-md-flex align-items-center mb-5">
            <div class="mr-4 mb-3 mb-md-0">
              <svg height="30" viewBox="0 0 448 512">
                <path fill="currentColor"
                  d="M224 412c-15.5 0-28-12.5-28-28v-64c0-15.5 12.5-28 28-28s28 12.5 28 28v64c0 15.5-12.5 28-28 28zm224-172v224c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V240c0-26.5 21.5-48 48-48h32v-48C80 64.5 144.8-.2 224.4 0 304 .2 368 65.8 368 145.4V192h32c26.5 0 48 21.5 48 48zm-320-48h192v-48c0-52.9-43.1-96-96-96s-96 43.1-96 96v48zm272 48H48v224h352V240z"
                  class=""></path>
              </svg>
            </div>
            <h4 style="font-size: inherit !important;" class="mb-n1">Reset Password for<br>
              <small class="text-info text-break">{{username}}</small>
            </h4>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword">Password</label>
            <div class="input-group">
              <input type="password" class="form-control" placeholder="Password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password">
              <div *ngIf="f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">{{'Password required'}}</div>
                <div *ngIf="f.password.errors.pattern">{{'Min 8, At Least One Uppercase Character,One Lowercase
                  Character,One Numeric Value And One Special Character Required'}}</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword">Confirm Password</label>
            <div class="input-group">
              <input type="password" class="form-control" placeholder="Confirm password"
                [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" formControlName="confirm_password">
              <div *ngIf="f.confirm_password.errors" class="invalid-feedback">
                <div *ngIf="f.confirm_password.errors.required">{{'Confirm password required'}}</div>
                <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.
                </div>
              </div>
            </div>
          </div>
          <div class="my-2 d-flex justify-content-between align-items-center">

            <a style="font-size: inherit !important;text-decoration: underline;" routerLink="/account/login/jobseeker" class="auth-link text-black">Back To Login</a>
          </div>

          <button type="submit" class="btn fwm rounded-0 btn-submit w-100 px-5 mx-auto" [disabled]="loginStart"
          [ngClass]="{'btn-loading': loginStart}">
            <span class="mr-2">Reset Password</span>
            <svg height="24" viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"
                class=""></path>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<footer class="ba-footer py-3">
  <div class="container">

    <div class="bf-copyr text-lg-right">
      <a href="" class="text-nowrap">Privacy</a>
      <a href="" class="text-nowrap">©2020 Vikoona</a>
      <a href="" class="text-nowrap">Refund Policy</a>
      <a href="" class="text-nowrap">Terms &amp; conditions</a>
    </div>
  </div>
</footer>