<div class="col-md-12">
    <div class="search-item bg-white mt-3 mb-4 border rounded">
        <div class="h-100">
            <h5 class="modal-title m-3" id="viewJobApplicationModalLabel">Team Lead Java - ID : {{activateID}} 
                    <a class="float-right" routerLink="/employer/myjobposting"> < Back</a></h5>
            <hr>
            <div class="d-flex align-items-center justify-content-between mt-3 ml-2 mr-2">
                <h6 class="mb-0 pl-2 pb-3">Total : {{jobAppLength}} Job Applications</h6>
                <div class="fwm pb-3 d-flex">
                    <button class="btn bg-white border jr-del ml-2" title="Delete"><i
                            class="far fa-trash-alt"></i></button>
                    <select name="" class="form-control ml-2">
                        <option value="">Shortlisted</option>
                        <option value="">BotApproved</option>
                    </select>
                    <button class="btn btn-outline-primary text-nowrap ml-2">Evaluate Resumes</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table mks-tbl valign-center pt-0">
                    <thead class="thead-light">
                        <tr>
                            <th width="50">
                                <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                    (change)="checkUncheckAll()" />
                            </th>
                            <th width="200">Applicant Name / ID</th>
                            <th width="200">Email</th>
                            <th width="100" class="text-center">Resume</th>
                            <th>Automated Rounds</th>
                            <th>Loop Rounds</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let applicant of jobsApplication">
                            <td width="50">
                                <input type="checkbox" [(ngModel)]="applicant.isSelected" name="list_name"
                                    value="{{applicant.jdid}}" (change)="isAllSelected()" />
                            </td>
                            <td>
                                <div class="si-left df aic">
                                    <div class="pro-info">
                                        <p class="fwb mb-0">Vikram Sharma</p>
                                        <a href="javascript:;" data-toggle="modal" data-target="#viewJobModal"
                                            title="See Interview Details"
                                            class="text-primary mb-0 fwm u">{{applicant.jobapplicationid}}</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="df aic">
                                    <p class="mb-0 fwsm">{{applicant.jobseekerusername}}</p>
                                </div>
                            </td>
                            <td class="text-center">
                                <a [href]="applicant.resumeurl" type="button" class="btn bg-light border"
                                    download="applicant.resumeurl"> <i class="fas fa-cloud-download-alt"></i></a>
                            </td>
                            <td class="lh1">
                                <div>Automated AI Status <i class="fas fa-long-arrow-alt-right text-muted"></i> <span
                                        class="text-info">{{applicant.automatedaistatus}}</span> </div>
                                <div>Automated HR Status <i class="fas fa-long-arrow-alt-right text-muted"></i> <span
                                        class="text-danger">{{applicant.automatedhrstatus}}</span> </div>
                                <div>Automated Initial Status <i class="fas fa-long-arrow-alt-right text-muted"></i>
                                    <span class="text-success">{{applicant.automatedintialstatus}}</span> </div>
                            </td>
                            <td class="lh1" *ngIf="checkCompleted">
                                <div>
                                    <div>F2F Round 1 <i class="fas fa-long-arrow-alt-right text-muted"></i> <span
                                            class="text-primary">{{applicant.f2fround1}}</span> </div>
                                    <div>F2F Round 2 <i class="fas fa-long-arrow-alt-right text-muted"></i> <span
                                            class="text-success">{{applicant.f2fround2}}</span> </div>
                                    <div>F2F Round 3<i class="fas fa-long-arrow-alt-right text-muted"></i> <span
                                            class="text-danger">{{applicant.f2fround3}}</span> </div>
                                </div>
                            </td>
                            <td class="lh1" *ngIf="completed">
                                <button class="btn btn-outline-primary"
                                    routerLink="/employer/interviewloopschedule/{{applicant.jdid}}">Interview Loop
                                    Schedule</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="no-data" *ngIf="dataLength">
                    <h4 class="error-heading"> Oops!</h4>
                    <div> No Data Found</div>
                </div>
            </div>
        </div>
    </div>
</div>
