<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <app-search-option (onSearchClick)="pushSearchData($event)" [loading]="isLoading">
                        </app-search-option>
                    </div>
                    <div class="col-sm-8 listing">
                        <div *ngFor="let lst of searchData" class="row searchList"
                            (click)="openSearchDetailPage(lst.fsid)">
                            <div class="col-sm-8">
                                <strong>{{lst.title}}</strong>
                            </div>
                            <div class="col-sm-4">
                                <strong>HR Feedback Score</strong>
                                <br>
                                -------
                            </div>
                            <div class="clear"></div>
                            <div class="col-sm-4">
                                {{lst.per_hour_rate}} {{lst.currency}} Per Hour
                            </div>
                            <div class="col-sm-4">
                                {{lst.country}}, {{lst.state}}
                            </div>
                            <div class="col-sm-4">
                                <strong>Jobseeker Feedback Score</strong>
                                <br>
                                --------
                            </div>
                            <div class="col-sm-12">
                                <strong>Keywords:</strong>
                                <br>
                                {{lst.keywords}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span *ngIf="isLoading" class="spinner"></span>