<div class="profile int-schedule bgclr">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
                <div class="search-item mt-3 bg-white mb-3 rounded border px-3">

                    <div class="si-body">
                        <div class="mks-tabs style1">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active py-3" id="myint-tab" data-toggle="tab" href="#myint"
                                        role="tab" aria-controls="myint" aria-selected="true">My Interviews</a>
                                </li>
                                <!-- <li class="nav-item" role="presentation">
                                    <a class="nav-link py-3" id="compint-tab" data-toggle="tab" href="#compint"
                                        role="tab" aria-controls="compint" aria-selected="false">Completed
                                        Interviews</a>
                                </li> -->
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="myint" role="tabpanel"
                                    aria-labelledby="myint-tab">
                                    <!-- <div class="d-flex align-items-center justify-content-between border-bottom">
                                        <h6 class="pl-2" style="margin:20px 0">Total : 4 Interviews</h6>
                                    </div> -->
                                    <div class="table-responsive">
                                        <table class="table mks-tbl valign-center pt-0">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Application No</th>
                                                    <th>Interview LoopId/Round</th>
                                                    <th>Candidate Name</th>
                                                    <th>Resume</th>
                                                    <th>Data-Time Schedule</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let details of summaryDetails">
                                                    <td>
                                                        <div class="si-left df aic">
                                                            <div class="pro-info">
                                                                <p class="fwb mb-0">{{details.applicationid}}</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="si-right df aic jcb">
                                                            <span class="pr-3">
                                                                <p class="mb-0 text-muted">{{details.loopid}}</p>
                                                            </span>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="si-right df aic jcb">
                                                            <span class="pr-3">
                                                                <p class="mb-0 text-muted">{{details.jobseekername}}</p>
                                                            </span>
                                                        </div>
                                                    </td>
                                                  
                                                    <td>
                                                        <div class="si-right df aic jcb">
                                                            <span class="pr-3">
                                                                <a _ngcontent-qnr-c7="" class="btn bg-light border" download="details.resumeurl" type="button" (click)="openLink(details.resumeurl)">
                                                                     <i _ngcontent-qnr-c7="" class="fas fa-cloud-download-alt"></i>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="si-right df aic jcb">
                                                            <span class="pr-3">
                                                                <p class="mb-0 text-muted">{{details.idatetime}}</p>
                                                            </span>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <!-- <b class="badge badge-success">Interview Confirmed</b> -->
                                                        <button class="btn btn-primary"  
                                                        routerLink="/employer/interviewDetails/{{details.interviewid}}">Check Loop Info</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="compint" role="tabpanel" aria-labelledby="compint-tab">
                                    <div class="d-flex align-items-center justify-content-between border-bottom">
                                        <h6 class="mb-0 pl-2">Total : 2 Interviews</h6>
                                        <div class="fwm py-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" checked
                                                    name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label" for="inlineRadio1">All</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio2" value="option2">
                                                <label class="form-check-label text-success"
                                                    for="inlineRadio2">Confirmed</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio3" value="option3">
                                                <label class="form-check-label text-warning"
                                                    for="inlineRadio3">Pending</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio4" value="option4">
                                                <label class="form-check-label text-danger"
                                                    for="inlineRadio4">Rejected</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table mks-tbl valign-center pt-0">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Interview Title / ID</th>
                                                    <th>Interview Date</th>
                                                    <th>Organisation</th>
                                                    <th>Created</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="si-left df aic">
                                                            <div class="pro-info">
                                                                <p class="fwb mb-0">UI Designer</p>
                                                                <a href="javascript:;" data-toggle="modal"
                                                                    data-target="#exampleModal"
                                                                    title="See Interview Details"
                                                                    class="text-primary mb-0 fwm u">ID : 11505552252</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="si-right df aic jcb">
                                                            <span class="pr-3">
                                                                <p class="mb-0 fwsm">Mar 27, 2021</p>
                                                                <p class="mb-0 text-muted">10:00 AM TO 11:00 AM</p>
                                                            </span>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="si-left df aic">
                                                            <a href="" class="pro-pic rounded-pill mr-4"
                                                                title="See Profile">
                                                                <img src="images/avtar/avtar1.png" width="50"
                                                                    height="50" class="rounded-pill" alt="">
                                                            </a>
                                                            <div class="pro-info">
                                                                <p class="fwb mb-0">Shai**** ****na</p>
                                                                <p class="fwm text-muted mb-0">Freelancer</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="si-right df aic jcb">
                                                            <span class="pr-3">
                                                                <p class="mb-0 fwsm">Mar 22, 2021</p>
                                                                <p class="mb-0 text-muted">10:00 AM</p>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <!-- <b class="badge badge-success">Interview Confirmed</b> -->
                                                        <button class="btn btn-outline-success">See Feedback</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="si-left df aic">
                                                            <div class="pro-info">
                                                                <p class="fwb mb-0">UI/UX Designer</p>
                                                                <a href="javascript:;" data-toggle="modal"
                                                                    data-target="#exampleModal"
                                                                    title="See Interview Details"
                                                                    class="text-primary mb-0 fwm u">ID : 11505552252</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="si-right df aic jcb">
                                                            <span class="pr-3">
                                                                <p class="mb-0 fwsm">Apr 02, 2021</p>
                                                                <p class="mb-0 text-muted">10:00 AM TO 11:00 AM</p>
                                                            </span>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="si-left df aic">
                                                            <a href="#" class="pro-pic rounded-pill mr-4">
                                                                <img src="images/avtar/avtar2.jpg" width="50"
                                                                    height="50" class="rounded-pill" alt="">
                                                            </a>
                                                            <div class="pro-info">
                                                                <p class="fwb mb-0">Ani*** ****ar</p>
                                                                <p class="fwm text-muted mb-0">Freelancer</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="si-right df aic jcb">
                                                            <span class="pr-3">
                                                                <p class="mb-0 fwsm">Mar 25, 2021</p>
                                                                <p class="mb-0 text-muted">10:00 AM</p>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td><b class="badge badge-warning">Feedback Pending</b></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- <section id="min-screen" class="minimize-screen d-none">
    <div class="df aic jcb pl-3">
        <div>My Interview</div>
        <button type="button" onclick="maximizeVideo()" title="Maximize Screen" class="btn h-100 text-white bg-dark">
            <i class="fas fa-expand-arrows-alt"></i>
        </button>
    </div>
</section> -->
<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">My Interview Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="border rounded">
                    <div class="row mx-0 align-items-center py-3 border-bottom">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Interview Title / ID</h6>
                        </div>
                        <div class="col-sm-8">
                            <div class="si-left df aic">
                                <div class="pro-info">
                                    <p class="fwb mb-0">UI Desinger</p>
                                    <p class="text-primary mb-0 fwm">11505552252</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 py-3 align-items-center border-bottom">
                        <div class="col-4">
                            <h6 class="mb-0">Interview Date</h6>
                        </div>
                        <div class="col-8">
                            <div class="si-right df aic jcb">
                                <span class="pr-3">
                                    <p class="mb-0 fwsm">Apr 10, 2021</p>
                                    <p class="mb-0 text-muted">10:00 AM TO 11:00 AM</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 py-3 align-items-center border-bottom">
                        <div class="col-4">
                            <h6 class="mb-0">Organisation</h6>
                        </div>
                        <div class="col-8">
                            <div class="si-left df aic">
                                <a href="" class="pro-pic rounded-pill mr-4" title="See Profile">
                                    <img src="images/avtar/avtar1.png" width="50" height="50" class="rounded-pill" alt="">
                                </a>
                                <div class="pro-info">
                                    <p class="fwb mb-0">Interviewer Name</p>
                                    <p class="text-muted mb-0">Organisation Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 py-3 align-items-center border-bottom">
                        <div class="col-4">
                            <h6 class="mb-0">Interview Type</h6>
                        </div>
                        <div class="col-8">
                            <div class="si-right df aic jcb">
                                <span class="pr-3">
                                    <p class="mb-0 fwsm">Freelancer Interview</p>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row mx-0 py-3 align-items-center border-bottom">
                        <div class="col-4 text-nowrap">
                            <h6 class="mb-0">Interview Room ID</h6>
                        </div>
                        <div class="col-8">
                            <div class="si-right df aic jcb">
                                <span class="pr-3">
                                    <p class="mb-0 fwsm">31754545454545</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 py-3 align-items-center border-bottom">
                        <div class="col-4">
                            <h6 class="mb-0">Created Date</h6>
                        </div>
                        <div class="col-8">
                            <div class="si-right df aic jcb">
                                <span class="pr-3">
                                    <p class="mb-0 fwsm">Mar 12, 2021</p>
                                    <p class="mb-0 text-muted">10:00 AM TO 11:00 AM</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 py-3 align-items-center border-bottom">
                        <div class="col-12 text-nowrap">
                            <h6 class="mb-0">Reason for not accepting Interview</h6>
                        </div>
                        <div class="col-12">
                            <div class="si-right df aic jcb">
                                <span class="pr-3">
                                    <p class="mb-0 fwsm text-danger">----</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer py-2">
                <button type="button" class="btn bg-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary px-5">Join</button>
            </div>
        </div>
    </div>
</div> -->