<!-- <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h4 class="dashboard-title mb-0">My Interviews</h4>
                </div>
            </div>
            <div class="card-body">
                <ngb-tabset #pTabs="ngbTabset">
                    <ngb-tab title="My Interview Scheduled" id="myInterviewSchedule">
                        <ng-template ngbTabContent class="tab-pane fade" id="my-interview-sudule">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Interview Id</th>
                                            <th>Jobseeker Id</th>
                                            <th>Scheduled Time</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let interview of myInterviews">
                                            <td><a
                                                    [routerLink]="['/freelancer/my-interview-details',interview?.scheduleid]">{{interview?.interviewid}}</a>
                                            </td>
                                            <td>{{interview?.jobseekerid}}</td>
                                            <td>{{interview?.interviewstarttime | date:'MMM d, y, h:mm a'}} -
                                                {{interview?.interviewendtime | date:'MMM d, y, h:mm a'}}</td>
                                            <td>{{interview?.interviewstatus}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Completed Interview" id="myInterviewCompleted">
                        <ng-template ngbTabContent class="tab-pane fade" id="my-interview-completed">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead> 
                                        <tr>
                                            <th>Interview Id</th>
                                            <th>Jobseeker Id</th>
                                            <th>Scheduled Time</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let interview of completedInterviews">
                                            <td><a
                                                    [routerLink]="['/freelancer/my-interview-details',interview?.scheduleid]">{{interview?.interviewid}}</a>
                                            </td>
                                            <td>{{interview?.jobseekerid}}</td>
                                            <td>{{interview?.interviewstarttime | date:'MMM d, y, h:mm a'}} -
                                                {{interview?.interviewendtime | date:'MMM d, y, h:mm a'}}</td>
                                            <td>{{interview?.interviewstatus}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>

            </div>
        </div>
    </div>
</div> -->

<div #container class="profile int-schedule bgclr">
    <div class="container">
        <div class="row">
            <div class="col-md-12 px-0">
                <div class="search-item bg-white mb-3 rounded border px-3">
                    <div class="si-body">
                        <div class="mks-tabs style1">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active py-3" id="myint-tab" data-toggle="tab" href="#myint"
                                        role="tab" aria-controls="myint" aria-selected="true">My Interviews</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link py-3" id="compint-tab" data-toggle="tab" href="#compint"
                                        role="tab" aria-controls="compint" aria-selected="false">Completed
                                        Interviews</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="myint" role="tabpanel"
                                    aria-labelledby="myint-tab">
                                    <div class="d-flex align-items-center justify-content-between border-bottom">
                                        <h6 class="mb-0 pl-2">Total : {{myInterviews.length}} Interviews</h6>
                                        <div class="fwm py-3">
                                            <div class="form-check form-check-inline">
                                                <input (change)="changeSatatus($event,1)" class="form-check-input" type="radio" checked
                                                    name="inlineRadioOptions" id="inlineRadio1" value="all">
                                                <label class="form-check-label" for="inlineRadio1">All</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input (change)="changeSatatus($event,1)" class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio2" value="confirmed">
                                                <label class="form-check-label text-success"
                                                    for="inlineRadio2">Confirmed</label>
                                            </div>
                                            <!-- <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio3" value="option3">
                                                <label class="form-check-label text-warning"
                                                    for="inlineRadio3">Pending</label>
                                            </div> -->
                                            <div class="form-check form-check-inline">
                                                <input (change)="changeSatatus($event,1)" class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio4" value="rejected">
                                                <label class="form-check-label text-danger"
                                                    for="inlineRadio4">Rejected</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table mks-tbl valign-center pt-0">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Interview Title / ID</th>
                                                    <th>Jobseeker Name / ID</th>
                                                    <th>Scheduled Time</th>
                                                    <th>Request / Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let interview of myInterviews">
                                                    <td>
                                                        <div class="si-left df aic">
                                                            <div class="pro-info">
                                                                <p class="fwb mb-0">{{interview?.interviwtitle}}</p>
                                                                <a href="javascript:;" (click)="interviewDetails(interview?.scheduleid)" title="See Interview Details"
                                                                    class="text-primary mb-0 fwm u">{{interview?.interviewid}}</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="si-left df aic">
                                                            <a href="" class="pro-pic rounded-pill mr-4"
                                                                title="See Profile">
                                                                <img src="assets/images/avtar/avtar1.png" width="50"
                                                                    height="50" class="rounded-pill" alt="">
                                                            </a>
                                                            <div class="pro-info">
                                                                <p class="fwb mb-0">{{interview?.jobseekername}}</p>
                                                                <p class="mb-0 text-muted">{{interview?.jobseekerid}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="si-right df aic jcb">
                                                            <span class="pr-3">
                                                                <p>{{interview?.interviewstarttime | date:'MMM d, y,
                                                                    h:mm a'}} -
                                                                    {{interview?.interviewendtime | date:'h:mm
                                                                    a'}}</p>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <b *ngIf="interview?.interviewstatus != 'Interview Request Confirmed' && interview?.interviewstatus != 'New Interview Request'"
                                                            [ngClass]="interview?.interviewstatus == 'Interview Completed'?' badge-success':interview?.interviewstatus == 'Interview Request Rejected'?'badge-danger':''"
                                                            class="badge">{{interview?.interviewstatus}}</b>
                                                        <button
                                                            *ngIf="interview?.interviewstatus == 'Interview Request Confirmed'"
                                                            class="btn btn-primary fwm"
                                                            (click)="start_interview(interview)">Start
                                                            Interview</button>
                                                        <button (click)="sendInterviewResponse(interview,'Interview Request Confirmed')" 
                                                            *ngIf="interview?.interviewstatus == 'New Interview Request'"
                                                            class="btn btn-outline-success fwm">Confirm</button>
                                                        <button (click)="sendInterviewResponse(interview,'Interview Request Rejected')" 
                                                            *ngIf="interview?.interviewstatus == 'New Interview Request'"
                                                            class="btn btn-outline-danger fwm">Reject</button>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="compint" role="tabpanel" aria-labelledby="compint-tab">
                                    <div class="d-flex align-items-center justify-content-between border-bottom">
                                        <h6 class="mb-0 pl-2">Total : {{completedInterviews?.length}} Interviews</h6>
                                        <div class="fwm py-3">
                                            <div class="form-check form-check-inline">
                                                <input (change)="changeSatatus($event,2)" class="form-check-input" type="radio" checked
                                                    name="inlineRadioOptions1" id="inlineRadio11" value="all">
                                                <label class="form-check-label" for="inlineRadio11">All</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input (change)="changeSatatus($event,2)" class="form-check-input" type="radio" name="inlineRadioOptions1"
                                                    id="inlineRadio12" value="closed">
                                                <label class="form-check-label text-success"
                                                    for="inlineRadio12">Completed & Closed</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input (change)="changeSatatus($event,2)" class="form-check-input" type="radio" name="inlineRadioOptions1"
                                                    id="inlineRadio13" value="completed">
                                                <label class="form-check-label text-warning"
                                                    for="inlineRadio13">Interview Completed</label>
                                            </div>
                                            <!-- <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio4" value="option4">
                                                <label class="form-check-label text-danger"
                                                    for="inlineRadio4">Rejected</label>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table mks-tbl valign-center pt-0">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Interview Title / ID</th>
                                                    <th>Jobseeker Name / ID</th>
                                                    <th>Scheduled Time</th>
                                                    <th>Request / Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                

                                                <tr *ngFor="let interview of completedInterviews">
                                                    <td>
                                                        <div class="si-left df aic">
                                                            <div class="pro-info">
                                                                <p class="fwb mb-0">{{interview?.interviwtitle}}</p>
                                                                <a href="javascript:;" (click)="interviewDetails(interview?.scheduleid)" title="See Interview Details"
                                                                    class="text-primary mb-0 fwm u">{{interview?.interviewid}}</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="si-left df aic">
                                                            <a href="#" class="pro-pic rounded-pill mr-4"
                                                                title="See Profile">
                                                                <img src="assets/images/avtar/avtar1.png" width="50"
                                                                    height="50" class="rounded-pill" alt="">
                                                            </a>
                                                            <div class="pro-info">
                                                                <p class="fwb mb-0">{{interview?.jobseekername}}</p>
                                                                <p class="mb-0 text-muted">{{interview?.jobseekerid}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="si-right df aic jcb">
                                                            <span class="pr-3">
                                                                <p class="mb-0 fwsm">{{interview?.interviewstarttime |
                                                                    date:'MMM d, y, h:mm a'}} -
                                                                    {{interview?.interviewendtime | date:'h:mm
                                                                    a'}}</p>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <b *ngIf="interview?.interviewstatus == 'Completed & Closed'"
                                                            class="badge badge-success">Completed & Closed</b>
                                                        <button (click)="complete_feedback(interview)" 
                                                            *ngIf="interview?.interviewstatus == 'Interview Completed (Pending Feedback)'"
                                                            class="btn btn-outline-success">Add Feedback</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<!-- <ejs-dialog id='dialog' #ejDialog [showCloseIcon]=true [closeOnEscape]=false [allowDragging]=false
    [target]='targetElement' [width]='width' (open)="dialogOpen()" (close)="dialogClose()" [visible]='false'>
    <ng-template #header>
        <span class='title'>My Interview</span>
        <span class='e-icons sf-icon-Maximize' id='max-btn' title='Maximize' (click)='maximize()'></span>
        <span class='e-icons sf-icon-Minimize' id='min-btn' title='Minimize' (click)='minimize()'></span>
    </ng-template>
    <ng-template #content>
        <section style="margin-top: 50px !important;" id="int-screen" class="int-screen jobseeker">
            <div class="row mx-0">
                <div class="col-9 pr-0 h-90">
                    <div class="mks-tabs style1">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="video-tab" title="Video" data-toggle="tab" href="#video"
                                    role="tab" aria-controls="video" aria-selected="true"><i class="fas fa-video"></i>
                                    Video</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="resume-tab" title="Resume" data-toggle="tab" href="#resume"
                                    role="tab" aria-controls="resume" aria-selected="false"><i class="fas fa-file"></i>
                                    Resume</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="coder-tab" title="Resume" data-toggle="tab" href="#coder"
                                    role="tab" aria-controls="coder" aria-selected="false"><i class="fas fa-code"></i>
                                    Code Panel</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active h-100 bg-light border" id="video" role="tabpanel"
                                aria-labelledby="video-tab">
                                <div class=" d-flex justify-content-center h-100 align-items-center">
                                    <div class="p-3 text-center">
                                        <div class="text-center">
                                            <img src="assets/images/svg/undraw_feeling_proud_qne1.svg" width="100"
                                                class="mb-5" alt="">
                                        </div>
                                        <h2>Welcome to Vikoona Interview Session</h2>
                                        <div class="text-center">
                                            <button class="btn btn-outline-primary"><i class="fas fa-video"></i> Start
                                                Video</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="resume" role="tabpanel" aria-labelledby="resume-tab">
                                <embed src="assets/images/resume.pdf" class="pdf-viewer" />
                            </div>
                            <div class="tab-pane fade" id="coder" role="tabpanel" aria-labelledby="coder-tab">
                                <textarea name="" id="" cols="20" rows="18" class="h-100 w-100 form-control coder"
                                    placeholder="Start Typing..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="int-screen-ftr row align-items-center justify-content-between pt-2 text-center">
                        <div class="col-sm-3 text-left timer">
                            Duration - <time><b>10:00</b> Min.</time>
                        </div>
                        <div class="col-sm-6 toolbar d-flex justify-content-center align-items-center">
                            <div class="px-2">
                                <button type="button" class="btn active icn rounded-pill">
                                    <i class="fas fa-video-slash"></i>
                                </button>
                                <div><small>Mute Video</small></div>
                            </div>
                            <div class="px-2">
                                <button type="button" class="btn icn active rounded-pill" title="Mute">
                                    <i class="fas fa-microphone-slash"></i>
                                </button>
                                <div><small>Mute Audio</small></div>
                            </div>
                            <div class="px-2">
                                <button type="button" class="btn icn rounded-pill" title="Start Recording">
                                    <i class="fas fa-circle"></i>
                                </button>
                                <div><small>Record</small></div>
                            </div>
                            <div class="px-2">
                                <button type="button" class="btn icn rounded-pill" title="Mute">
                                    <i class="fas fa-object-ungroup"></i>
                                </button>
                                <div><small>Share Screen</small></div>
                            </div>
                        </div>
                        <div class="col-sm-3 text-right">
                            <button class="btn btn-outline-danger"><b>End Interview</b></button>
                        </div>
                    </div>
                </div>
                <div class="col-3 mt-5 h-90">

                    <div class="card mb-3 px-2 bg-dark text-white">
                        <h6 class="py-2 mb-0">Interviewer</h6>
                        <div class="jobseeker-vid position-relative mb-2">
                            <img src="assets/images/freelancer.jpg" class="w-100 h-100" alt="">
                            <button type="button" class="btn pos-bl icn text-white active rounded-pill" title="Mute"
                                disabled>
                                <i class="fas fa-microphone-slash"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card mb-3 px-2 bg-dark text-white">
                        <h6 class="py-2 mb-0">You</h6>
                        <div class="interviewer-vid position-relative mb-2">
                            <img src="assets/images/jobseeker.jpg" class="w-100 h-100" alt="">
                            <button type="button" class="btn pos-bl icn text-white active rounded-pill" title="Mute"
                                disabled>
                                <i class="fas fa-microphone"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-template>
</ejs-dialog> -->