.nav .active{
    background-color: lightgrey;
}

.selected-list .c-list .c-token {
    list-style: none;
    padding: 4px 22px 4px 8px;
    border-radius: 2px;
    margin-right: 4px;
    margin-top: 2px;
    float: left;
    position: relative;
    background: blue !important;
    color: white !important;
}

.selected-list .c-btn {
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    position: relative;
    border: 0.6px solid lightgray !important;
}

.is-invalid .selected-list .c-btn{
    border: 0.6px solid red !important;
}


    