<!-- <div class="container-scroller">
    <app-navbar></app-navbar>
    <div class="container-fluid page-body-wrapper">
        <app-sidebar></app-sidebar>
        <div class="main-panel">
            <div class="content-wrapper">
                <router-outlet></router-outlet>
                <app-footer></app-footer>
            </div>

        </div>
    </div>
</div> -->

<app-navbar></app-navbar>
<div class="profile bgclr">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-3 pr-0 position-relative">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-9 pt-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>