.form-control, .select2-example .select2-container .select2-selection--single, .select2-example .select2-container .select2-selection--multiple, .dataTables_wrapper select, .dataTables_wrapper .dataTables_filter label input, .swal2-modal .swal2-content .swal2-input {
    height: auto;
    padding: 12px;
}
.dashboard-title {
    font-size:24px !important;
}
.card {
    border-radius: 5px !important;
    border:none !important;
}
.badge {
    border-radius: 3px;
    font-size: 15px;
    line-height: 1;
    padding: 10px;
    font-weight: 300;
}
.table th, .dataTables_wrapper .dataTable th, .table td, .dataTables_wrapper .dataTable td {
    padding: 7px;
}
.table td .badge {
    padding: 5px;
}

.validate-label {
    display: block;
    .badge {
        padding: 5px;
    }
    span {
        float: right;
    }
}

.wizard-tab {
    .nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .nav-item {
            -ms-flex: 1 1 auto!important;
            flex: 1 1 auto!important;
            text-align: center;
        }
    }
}


/* loading state */
.btn-loading {
    position: relative;

    /* hide button content */
    &,
    /* hover */
    &:hover,
    /* focus */
    &.focus,
    &:focus,
    /* active */
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    /* disabled */
    &.disabled,
    &:disabled {
        color: transparent;
        fill: transparent;
    }

  
}