/* Create JD */

.profile .sticky-top {
    top: 66px;
}

.pg-head {
    min-height: 48px;
}

.edit-content {
    padding-left: 25px;
}

.edit-content li {
    border-bottom: 1px solid #eaeaea;
}

.edit-content li:last-child {
    border-bottom: none;
}

.edit-content li:hover {
    background-color: #f1f1f1;
}

.pdf-viewer {
    height: 400px;
}

.alert-tags .alert {
    padding: 5px 30px 5px 8px;
    word-break: break-all;
}

.alert-tags .alert.alert-dismissible .close {
    padding: 5px 10px;
}


/* JD listing */

.mw70 {
    min-width: 70px;
}

.lh1 {
    line-height: 1.2;
}
.employeeAts .alert-danger {
    color: #ff0018;
    background-color:transparent;border-color:transparent; padding:0;margin:0
}
.psoRel{position: relative;}
.addSearch{
    position: absolute;
    right: -17px;
    top: 0; padding: 0px 10px;
    line-height: 34px;
    background: #aaaaaa;
    border-width: 1px;
    color: #fff;cursor:pointer;
}
.dotted {-webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    position: absolute;
    top: 0;
    width: 400px; }
   .check span{position: absolute;
        left: 12rem;
        background: #fff;
        padding: 4px 20px;}
        
