<div class="profile-card bg-white mt-3 mb-4 shadow rounded">
  <div class="pg-head aic jcb p-3 bg-light rounded sticky-top">
    <h5 class="mb-0">Ats <a class="float-right" routerLink="/employer/myjobposting"> < Back</a>
    </h5>
    <!-- <div>
            <button class="btn border bg-white">Preview PDF</button>
            <button class="btn btn-primary px-3">Save</button>
        </div> -->
  </div>
  <div class="px-3 pt-3">
    <form method="POST" [formGroup]="employerForm" class="employeeAts">
      <div class="row form-group align-items-center">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">Job Title</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitEmp && fc.jptitle.errors }"
            formControlName="jptitle">
          <div *ngIf="fc.jptitle.errors" class="invalid-feedback">
            <div *ngIf="fc.jptitle.errors.required">{{'Job Title is required'}}
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group align-items-center">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">Industry</label>
        <div class="col-sm-7">
          <select name="" id="currindustry" class="form-control" [ngClass]="{ 'is-invalid': submitEmp && fc.currindustry.errors }"
            formControlName="currindustry">
            <option value="">Select</option>
            <ng-container *ngFor="let subType of industryType">
              <option [value]="subType.industryname">{{subType.industryname}}</option>
            </ng-container>
          </select>
          <div *ngIf="fc.currindustry.errors" class="invalid-feedback">
            <div *ngIf="fc.currindustry.errors.required">{{'industryname Title is required'}}
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group align-items-center">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">Job Role</label>
        <div class="col-sm-7">
          <select name="" id="jobrole" class="form-control" [ngClass]="{ 'is-invalid': submitEmp && fc.jobrole.errors }"
            formControlName="jobrole">
            <option value="">Select</option>
            <ng-container *ngFor="let subType of jobrole.content">
              <option [value]="subType.jobrolename">{{subType.jobrolename}}</option>
            </ng-container>
          </select>
          <div *ngIf="fc.jobrole.errors" class="invalid-feedback">
            <div *ngIf="fc.jobrole.errors.required">{{'Job Title is required'}}
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group align-items-center">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">Location</label>
        <div class="col-lg-3">
         <select name="" id="countryName" class="form-control" [ngClass]="{ 'is-invalid': submitEmp && fc.countryName.errors }"
            formControlName="countryName"  (change)="getSelected($event.target.value, 'countryName')">
            <option value="">Select Country</option>
            <ng-container *ngFor="let subType of countryName">
              <option [value]="subType.id">{{subType.countryname}}</option>
            </ng-container>
          </select>
          <div *ngIf="fc.countryName.errors" class="invalid-feedback">
            <div *ngIf="fc.countryName.errors.required">{{'CountryName is required'}}
            </div>
          </div>
       
      </div>
      <div class="col-lg-2" *ngIf="isState">
          <select name="" id="statename" class="form-control" [ngClass]="{ 'is-invalid': submitEmp && fc.statename.errors }"
            formControlName="statename" (change)="getSelected($event.target.value, 'statename')">
            <option value="">Select State</option>
            <ng-container *ngFor="let subTypes of stateName">
              <option [value]="subTypes.statecode">{{subTypes.statename}}</option>
            </ng-container>
          </select>
          <div *ngIf="fc.statename.errors" class="invalid-feedback">
            <div *ngIf="fc.statename.errors.required">{{'State Name is required'}}
            </div>
          </div>
        </div>     
      <div class="col-lg-2" *ngIf="iscity">
          <select name="" id="cityname" class="form-control" [ngClass]="{ 'is-invalid': submitEmp && fc.cityname.errors }"
            formControlName="cityname">
            <option value="">Select City</option>
            <ng-container *ngFor="let subType of cityName">
              <option [value]="subType.cityname">{{subType.cityname}}</option>
            </ng-container>
          </select>
          <div *ngIf="fc.cityname.errors" class="invalid-feedback">
            <div *ngIf="fc.cityname.errors.required">{{'City Name is required'}}
            </div>
          </div>
        </div>
     
      </div>
      <div class="row form-group align-items-center">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">JD Template</label>
        <div class="col-sm-7">
          <select name="" id="jdtemplate" class="form-control"
            [ngClass]="{ 'is-invalid': submitEmp && fc.jdtemplate.errors }" formControlName="jdtemplate"
            (change)="getSelected($event.target.value, id)">
            <option value="">Select</option>
            <ng-container *ngFor="let subType of jdTemplate">
              <option [value]="subType.id" id="subType.id">{{subType.jdname}}</option>
            </ng-container>
          </select>
          <div *ngIf="fc.jdtemplate.errors" class="invalid-feedback">
            <div *ngIf="fc.jdtemplate.errors.required">{{'JD Template is required'}}
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">Job Responsiblities</label>
        <div class="col-sm-7">
          <div class="border pt-2 rounded">
            <ol class="border-0 mb-2 mb-0 edit-content">
              <li class="py-1 px-2" *ngFor="let subType of listofJobRes">
                <div class="d-flex justify-content-between">
                  <div class="jr-data">{{subType}}</div>
                  <div>
                    <span class="btn-group">
                      <button class="btn bg-white border jr-edti" title="Edit" data-toggle="modal" data-target="#editJd"
                        (click)="editJobRes(subType,'edit','jobRes')"><i class="fas fa-pencil-alt"></i></button>
                      <button class="btn bg-white border jr-del" (click)="editJobRes(subType, 'del', 'jobRes')"><i
                          class="far fa-trash-alt"></i></button>
                    </span>
                  </div>
                </div>
              </li>
            </ol>
            <div class="text-right bg-light p-2">
              <button class="btn bg-white btn-sm border" data-toggle="modal" data-target="#updateJd">+Add more</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group align-items-center">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">Job Type</label>
        <div class="col-sm-7">
          <select name="" id="jobtype" class="form-control" [ngClass]="{ 'is-invalid': submitEmp && fc.jobtype.errors }"
            formControlName="jobtype">
            <option value="">Select Type</option>
            <option value="Full Time">Full Time</option>
            <option value="Part Time">Part Time</option>
          </select>
          <div *ngIf="fc.jobtype.errors" class="invalid-feedback">
            <div *ngIf="fc.jobtype.errors.required">{{'Job Type is required'}}
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group align-items-center">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">Salary Range</label>
        <div class="col-sm-7">
          <select name="" id="salrange" class="form-control"
            [ngClass]="{ 'is-invalid': submitEmp && fc.salrange.errors }" formControlName="salrange">
            <option value="">Select Range</option>
            <option value="4-5Lac">4Lac - 5Lac</option>
            <option value="5-6Lac">5Lac - 6Lac</option>
            <option value="15-20Lac">5 - 20Lac</option>
          </select>
          <div *ngIf="fc.salrange.errors" class="invalid-feedback">
            <div *ngIf="fc.salrange.errors.required">{{'Salary Range is required'}}
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group align-items-center">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">Job Open Date</label>
        <div class="col-sm-3">
          <input name ="somedate" type="date" class="form-control" [ngClass]="{ 'is-invalid': submitEmp && fc.jobOpenDate.errors }"
            formControlName="jobOpenDate">
          <div *ngIf="fc.jobOpenDate.errors" class="invalid-feedback">
            <div *ngIf="fc.jobOpenDate.errors.required">{{'Job Open Date is required'}}
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <input type="time" class="form-control" [ngClass]="{ 'is-invalid': submitEmp && fc.jobOpenTime.errors }"
            formControlName="jobOpenTime">
          <div *ngIf="fc.jobOpenTime.errors" class="invalid-feedback">
            <div *ngIf="fc.jobOpenTime.errors.required">{{'Job Open Date is required'}}
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group align-items-start">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">List of Requirements</label>
        <div class="col-sm-7">
          <div class="border pt-2 rounded">
            <ol class="border-0 mb-2 mb-0 edit-content">
              <li class="py-1 px-2" *ngFor="let subType of listofRequiremnts">
                <div class="d-flex justify-content-between aic">
                  <span class="jr-data">{{subType}}</span>
                  <span>
                    <button class="btn bg-white border jr-edti" title="Edit"  data-toggle="modal" data-target="#editListReq"
                    (click)="editJobRes(subType,'edit','listReq')"> <i class="fas fa-pencil-alt"></i></button>
                    <button class="btn bg-white border jr-del" title="Delete" (click)="editJobRes(subType,'del','listReq')">
                      <i class="far fa-trash-alt"></i></button>
                  </span>
                </div>
              </li>
            </ol>
            <div class="text-right bg-light p-2">
              <button class="btn bg-white btn-sm border" data-toggle="modal" data-target="#updatelistReq">+Add more</button>
            </div>
          </div>
        </div>

      </div>
      <div class="row form-group align-items-center">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">Hiring Manager</label>
        <div class="col-sm-6 psoRel">
          <input type="search" class="form-control" [ngClass]="{ 'is-invalid': submitEmp && fc.hiringmgr.errors }"
            formControlName="hiringmgr" [(ngModel)]="hiringmgr" disabled>
          <span class="addSearch" data-toggle="modal" data-target="#hiringmgr"><i class="fa fa-search"
              aria-hidden="true"></i></span>
          <div *ngIf="fc.hiringmgr.errors" class="invalid-feedback">
            <div *ngIf="fc.hiringmgr.errors.required">{{'Hiring Manager is required'}}
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group align-items-center">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">Hr Owner</label>
        <div class="col-sm-6 psoRel">
          <input type="search" class="form-control" [ngClass]="{ 'is-invalid': submitEmp && fc.hrowner.errors }"
            formControlName="hrowner" [(ngModel)]="hrowner" disabled>
          <span class="addSearch" data-toggle="modal" data-target="#hrowner"><i class="fa fa-search"
              aria-hidden="true"></i></span>
          <div *ngIf="fc.hrowner.errors" class="invalid-feedback">
            <div *ngIf="fc.hrowner.errors.required">{{'Hr Owner is required'}}
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group align-items-center">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">Exp. Required</label>
        <div class="col-auto">
          <select name="" id="expreqyears" class="form-control"
            [ngClass]="{ 'is-invalid': submitEmp && fc.expreqyears.errors }" formControlName="expreqyears">
            <option value="">Select Year</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          <div *ngIf="fc.expreqyears.errors" class="invalid-feedback">
            <div *ngIf="fc.expreqyears.errors.required">{{'Experience Years is required'}}
            </div>
          </div>
        </div>
        <div class="col-auto">
          <select name="" id="expReqMonths" class="form-control"
            [ngClass]="{ 'is-invalid': submitEmp && fc.expReqMonths.errors }" formControlName="expReqMonths">
            <option value="">Select Month</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          <div *ngIf="fc.expReqMonths.errors" class="invalid-feedback">
            <div *ngIf="fc.expReqMonths.errors.required">{{'Experience Months is required'}}
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group align-items-center">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">Round Required</label>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="rr1" (click)="roundSelected('mcq')"
              formControlName="mcqflag">
            <label class="form-check-label pl-2" for="rr1">MCQ<br>
              <small class="text-muted">(Automated)</small>
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="rr2" (click)="roundSelected('hr')"
              formControlName="hrflag">
            <label class="form-check-label pl-2" for="rr2">HR<br>
              <small class="text-muted">(Automated)</small>
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="rr3" formControlName="hmflag">
            <label class="form-check-label pl-2" for="rr3">HM/MR Round
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="rr4" formControlName="debriefflag">
            <label class="form-check-label pl-2" for="rr4">Debrief
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="rr5" (click)="roundSelected('aibased')"
              formControlName="allowaiflag">
            <label class="form-check-label pl-2" for="rr5">AI Based<br>
              <small class="text-muted">(Voice Assitance)</small>
            </label>
          </div>
        </div>
      </div>
      <div class="row form-group align-items-center" *ngIf="ishr">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">Choose Template (HR)</label>
        <div class="col-sm-7">
          <!-- <input type="text" class="form-control" formControlName="choseTemp"> -->
          <select name="" id="choseTemp" class="form-control" formControlName="hrtemplate">
            <option value="">Select</option>
            <ng-container *ngFor="let subType of choseHRTemp">
              <option [value]="subType.templatename">{{subType.templatename}}</option>
            </ng-container>
          </select>
        </div>
        <!-- <div
          *ngIf="employerForm.controls['choseTemp'].invalid && (employerForm.controls['choseTemp'].dirty || employerForm.controls['choseTemp'].touched)"
          class="alert alert-danger">
          <div *ngIf="employerForm.controls['choseTemp'].errors.required">
            Choose Tem is required.
          </div>
        </div> -->
      </div>
      <div class="row form-group align-items-center" *ngIf="ismcq">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">Choose Template (MCQ)</label>
        <div class="col-sm-7">
          <!-- <input type="text" class="form-control" formControlName="mcq"> -->
          <select name="" id="choseTemp" class="form-control" formControlName="mcqtemplate">
            <option value="">Select</option>
            <ng-container *ngFor="let subType of choseMCQTemp">
              <option [value]="subType.templatename">{{subType.templatename}}</option>
            </ng-container>
          </select>
        </div>
        <!-- <div
          *ngIf="employerForm.controls['mcq'].invalid && (employerForm.controls['mcq'].dirty || employerForm.controls['mcq'].touched)"
          class="alert alert-danger">
          <div *ngIf="employerForm.controls['mcq'].errors.required">
            Choose MCQ is required.
          </div>
        </div> -->
      </div>
      <div class="row form-group align-items-center" *ngIf="isaibased">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">Choose Template (AI)</label>
        <div class="col-sm-7">
          <select name="" id="choseTemp" class="form-control" formControlName="aitemplate">
            <option value="">Select</option>
            <!-- <ng-container *ngFor="let subType of choseAITemp">
                <option [value]="subType.templatename">{{subType.templatename}}</option>
              </ng-container> -->
            <option value="selecttemp1">Select AI Template 1</option>
            <option value="selecttemp2">Select AI Template 2</option>
          </select>
        </div>
      </div>
      <div class="row form-group align-items-center">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">Type Of F2F Round</label>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="rr" formControlName="loopflag">
            <label class="form-check-label pl-2" for="rr1">Loop
            </label>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="rr" formControlName="elimflag">
            <label class="form-check-label pl-2" for="rr2">Elimination
            </label>
          </div>
        </div>


      </div>
      <div class="row form-group align-items-center">
        <label class="col-sm-3 pr-0 text-sm-right mb-0">No of F2F Loops(Video Recordings Based)</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitEmp && fc.f2frounds.errors }"
            formControlName="f2frounds">
          <div *ngIf="fc.f2frounds.errors" class="invalid-feedback">
            <div *ngIf="fc.f2frounds.errors.required">{{'Face 2 face is required'}}
            </div>
          </div>
        </div>
      </div>
      <div class="text-right bg-light p-3">
        <button type="button" class="btn btn-primary px-3 ml-1 btnSet" (click)="saveandnext(content)">Save &
          Next</button>
      </div>

    </form>
  </div>

</div>

<!-- Modal -->
<ng-template #content let-modal>
  <!-- <div class="modal">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content"> -->
        <div class="modal-header">
          <h5 class="modal-title" id="pdfPreModalLabel">JD Preview</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Save click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body h-100">
          <div class="row mx-0 h-100 align-items-start">
            <div class="col-sm-8 bg-light py-3 search-item overflow-auto">
              <h4>
                <small class="fwm">Job Title</small><br>
                <span>{{jobtitle}}</span>
              </h4>
              <hr>
              <h4>
                <small class="fwm">Job Description</small>
              </h4>
              <ol>
                <li *ngFor="let subType of listofJobRes">{{subType}}</li>
              </ol>
            </div>
            <div class="col-sm-4">
              <div class="row form-group align-items-center">
                <label for="" class="col fwsb h5">Search Keyword</label>
                <div class="col-12 d-flex flex-wrap alert-tags h-100 overflow-auto">
                  <div class="alert alert-secondary alert-dismissible fade show mb-2 mr-2" role="alert">
                    <strong>Holy guacamole!</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="alert alert-secondary alert-dismissible fade show mb-2 mr-2" role="alert">
                    <strong>Holy</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="alert alert-secondary alert-dismissible fade show mb-2 mr-2" role="alert">
                    <strong>Lorem ispum</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
                <div class="col-12 mt-2">
                  <input type="text" id="keywordTag" placeholder="Add Keyword" data-role="tagsinput"
                    class="form-control mb-2" [(ngModel)]="keywordSearch">
                  <button class="btn btn-primary btn-sm" type="button" onclick="addTags()">+Add more keywords</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn border bg-white" data-dismiss="modal"
            (click)="modal.close('Save click')">Back</button>
          <button class="btn btn-outline-primary ml-1" (click)="generatePDF()">Generate PDF</button>
          <button class="btn btn-outline-primary ml-1">Save as JD Template</button>
          <button class="btn btn-outline-primary ml-1" (click)="saveJobPost()">Save Job Posting</button>
          <button type="button" class="btn btn-primary" (click)="saveJobPost()">Save Both</button>
        </div>
      <!-- </div>
    </div>
  </div> -->
</ng-template>

<!----------Add Jd Rows-->
<div class="modal fade" id="updateJd" tabindex="-1" aria-labelledby="updateJd" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="competenciesModalLabel">Add JD Template</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="" class="req text-info">Enter Job Responsiblities</label>
            <!-- <input type="text" class="form-control"> -->
            <textarea id="jdDesc" rows="4" cols="80" class="form-control" [(ngModel)]="jdDesc"
              [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <!-- <div class="form-group">
            <label for="" class="req text-info">Enter Discription Type</label>
            <textarea id="desctype" rows="4" cols="80" class="form-control" [(ngModel)]="desctype"
              [ngModelOptions]="{standalone: true}"></textarea>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addNewJobRes();">Save</button>
      </div>
    </div>
  </div>
</div>

<!----------Add ListRequirements Rows-->
<div class="modal fade" id="updatelistReq" tabindex="-1" aria-labelledby="updatelistReq" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="competenciesModalLabel">Add List Of Requirements</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="" class="req text-info">Enter List Of Requirements</label>
            <!-- <input type="text" class="form-control"> -->
            <textarea id="listReq" rows="4" cols="80" class="form-control" [(ngModel)]="listReq"
              [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <!-- <div class="form-group">
            <label for="" class="req text-info">Enter Discription Type</label>
            <textarea id="desctype" rows="4" cols="80" class="form-control" [(ngModel)]="desctype"
              [ngModelOptions]="{standalone: true}"></textarea>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addNewListReq();">Save</button>
      </div>
    </div>
  </div>
</div>
<!---------edit jd rows-->

<div class="modal fade" id="editJd" tabindex="-1" aria-labelledby="editJd" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="competenciesModalLabel">Edit JD Template</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="" class="req text-info">Edit Job Responsiblities</label>
            <!-- <input type="text" class="form-control"> -->
            <textarea id="jdDesc" rows="4" cols="80" class="form-control" [(ngModel)]="editjdData"
              [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="editJD('edit','jobRes');">Save</button>
      </div>
    </div>
  </div>
</div>

<!---------edit ListRequirements rows-->

<div class="modal fade" id="editListReq" tabindex="-1" aria-labelledby="editListReq" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="competenciesModalLabel">Edit List Requirements Template</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="" class="req text-info">Edit List Requirements</label>
            <!-- <input type="text" class="form-control"> -->
            <textarea id="listReq" rows="4" cols="80" class="form-control" [(ngModel)]="editjdData"
              [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="editJD('edit','listReq');">Save</button>
      </div>
    </div>
  </div>
</div>

<!---------Hiring Manger-->

<div class="modal fade" id="hiringmgr" tabindex="-1" aria-labelledby="hiringmgr" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="competenciesModalLabel">Hiring Manger</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="" class="req text-info">Employee Id</label>
            <!-- <input type="text" class="form-control"> -->
            <input type="text" id="empId" class="form-control" [(ngModel)]="empId"
              [ngModelOptions]="{standalone: true}" />
          </div>
          <div class="psoRel check">
            <hr class='dotted' /><span>OR</span>
          </div> <br /> <br />
          <div class="clearfix"></div>
          <div class="form-group">
            <label for="" class="req text-info">Employee Email</label>
            <!-- <input type="text" class="form-control"> -->
            <input type="text" id="empEmail" class="form-control" [(ngModel)]="empEmail"
              [ngModelOptions]="{standalone: true}" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="clickSearch('hiringmgr')">Search</button>
      </div>
    </div>
  </div>
</div>

<!------hrowner-->

<div class="modal fade" id="hrowner" tabindex="-1" aria-labelledby="hrowner" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="competenciesModalLabel">Hr Owner</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="" class="req text-info">Employee Id</label>
            <!-- <input type="text" class="form-control"> -->
            <input type="text" id="empId" class="form-control" [(ngModel)]="empId"
              [ngModelOptions]="{standalone: true}" />
          </div>
          <div class="psoRel check">
            <hr class='dotted' /><span>OR</span>
          </div> <br /> <br />
          <div class="clearfix"></div>
          <div class="form-group">
            <label for="" class="req text-info">Employee Email</label>
            <!-- <input type="text" class="form-control"> -->
            <input type="text" id="empEmail" class="form-control" [(ngModel)]="empEmail"
              [ngModelOptions]="{standalone: true}" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="clickSearch('hrowner')">Search</button>
      </div>
    </div>
  </div>
</div>