<div class="step-form step4 px-3 pt-3">
    <form [formGroup]="otherInfo" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-sm-12">
                <h6 class="fwb mb-4">Other Details</h6>

                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Rate/Hour</label>
                    <div class="col-sm-7">
                        <input [ngClass]="{'is-invalid':submitted && f.perhourrate.errors}" type="number" formControlName="perhourrate" class="form-control"
                            placeholder="Rate/hour" />
                    </div>
                </div>

                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Currency</label>
                    <div class="col-sm-5">
                        <select [ngClass]="{'is-invalid':submitted && f.currency.errors}" formControlName="currency" id="" class="form-control">
                            <option value="">--select--</option>
                            <option value="INR">
                                INR
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 offset-sm-1 text-right mb-0">Keywords</label>
                    <div class="col-sm-7">
                        <textarea [ngClass]="{'is-invalid':submitted && f.keywords.errors}" type="text" formControlName="keywords" class="form-control" placeholder="Keywords"></textarea>
                    </div>
                </div>


            </div>
        </div>
        <div class="text-right df jcb bg-light mx-n3 p-3">
            <button type="button" (click)="previous()" class="btn btn-secondary"> Previous (Roles)</button>
            <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="submit"
                class="btn btn-primary">Next (Review)</button>
        </div>
    </form>
</div>