<div class="step-form step1 px-3 pt-3">
    <form [formGroup]="basicForm" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-sm-12">

                <h6 class="fwb mb-4">Basic Information</h6>
                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 text-right mb-0">Title</label>
                    <div class="col-sm-4">
                        <select formControlName="title" [ngClass]="{'is-invalid':submitted && f.title?.errors}" id=""
                            class="form-control">
                            <option value="">--select--</option>
                            <option value="Mr">Mr.</option>
                            <option value="Mrs">Mrs.</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 text-right mb-0">Gender</label>
                    <div class="col-sm-9">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="gender" id="inlineRadio1"
                                value="Male">
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="gender" id="inlineRadio2"
                                value="Female">
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="gender" id="inlineRadio3"
                                value="Transgender">
                            <label class="form-check-label" for="inlineRadio3">Transgender</label>
                        </div>
                    </div>
                </div>
                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 text-right mb-0">First Name</label>
                    <div class="col-sm-8">
                        <input formControlName="fname" [ngClass]="{'is-invalid':submitted && f.fname?.errors}"
                            type="text" class="form-control">
                    </div>
                </div>
                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 text-right mb-0">Last Name</label>
                    <div class="col-sm-8">
                        <input formControlName="lname" [ngClass]="{'is-invalid':submitted && f.lname?.errors}"
                            type="text" class="form-control">
                    </div>
                </div>
                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 text-right mb-0">Nationality</label>
                    <div class="col-sm-8">
                        <select formControlName="nationality" id="" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f.nationality?.errors}">
                            <option value="">--select--</option>
                            <option [value]="country.countryname" *ngFor="let country of countryList">
                                {{country.countryname}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 text-right mb-0">Language</label>
                    <div class="col-sm-8">
                        <angular2-multiselect [ngClass]="{'is-invalid':submitted && f.language?.errors}"
                            [data]="languageList" formControlName="language" [settings]="dropdownSettings"
                            (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                </div>
                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 text-right mb-0">Date Of Birth</label>
                    <div class="col-sm-4">
                        <input formControlName="dob" [ngClass]="{'is-invalid':submitted && f.dob?.errors}" type="date"
                            class="form-control">
                    </div>
                </div>
                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 text-right mb-0">Current
                        Salary<br><small>Annualy</small></label>
                    <div class="col-sm-8">
                        <div class="form-inline">
                            <select formControlName="currsallac"
                                [ngClass]="{'is-invalid':submitted && f.currsallac?.errors}" id="" class="form-control">
                                <option value="">Lacs</option>
                                <option *ngFor="let n of numbers;" [value]="">{{n}}</option>
                            </select>
                            <select formControlName="currsalth"
                                [ngClass]="{'is-invalid':submitted && f.currsalth?.errors}" id="" class="form-control">
                                <option value="">Thousand</option>
                                <option *ngFor="let n of numbers;" [value]="">{{n}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row form-group align-items-center">
                    <label class="col-sm-3 pr-0 text-right mb-0">Upload Resume</label>
                    <div class="col-sm-9 input-group">
                        <input readonly placeholder="upload resume" formControlName="resumeurl"
                            [ngClass]="{'is-invalid':submitted && f.resumeurl?.errors}" type="text"
                            class="form-control">
                        <input #resumeRef (change)="uploadResumeFile($event)" type="file" style="display: none;">
                        <button type="button" (click)="resumeRef.click()" style="border-radius: 0px !important;" class="btn btn-sm btn-info">Browse</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right bg-light mx-n3 p-3">
            <button [disabled]="(basicProfile && basicProfile.status == 'Pending_Approval')?true:false" type="submit" class="btn btn-primary">Next (Job Info)</button>
        </div>
    </form>
</div>