<div class="row">
    <div class="col-md-12 col-xl-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    <div class="card-title">
                        <h4>Freelancer Payments</h4>
                    </div>
                </div>
                <ngb-tabset>
                    <ngb-tab title="Waiting For Approval">
                        <ng-template ngbTabContent class="tab-pane fade" id="waitting-1" aria-labelledby="waitting-tab">
                            <div class="media">
                                <div class="media-body">
                                    <!-- <div class="row">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="date" id="from" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="date" id="to" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <button class="btn btn-success">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Freelancer Id</th>
                                                        <th>Interview Id</th>
                                                        <th>Payment Status</th>
                                                        <!-- <th>Approval Date</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let pending of pendingPayments">
                                                        <td>{{pending.freelancerid}}</td>
                                                        <td><a [routerLink]="['/admin/view-feedback']" [queryParams]="pending">{{pending.interviewid}}</a></td>
                                                        <td>{{pending.paymentstatus}}</td>
                                                        <!-- <td>2 Oct 2020</td> -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Approved Payments">
                        <ng-template ngbTabContent class="tab-pane fade" id="approved-1" aria-labelledby="approved-tab">
                            <div class="media">
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <!-- <label for="from">Form</label> -->
                                                        <input type="date" id="from" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <!-- <label for="to">To</label> -->
                                                        <input type="date" id="to" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <button class="btn btn-success">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Freelancer Id</th>
                                                        <th>Interview Id</th>
                                                        <th>Payment Status</th>
                                                        <th>Approval Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let approved of approvedPayments">
                                                        <td>{{approved.freelancerid}}</td>
                                                        <td>{{approved.interviewid}}</td>
                                                        <td>Approved Payment</td>
                                                        <td>{{approved.approvaldate}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>