
<app-navbar></app-navbar>
<div class="profile bgclr">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-3 pr-0 position-relative">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-9 pt-3">
              <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>