<div class="row">
    <div class="col-lg-12"></div>
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                View/Update Profile
                <a routerLink="/jobseeker/add-profile" class="float-right"><i style="font-size: 25px;"
                        class="fa fa-edit"></i></a>
            </div>
        </div>
        <div class="card-body">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Personal Details</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3">
                                <label>User Id:</label>
                            </div>
                            <div class="col-lg-3">
                                {{basicProfile?.id}}
                            </div>
                            <div class="col-lg-3">
                                <label>Title:</label>
                            </div>

                            <div class="col-lg-3">
                                {{basicProfile?.title}}
                            </div>
                            <div class="col-lg-3">
                                <label>First Name:</label>
                            </div>
                            <div class="col-lg-3">
                                {{basicProfile?.fname}}
                            </div>
                            <div class="col-lg-3">
                                <label>Last Name:</label>
                            </div>

                            <div class="col-lg-3">
                                {{basicProfile?.lname}}
                            </div>
                            <div class="col-lg-3">
                                <label>Mobile:</label>
                            </div>
                            <div class="col-lg-3">
                                {{basicProfile?.mobile}}
                            </div>
                            <div class="col-lg-3">
                                <label>Email ID:</label>
                            </div>

                            <div class="col-lg-3">
                                {{username}}
                            </div>
                            <div class="col-lg-3">
                                <label>Gender:</label>
                            </div>
                            <div class="col-lg-3">
                                {{basicProfile?.gender}}
                            </div>
                            <div class="col-lg-3">
                                <label>Nationality:</label>
                            </div>

                            <div class="col-lg-3">
                                {{basicProfile?.nationality}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3">
                                <label>ID Type:</label>
                            </div>
                            <div class="col-lg-3">
                                {{basicProfile?.identityprooftype}}
                            </div>
                            <div class="col-lg-3">
                                <label>Id Number:</label>

                            </div>
                            <div class="col-lg-3">
                                {{basicProfile?.identityNumber}}
                            </div>

                            <div class="col-lg-3">
                                <label>Attached ID Proof:</label>
                            </div>
                            <div class="col-lg-9">
                                {{getFileName(basicProfile?.idproofurl)}}
                            </div>
                            <div class="col-lg-3">
                                <label>Pan Number:</label>
                            </div>
                            <div class="col-lg-3">
                                {{basicProfile?.taxidnumber}}
                            </div>
                            <div class="col-lg-3">
                                <label>Pan Photo:</label>
                            </div>

                            <div class="col-lg-3">
                                {{getFileName(basicProfile?.taxproofurl)}}

                            </div>
                            <div class="col-lg-3">
                                <label>Language:</label>
                            </div>
                            <div class="col-lg-9">
                                {{basicProfile?.language}}
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Contact Details</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Address Line1:</label>
                            </div>
                            <div class="col-lg-3">
                                {{basicProfile?.address1}}
                            </div>
                            <div class="col-lg-3">
                                <label>Address Line2:</label>
                            </div>
                            <div class="col-lg-3">
                                {{basicProfile?.address2}}
                            </div>

                            <div class="col-lg-3">
                                <label>Country:</label>
                            </div>
                            <div class="col-lg-3">
                                {{basicProfile?.country}}
                            </div>
                            <div class="col-lg-3">
                                <label>State:</label>
                            </div>
                            <div class="col-lg-3">
                                {{basicProfile?.state}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3">
                                <label>City:</label>
                            </div>
                            <div class="col-lg-3">
                                {{basicProfile?.city}}
                            </div>
                            <div class="col-lg-3">
                                <label>District:</label>
                            </div>
                            <div class="col-lg-3">
                                {{basicProfile?.district}}
                            </div>
                            <div class="col-lg-3">
                                <label>Attach Proof Of Address:</label>
                            </div>
                            <div class="col-lg-9">
                                {{getFileName(basicProfile?.addressurl)}}
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset class="scheduler-border" *ngIf="educationDetail?.length>0">
                <legend class="scheduler-border">Education Details</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-responsive">
                            <tr>
                                <th>Education Level</th>
                                <th>Institute/School Name</th>
                                <th>Board/University</th>
                                <th>Address of Institute</th>
                                <th>Marks</th>
                                <th>Year of Completion</th>
                                <th>Certificate Attachment</th>

                            </tr>
                            <!-- Repeat This Row -->
                            <tr *ngFor="let education of educationDetail; let i=index">
                                <td>{{education.education_type}} </td>
                                <td>{{education.institute_name}} </td>
                                <td>{{education.board}} </td>
                                <td>{{education.institute_address}} </td>
                                <td> {{education.percent_marks}}</td>
                                <td> {{education.yearofpassing}}</td>
                                <td>{{getFileName(education.certificate_url)}} </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </fieldset>

            <fieldset class="scheduler-border" *ngIf="jobDetail.length>0">
                <legend class="scheduler-border">Job Details</legend>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-responsive">
                            <tr>
                                <th>Organization</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Designation</th>
                                <th>Role & Resp</th>
                                <th>Role</th>
                                <th>Experience Certificate</th>
                                <th>Joining Letter</th>
                            </tr>
                            <!-- Repeat This Row -->
                            <tr *ngFor="let job of jobDetail; let j=index">
                                <td> {{job.orgname}}</td>
                                <td> {{ job.startdate | date:'MMM dd, yyyy'}} </td>
                                <td> {{ job.endDate | date:'MMM dd, yyyy'}} </td>
                                <td> {{job.designation}}</td>
                                <td> {{job.rolensrep}}</td>
                                <td> {{job.role_name}}</td>
                                <td> {{getFileName(job.expcert_url)}}</td>
                                <td> {{getFileName(job.joining_letter_url)}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </fieldset>

            <fieldset class="scheduler-border" *ngIf="jobCompetencyDetail?.length>0 || jobProfile">
                <legend class="scheduler-border">Job Profile</legend>

                <div *ngIf="jobCompetencyDetail?.length>0">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-bordered table-responsive">
                                <tr>
                                    <th>Competency</th>
                                    <th>Skill</th>
                                    <th>Year</th>
                                    <th>Scale(1-10)</th>

                                </tr>
                                <!-- Repeat This Row -->
                                <tr *ngFor="let comp of jobCompetencyDetail; let k=index">
                                    <td> {{comp.competencyname}} </td>
                                    <td> {{comp.skillname}} </td>
                                    <td> {{comp.years_of_exp}} </td>
                                    <td> {{comp.competencyscale}} </td>

                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <br>

                <!-- <div class="row" *ngIf="jobProfile">
                    <hr>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Aspired Role 1:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.role_name_1}}
                            </div>
                            <div class="col-lg-4">
                                <label>Aspired Role 2:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.role_name_2}}
                            </div>
                            <div class="col-lg-4">
                                <label>Aspired Role 3:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.role_name_3}}
                            </div>
                            <div class="col-lg-4">
                                <label>Attached Resume:</label>
                            </div>
                            <div class="col-lg-8">
                                {{getFileName(jobProfile.resume_url)}}
                            </div>
                            <div class="col-lg-4">
                                <label>FaceBook ID:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.facebook_id}}
                            </div>
                            <div class="col-lg-4">
                                <label>Twitter ID:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.twitter}}
                            </div>
                            <div class="col-lg-4">
                                <label>Instagram ID:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.insta}}
                            </div>
                            <div class="col-lg-4">
                                <label>Linkedin ID:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.linkedin}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Current CTC:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.ctc}}
                            </div>
                            <div class="col-lg-4">
                                <label>Expected CTC:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.expected_ctc}}
                            </div>

                            <div class="col-lg-4">
                                <label>Currency:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.currency}}
                            </div>
                            <div class="col-lg-4">
                                <label>Reference 1 - Name:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.ref1_name}}
                            </div>
                            <div class="col-lg-4">
                                <label>Reference 2 - Name:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.ref2_name}}
                            </div>
                            <div class="col-lg-4">
                                <label>Reference 3 - Name:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.ref3_name}}
                            </div>
                            <div class="col-lg-4">
                                <label>Reference 1 - Address:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.ref1_address}}
                            </div>
                            <div class="col-lg-4">
                                <label>Reference 2 - Address:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.ref2_address}}
                            </div>

                            <div class="col-lg-4">
                                <label>Reference 3 - Address:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.ref3_address}}
                            </div>

                            <div class="col-lg-4">
                                <label>Reference 1 - Mobile:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.ref1_mobile}}
                            </div>
                            <div class="col-lg-4">
                                <label>Reference 2 - Mobile:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.ref2_mobile}}
                            </div>
                            <div class="col-lg-4">
                                <label>Reference 3 - Mobile:</label>
                            </div>
                            <div class="col-lg-8">
                                {{jobProfile.ref3_mobile}}
                            </div>
                        </div>
                    </div>
                </div> -->

            </fieldset>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-lg-12">
        <h4>Personal Details</h4>
    </div>
</div> -->